// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$gap: 4.5rem;

@media screen and (max-width: 1600px) {
  $gap: 3rem;
}


/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue', Arial, sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: #16161d !default;

$light-text-color: #c9c9c9;
$midgrey: $light-text-color;

/// Main brand color
/// @type Color
$brand-color: #eb0c38 !default;
$red: $brand-color;

$darkgrey: #727272;
$grey: #f2f1f1;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'xs': (max-width: 480px),
  'sm': (max-width: 640px),
  'md': (max-width: 960px),
  'lg': (max-width: 1024px),
  'xl': (max-width: 1024px),
  'xxl': (max-width: 1600px),
) !default;

$breakpoint-values: (400px, 960px, 1024px, 1200px, 1600px);




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
