// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn,
button {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #fff;
    background-color: $red;
    border: 0 none;
    cursor: pointer;
    &.secondary {
        background-color: transparent;
        color: $red;
        text-decoration: underline;
    }
}