form {
    .form-row {
        position: relative;
        // margin-top: 3rem;
        padding: 2rem 0 0;

        &.button {
            padding: 0;
            margin-top: 8rem;
            text-align: center;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            position: relative;
            width: 100%;
            font-family: $text-font-stack;
            color: $text-color;
            padding: 0.5rem 0;
            border: 0 none;
            border-bottom: 1px solid $text-color;
            appearance: none;
            border-radius: 0;

            // & + label {
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            // }
        }

        // input[type="checkbox"],
        // input[type="radio"] {
        //     & + label {
        //         margin-left: 1rem;
        //     }
        // }

        label {
            // font-size: 1rem;
            // line-height: 18px;
            color: $darkgrey;
        }


        textarea {
            resize: vertical;
            min-height: 86px;
        }
    }

    button {
        margin: 0 auto;
    }
}