.select2 {
    &-selection {
        &--single, &--multiple {
            border-color: #727272 !important;
            border-radius:  0 !important;
        }

        &__clear {
            color: black !important;
        }

        &__choice {
            margin-bottom: 0 !important;
        }
    }

    &-search__field {
        min-height: 0 !important;
    }

    &-results {
        
        &__options {

        }

        &__option {
            padding: 5px !important;
            margin: 0 !important;
        }
    }
}