// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
    box-sizing: border-box;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

body {
    // margin-top: 131px;
    // @media screen and (max-width: 640px) {
    //     margin-top: 99px;
    // }
    &.nav-open {
        overflow: hidden !important;
    }
}

html,
body {
    height: 100%;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

video {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-appearnce: none;
}

figure {
    display: block;
    margin: 0;
}

a {
    color: $red;
    transition: all 0.4s ease;
    &.more {
        display: inline-block;
        // margin-top: 2.5rem;
    }
    @media screen and (max-width: 768px) {
        &.more {
            margin-top: 0;
        }
    }
    &[name] {
        position: relative;
        top: -10rem;
    }
}

ol,
ul {
    margin: 0;
    padding-left: 1.5rem;
    li {
        padding-left: 0;
    }
}

img[src=""],
img:not([src]){
    visibility: hidden;
}

.grid {
    display: grid;
    &.grid-3 {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4.5rem;
        .cell {
            &.full {
                grid-column: 1 / 4;
            }
            &.cell-left2 {
                grid-column: 1 / span 2;
            }
            &.cell-right2 {
                grid-column: 2 / 4;
            }
        }
    }
    &.grid-2 {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4.5rem;
    }
    &.grid-6 {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 4.5rem;
        .cell {
            &.cell-left3 {
                grid-column: 1 / span 3;
            }
            &.cell-right3 {
                grid-column: 3 / 6;
            }
            &.start1 {
                grid-column-start: 1;
            }
            &.start2 {
                grid-column-start: 2;
            }
            &.start3 {
                grid-column-start: 3;
            }
            &.start4 {
                grid-column-start: 4;
            }
            &.start5 {
                grid-column-start: 5;
            }
            &.start6 {
                grid-column-start: 6;
            }
            &.end2 {
                grid-column-end: 2;
            }
            &.end3 {
                grid-column-end: 3;
            }
            &.end4 {
                grid-column-end: 4;
            }
            &.end5 {
                grid-column-end: 5;
            }
            &.end6 {
                grid-column-end: 6;
            }
            &.end7 {
                grid-column-end: 7;
            }
            &.span1 {
                -ms-grid-column-span: 1;
            }
            &.span2 {
                -ms-grid-column-span: 2;
            }
            &.span3 {
                -ms-grid-column-span: 3;
            }
            &.span4 {
                -ms-grid-column-span: 4;
            }
            &.span5 {
                -ms-grid-column-span: 5;
            }
        }
    }
    &.tight {
        grid-gap: 0 !important;
        .cell {
            margin: 0 !important;
        }
    }
    @media screen and (max-width: 1600px) {
        &.grid-3,
        &.grid-6 {
            grid-gap: 3rem;
        }
    }
    @media screen and (max-width: 768px) {
        &.grid-2,
        &.grid-3,
        &.grid-6 {
            grid-gap: 2rem;
            grid-template-columns: 1fr;
        }
        .cell {
            grid-column: 1 / 2 !important;
            min-width: 0;
            min-height: 0;
        }
    }
    @media screen and (max-width: 480px) {
        &.grid-3,
        &.grid-6 {
            grid-gap: 20px;
        }
        .cell {
            grid-column: 1;
        }
    }
}

.flex {
    display: flex;
}

section {
    // padding: clamp(8rem, 10vh, 10rem) 0;
    padding: max(22vh,10rem) 0;
    // padding: 120px 0;
    // outline: 1px solid #ccc;
    &.intro {
        // padding: 40px 0;
        padding: max(22vh,10rem) 0 40px;
    }
    &.full-image {
        padding: 0;
        margin: 7rem 0 12rem;
        img {
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    &.mb0 {
        margin-bottom: 0;
    }
    &.mt0 {
        margin-top: 0;
    }
    &.pb0 {
        padding-bottom: 0;
    }
    &.pt0 {
        padding-top: 0;
    }
    @media screen and (max-width: 1024px) {
        padding: 120px 0;
        &.intro {
            padding: 40px 0;
        }
        &.full-image {
            margin: 5rem 0 10rem;
        }
    }
    @media screen and (max-width: 960px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    @media screen and (max-width: 768px) {
        // padding: 100px 0;
        &.intro {
            padding: 40px 0;
        }
        &.full-image {
            margin: 3.5rem 0 7rem;
        }
    }
    @media screen and (max-width: 480px) {
        padding: 64px 0;
        &.full-image {
            margin: 2rem 0 4rem;
        }
    }
}

.client-list {
    p+h1 {
        margin-top: 2.5rem;
    }
    .client-intro {
        max-width: calc((100% / 3) * 2);
        margin-bottom: 3rem;
    }
    .logo-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 4.5rem;
        @media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            img {
                &:nth-child(5n + 1) {
                    -ms-grid-column: 1;
                }
                &:nth-child(5n + 2) {
                    -ms-grid-column: 2;
                }
                &:nth-child(5n + 3) {
                    -ms-grid-column: 3;
                }
                &:nth-child(5n + 4) {
                    -ms-grid-column: 4;
                }
                &:nth-child(5n) {
                    -ms-grid-column: 5;
                }
            }
        }
        img {
            width: 100%;
            object-fit: contain;
            object-position: center;
            padding: 0 1.5vw;
        }
        @media screen and (max-width: 1600px) {
            grid-gap: 0 3rem;
        }
        @media screen and (max-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0 2rem;
        }
        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0 20px;
        }
        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0 20px;
        }
    }
}

.team {
    .team-list {
        margin: 10rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4.5rem;
        @media screen and (max-width: 1600px) {
            margin: 120px 0;
            grid-gap: 3rem;
        }
        @media screen and (max-width: 1024px) {
            margin: 80px 0;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }
        @media screen and (max-width: 480px) {
            margin: 40px 0;
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }
    .team-item {
        position: relative;
        grid-row: span 1;
        grid-column: span 1;
        overflow: hidden;
        background-color: $red;
        .team-item-inner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            transform-origin: -1rem top;
            @media screen and (max-width: 480px) {
                flex-direction: column;
            }
            img {
                width: 100%;
                height: 102%;
            }
        }
        a {
            flex: 0 0 100%;
            transition: none;
            @media screen and (max-width: 480px) {
                cursor: default;
            }
        }
        .team-item-content {
            position: relative;
            left: 4.5rem;
            flex: 0 0 100%;
            height: 0;
            padding: 4.5rem 0;
            transform: translateZ(0);
            h4,
            p {
                color: #fff;
            }
            .name,
            .title {
                display: block;
            }
            .title {
                font-weight: 400;
                // &:before {
                //     content: "\00a0–\00a0 ";
                // }
            }
            @media screen and (max-width: 1600px) {
                left: 3rem;
                padding: 3rem 3rem 3rem 0;
            }
            @media screen and (max-width: 1024px) {
                left: 2rem;
                padding: 2rem 2rem 2rem 0;
            }
            @media screen and (max-width: 800px) {
                .name,
                .title {
                    display: block;
                }
                .title {
                    font-weight: 400;
                    &:before {
                        display: none;
                    }
                }
                p {
                    display: none;
                }
            }
            @media screen and (max-width: 480px) {
                left: 0;
                height: auto;
                padding: 20px;
                h4 {
                    margin-bottom: 0;
                }
            }
        }
        &.open {
            grid-column: span 3;
            z-index: 10;
            @media screen and (max-width: 1024px) {
                grid-column: span 2;
            }
            a {
                flex: 0 0 auto;
                width: calc((100% - 9rem) / 3);
                @media screen and (max-width: 1600px) {
                    width: calc((100% - 6rem) / 3);
                    left: 3rem;
                }
                @media screen and (max-width: 1024px) {
                    width: calc((100% - 2rem) / 2);
                    left: 2rem;
                }
                @media screen and (max-width: 480px) {
                    width: calc((100% - 20px) / 2);
                    left: 20px;
                }
            }
            .team-item-content {
                width: calc((100% - 9rem) / 3);
                left: 4.5rem;
                flex: 0 0 auto;
                height: auto;
                @media screen and (max-width: 1600px) {
                    width: calc((100% - 6rem) / 3);
                    left: 3rem;
                }
                @media screen and (max-width: 1024px) {
                    width: calc((100% - 2rem) / 2);
                    left: 2rem;
                }
                @media screen and (max-width: 480px) {
                    width: calc((100% - 20px) / 2);
                    left: 20px;
                }
            }
        }
    }
}

.partners {
    .leadership {
        margin-top: 12.5rem;
        .cell.right {
            grid-column: 4 / 6;
        }
        h3 {
            margin-bottom: 3rem;
        }
        h4 {
            margin-bottom: 1.5rem;
            a {
                text-decoration: underline;
            }
            &.open {
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        .leadership-content {
            padding-bottom: 3rem;
            display: none;
        }
    }
}

.our-values {
    h2{
        padding-top: 20px;
    }
    .values-list{
        padding-top: 1em;
    }
    h4 {
        margin-bottom: 1.5rem;
        a {
            text-decoration: underline;
        }
        &.open {
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
    .values-content {
        padding-bottom: 3rem;
        display: none;
    }
}

.social-initiatives {
    h2 {
        margin-bottom: 4rem;
    }
    figure {
        img {
            margin-bottom: 40px;
        }
    }
}

.reputation {
    h1 {
        margin-bottom: 10rem;
        @media all and (max-width: 400px){
            margin-bottom: 2rem;
        }
    }
    figure {
        img {
            width: 300px;
            height: 300px;
        }
        &.branding {
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 5vw;
                max-width: 15%;
                height: 5px;
                right: 0;
                top: 150px;
                background-color: #fff;
                transform-origin: center;
                @media screen and (max-width: 1366px) {
                    right: -2vw;
                }
                @media screen and (max-width: 1024px) {
                    right: -4vw;
                }
            }
            &:after {
                transform: rotate(90deg);
            }
        }
        @media screen and (max-width: 768px) {
            img {
                margin: 0 auto;
            }
            &.branding {
                margin-bottom: 10rem;
                &:before,
                &:after {
                    right: 50%;
                    top: calc(100% + 6rem);
                    width: 100px;
                }
                &:before {
                    transform: translateX(50%);
                }
                &:after {
                    transform: translateX(50%) rotate(90deg);
                }
            }
        }
    }
    figcaption {
        margin-top: 5rem;
        h4 {
            margin-bottom: 2rem;
        }
        @media screen and (max-width: 768px) {
            margin-top: 3rem;
            h4 {
                margin-bottom: 1.5rem;
            }
        }
    }
}

.page-not-found {
    #heart {
        width: 600px;
        height: 600px;
        margin: 0 auto 4rem;
        canvas {
            display: block;
            margin: 0 auto;
            -moz-user-select: none;
            touch-action: none;
            cursor: inherit;
        }
    }
    @media screen and (max-width: 480px) {
        #heart {
            max-width: 90vw !important;
            max-height: 90vw !important;
        }
    }
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 10;
    top: 131px;
    transition: all 0.6s ease;
    pointer-events: none;
    .bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: left center;
        background-color: $red;
    }
    @media screen and (max-width: 1024px) {
        top: 99px;
    }
    @media screen and (max-width: 640px) {
        top: 80px;
    }
    @media screen and (max-width: 480px) {
        top: 62px;
    }
}

.shrink {
    &~.progress {
        top: 0;
    }
}

.brief-list{
    table{
        table-layout: fixed;
        width: 100%;
    }
}