// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=111e56c9-8c66-49d2-835b-45b76b73c504&fontids=5664093,5664098,5664150");
@font-face{
    font-family:"Helvetica Neue";
    src:url("fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix");
    src:url("fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix") format("eot"),url("fonts/5664093/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url("fonts/5664093/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff"),url("fonts/5664093/8f4a1705-214a-4dd0-80b8-72252c37e688.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix");
    src:url("fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix") format("eot"),url("fonts/5664098/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2") format("woff2"),url("fonts/5664098/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff") format("woff"),url("fonts/5664098/c07fd9e2-5e0b-4297-9229-af0c8e331d94.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix");
    src:url("fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix") format("eot"),url("fonts/5664150/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"),url("fonts/5664150/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff"),url("fonts/5664150/f07c25ed-2d61-4e44-99ab-a0bc3ec67662.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SC';
    src: url('fonts/NotoSansSC-Regular.woff2') format('woff2'),
        url('fonts/NotoSansSC-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans SC';
    src: url('fonts/NotoSansSC-Bold.woff2') format('woff2'),
        url('fonts/NotoSansSC-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}