// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.wrapper {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 100%; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 4.5rem; /* 3 */
  padding-right: 4.5rem; /* 3 */
  width: 100%; /* 1 */

  @media screen and (max-width: 1600px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media screen and (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bg-red {
  background-color: $red;
  color: #fff;
}

.red {
  color: $red;
}

.animate {
  transform: translateY(100px);
  transition: all 0.4s ease-out;
  opacity: 0;

  &.animated {
      transform: translateY(0);
      opacity: 1;
  }
}

.browser {
  position: fixed;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  border: 1px solid $text-color;
  background: $grey;
  padding: 1rem 2rem;
}

.d-flex {
  display: flex;
}

.align-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
}

.justify-content {
  &-between {
    justify-content: space-between;
  }
}