/**
* Basic typography style for copy text
*/
body {
    color: $text-color;
    font: 400 20px/26px $text-font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
        line-height: 24px;
    }

    @media screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 20px;
    }
}

h1, .h1 {
    font-size: 70px;
    line-height: 72px;
    font-weight: 700;
    margin: 0 0 4.5rem;

    &.super {
        font-size: 96px;
        line-height: 100px;
    }

    @media screen and (max-width: 1600px) {
        margin-bottom: 3rem;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 2rem;

        &.super {
            font-size: 80px;
            line-height: 80px;
        }
    }

    @media screen and (max-width: 640px) {
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 3rem;

        &.super {
            font-size: 70px;
            line-height: 72px;
        }
    }

    @media screen and (max-width: 560px) {
        font-size: 40px;
        line-height: 42px;

        &.super {
            font-size: 56px;
            line-height: 60px;
        }
    }

    @media screen and (max-width: 480px) {
        margin-bottom: 20px;

        &.super {
            font-size: 40px;
            line-height: 42px;
        }
    }
}

h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 1.5rem;

    @media screen and (max-width: 768px) {
        font-size: 28px;
        line-height: 30px;
    }

    @media screen and (max-width: 640px) {
        font-size: 24px;
    }

    @media screen and (max-width: 480px) {
        font-size: 20px;
        line-height: 24px;
    }
}

h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    margin: 0;

    @media screen and (max-width: 768px) {
        font-size: 28px;
        line-height: 32px;
    }

    // @media screen and (max-width: 640px) {
    //     font-size: 24px;
    // }

    // @media screen and (max-width: 480px) {
    //     font-size: 20px;
    //     line-height: 24px;
    // }
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 1rem;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
        line-height: 24px;
    }

    @media screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 20px;
    }

}

p {
    margin: 0 0 1rem;

    @media screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 20px;
    }

    &.intro {
        font-size: 34px;
        font-weight: 400;
        line-height: 44px;
        margin: 0 0 44px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
            line-height: 30px;
        }

        @media screen and (max-width: 640px) {
            font-size: 24px;
        }

        @media screen and (max-width: 480px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &.small {
        font-size: 14px;
        color: $darkgrey;
    }

    &:last-child {
        margin-bottom: 0;
    }
}