.multitv { position: relative }

.multitv .heading { padding-left: 20px; clear: left }
.multitv .heading span { border: 1px solid transparent; box-sizing: border-box }

.multitv .list { margin: 0; padding: 0; clear: left; position: relative }
.multitv .list li.element { position: relative; padding: 4px 20px 4px 20px; margin-bottom: 4px; border: 1px solid #e3e3e3; background: #fff; /*url('images/arrow_updown.png') no-repeat left center;*/ list-style: none;}
.multitv .list li.element { min-width: 610px }

.multitv li.element > div:before {font-family: FontAwesome;top: 40%;left: 8px;content: "\f07d";position: absolute;z-index: 100;color: #449d44;}

.multitv li.element.inline > div:before {top: 20%;}

.multitv .list li.element.inline { display: list-item }
.multitv .list li.element.inline a { display: block; float: left; padding: 3px; margin: 0 5px 0 0 }
.multitv .list li.element.single { padding: 10px; background: none; list-style: none }
.multitv .list li.element label { display: inline-block; width: 150px; vertical-align: top }
.multitv .list li.element select.inline { margin-right: 9px }
.multitv .list li.element input[type="text"], .multitv .list li.element input[type="password"], .multitv .list li.element input[type="number"], .multitv .list li.element textarea { margin: 0 3px 5px 0; background-color: #FBFBFB!important;border-color: #dbdbdb!important;}
.multitv .list li.element input[type="text"]:not(.inline), .multitv .list li.element input[type="password"]:not(.inline), .multitv .list li.element input[type="number"]:not(.inline), .multitv .list li.element textarea:not(.inline) { width: calc(100% - 280px) !important; }
.multitv .list li.element input[type="text"].mtvImage:not(.inline), .multitv .list li.element input[type="text"].mtvFile:not(.inline) { width: calc(100% - 373px) !important; }
.multitv .list li.element textarea { width: 300px; height: 150px; }
.multitv .list li.element input.browseimage, .multitv .list li.element input.browsefile { width: 90px;overflow: hidden;text-overflow: ellipsis; }
.multitv .list li.element .mtv_listbox,.multitv .list li.element .mtv_checkbox,
.multitv .list li.element .mtv_dropdown,
.multitv .list li.element .mtv_listbox-multiple {margin: 0 3px 5px 0; background-color: #FBFBFB!important;border-color: #dbdbdb!important;}
.multitv .list li.element a.copy, .multitv .list li.element a.remove { position: absolute; right: 25px; top: -12px !important; font-size: 1rem; color: #449d44; display: block; width: 16px; height: 16px;  padding: 0 }
.multitv .list li.element a.remove { right: 5px; color: #c9302c;}
.multitv .list li.element table.url { width: 300px; display: inline-block }
.multitv .list li.element table.url input[type="text"] { width: 221px !important }
.multitv .list li.element .inline, .multitv .heading .inline { display: block; float: left; width: 300px; /*padding: 2px 6px 3px 3px; */ margin: 0 3px 0 0 }
.multitv .list li.element .inline[type="checkbox"] { margin-top: 7px }
.multitv .list li.element .inline[type="text"] { margin-bottom: 0; box-sizing: border-box }
.multitv .list li.element .inlinelabel { width: auto; margin-right: 1rem }
.multitv .list li.element .DatePicker { padding: 3px 3px 3px 24px }
.multitv .list li.element .mtvThumb { float: right; margin-right: 12px; }
.multitv .list li.element .mtvThumb img { width: auto; max-height: 96px; min-height:50px; float: right }
.multitv .list li.element .thumb { border: 1px solid #ccc !important }
.multitv .list li.element .mtvThumb.inline { float: left; margin-right: 5px; width: 26px }
.multitv .list li.element .mtvThumb.inline img { position: absolute; width: 26px; height: 26px; z-index: 1 }
.multitv .list li.element .mtvThumb.inline img:hover { width: auto; height: auto; z-index: 2 }
.multitv .list li.element .help-block { display: block; line-height: 1.2em;font-size: 11px;color: #999;}

.multitv .hidden { display: none }

.multitv .tvedit, .multitv .tvclear, .multitv .tvpaste { float: left; margin-right: 10px }

.multitv .dataTables_wrapper a { text-decoration: none }
.multitv .dataTables_wrapper .dataTables_filter input { width: auto !important }
.multitv .dataTables_wrapper .dataTables_length select { width: auto !important }
.multitv .dataTables_wrapper .dataTables_length, .multitv .dataTables_wrapper .dataTables_filter { margin-bottom: 5px }
.multitv .dataTables_wrapper .dataTables_filter input { margin-right: 0 }
.multitv .dataTables_wrapper .actionButtons { margin-bottom: 9px }
.multitv .dataTables_wrapper .actionButtons a.disabled { color:#aaa; border: 1px solid #c7ced2; }
.multitv table.display { width: 100%; background-color: #fff; border: 1px solid #E0E0E0; border-collapse: separate; border-spacing: 0; table-layout: fixed; margin-bottom: 0.5rem; }
.multitv table.display thead { color: #333; background-color: #fff }
.multitv table.display tr.odd, .multitv table.display tr.even { background-color: #fff; transition-duration: .1s; }
.multitv table.display tr.odd:hover, .multitv table.display tr.even:hover { background-color: rgba(0,0,0,0.03); }
.multitv table.display tr.odd td.sorting_1 { background-color: #fff }
.multitv table.display tr.odd td.sorting_2 { background-color: #fff }
.multitv table.display tr.odd td.sorting_3 { background-color: #fff }
.multitv table.display tr.even td.sorting_1 { background-color: #fff }
.multitv table.display tr.even td.sorting_2 { background-color: #fff }
.multitv table.display tr.even td.sorting_3 { background-color: #fff }
.multitv table.display th { border: 0 none; color: #777; font-weight: normal; text-transform: uppercase; background-color: #f9f9f9 }
.multitv table.display tr.even > td, .multitv table.display tr.odd > td { border-top: 1px solid #eceeef; }
.multitv table.display td strong, .multitv table.display td b { font-weight: normal; }
.multitv table.display td.handle { background: url('images/arrow_updown.png') no-repeat center center; text-indent: -999em; cursor: pointer }
.multitv table.display th, .multitv table.display td { text-overflow: ellipsis; overflow:hidden }
.multitv table.display tr.row_selected td { background-color: #efefef !important }
.multitv table.display.hideHeader thead { font-size: 0; color: transparent; background-color: transparent }
.multitv table.display.hideHeader thead th { padding: 0 18px 0 10px; border-bottom: none }

.tveditform { width: 590px }
.tveditform > h2 { padding-left: 10px; margin-top: 5px; margin-bottom: 15px; }
.tveditform .formtabpage label { display: block; margin-top: 0.625rem; margin-bottom: 0.25rem; clear: left }
.tveditform .formtabpage .inlinelabel { display: inline-block }
.tveditform .formtabpage .mtvThumb { width: auto; height: 96px; float: right }
.tveditform .formtabpage select, .tveditform .formtabpage input { width: 300px }
.tveditform .formtabpage input[type="button"] { width: 100px; margin-left: -1px; }
.tveditform .formtabpage select { height: 28px; width: 308px }
.tveditform .formtabpage textarea { width: 306px }
.tveditform .formtabpage input.DatePicker { width: 203px; padding: 3px 3px 3px 24px }
.tveditform .formtabradio { display: inline-block; zoom: 1; color: #313131; font-weight: normal; font-size: 12px; cursor: pointer; margin: 3px 5px 3px 0; padding: 0 }
.tveditform .formtabradio input { display: inline-block; margin-right: 5px; position: relative; top: -1px }
.tveditform .formtabradio a { text-decoration: none; color: #313131 }
.tveditform .actionButtons { margin-top: 5px; margin-bottom: 10px; padding-left: 10px; min-height: 25px }
.tveditform .actionButtons li { float: none; display: inline-block; margin-right: 2px; }

#ui-datepicker-div { z-index: 9999999 !important;}

.tvpasteform { width: 450px }
.tvpasteform .pastearea, .tvpasteform .buttons { width: 438px }
.tvpasteform .legend { float: left; margin-left: 5px }
.tvpasteform .pastearea { width: 418px; height: 215px; overflow: hidden; border: 1px solid #e3e3e3; padding: 10px; margin: 0 auto 10px; clear: left }
.tvpasteform .radios { float: right; margin: 0 5px 5px 0 }
.tvpasteform .radio { margin: 2px 5px 5px }
.tvpasteform .buttons { text-align: right; margin: 0 auto 0 }
.tvpasteform .buttons li { margin-right: 0; margin-left: 10px }

.dynamic-tab-pane-control .tab-row .tab a { text-decoration: none }

.tabpanel_content { position: relative }
.tabpanel_bottom { padding-top: 10px; clear: both }
.modulebuttons.topright { position: absolute; top: 0; right: 0; z-index: 10 }
.modulebuttons.bottomleft { float: left }
.modulebuttons.bottomright { float: right }
.modulebuttons ul.actionButtons { min-height: 30px }
