body {
    font: 400 20px/26px "Helvetica Neue", sans-serif;
    color: #16161d;
    width: 100%;
    max-width: 960px;
}

strong,
b {
    font-weight: 700;
}

h1, .key-message {
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    margin: 0 0 4.5rem;
}

h2, p.intro {
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 2.5rem;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 1rem;
}

p {
    margin: 0 0 1.5rem;
}

figure,
blockquote {
    margin: 0;
}

blockquote {
    font-style: italic;
}

figure figcaption {
    margin-top: 2rem;
    font-style: italic;
}

figure figcaption + img {
    margin-top: 2rem;
}

figure figcaption.right {
    text-align: right;
}

figure {
    position: relative;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

blockquote {
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 56px;
}

.red {
    color: #eb0c38;
}

.grid {
    display: -ms-grid;
    display: grid;
}
.grid.grid-6 {
    -ms-grid-columns: (1fr) [6];
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4.5rem;
}

.grid.grid-6 .cell.start1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
}

.grid.grid-6 .cell.start2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
}

.grid.grid-6 .cell.start3 {
    -ms-grid-column: 3;
    grid-column-start: 3;
}

.grid.grid-6 .cell.start4 {
    -ms-grid-column: 4;
    grid-column-start: 4;
}

.grid.grid-6 .cell.start5 {
    -ms-grid-column: 5;
    grid-column-start: 5;
}

.grid.grid-6 .cell.end2 {
    grid-column-end: 2;
}

.grid.grid-6 .cell.end3 {
    grid-column-end: 3;
}

.grid.grid-6 .cell.end4 {
    grid-column-end: 4;
}

.grid.grid-6 .cell.end5 {
    grid-column-end: 5;
}

.grid.grid-6 .cell.end6 {
    grid-column-end: 6;
}

.grid.grid-6 .cell.end7 {
    grid-column-end: 7;
}

.grid.tight {
    grid-gap: 0;
}
