// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.insights {
    .insights-list {
        margin-bottom: 5rem;
        h2 {
            min-height: 88px;
            a {
                text-decoration: none;
                color: $text-color;
            }
            @media screen and (max-width: 768px) {
                min-height: 0;
            }
        }
        p {
            transition: all 0.4s ease;
        }
        .cell {
            &:hover {
                h2,
                p,
                a {
                    color: $red;
                }
            }
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 2rem;
            .cell {
                &:nth-child(n + 2) {
                    display: none;
                }
            }
        }
    }
}

.contact {
    h3 {
        a {
            text-decoration: none;
            color: $text-color;
        }
    }
}

.box-widget {
    position: fixed;
    //visibility: hidden;
    background-color: $red;
    height: auto;
    width: 400px;
    bottom: 0;
    right: -400px;
    padding: 4rem 2rem;
    color: white;
    z-index: 2147483649;
    transition: 1s all;
    overflow: hidden;
    .widget-wrapper {
        height: 100%;
        //width: 300px;
    }
    .close-widget {
        position: absolute;
        top: 0;
        right: 0.5rem;
        cursor: pointer;
        width: 32px;
        height: 40px;
        span {
            background-color: white;
            width: 32px;
            height: 1px;
            position: absolute;
            top: 1.5rem;
        }
        #line-1 {
            transform: rotate(45deg);
        }
        #line-2 {
            transform: rotate(-45deg);
        }
    }
    &.visible {
        right: 0!important;
    }
    &.signup {
        p {
            color: white;
        }
        form {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-top: 2rem;
            input,
            button {
                // padding: 2rem;
                border: 1px solid #fff;
                font-size: 20px;
                line-height: 29px;
                flex: 0 0 100%;
                appearance: none;
                border-radius: 0;
            }
            input {
                flex: 1 0 auto;
                color: #fff;
                background-color: transparent;
                padding: 1rem;
                &::-webkit-input-placeholder {
                    /* Edge */
                    color: #fff;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #fff;
                    opacity: 1;
                }
                &::placeholder {
                    color: #fff;
                    opacity: 1;
                }
            }
            button {
                margin-top: 1rem;
                color: $red;
                background-color: #fff;
                cursor: pointer;
                flex: 1 1 auto;
            }
        }
    }
    @media screen and (max-width: 768px) {
        & {
            width: 100%;
            bottom: -100%;
            left: 0;
        }
        &.visible {
            right: 0 !important;
            bottom: 0px!important;
        }
        &.signup {
            form {
                flex-wrap: nowrap;
                input,
                button {
                    font-size: 16px;
                    line-height: 1;
                    padding: 1rem;
                }
                input {
                    flex: 0 0 70%;
                    max-width: 70%;
                }
                button {
                    margin-top: 0;
                    flex: 0 0 30%;
                    max-width: 30%;
                }
            }
        }
    }
}

.signup-footer {
    padding: clamp(6rem, 10vh, 10rem) 0!important;
    a[name] {
        position: relative;
        top: -150px;
    }
    .grid-2 {
        @media (max-width: 1024px) {
            grid-gap: 1.5rem;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // padding: 11rem 0;
    form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 1rem;
        input,
        button {
            padding: 1rem;
            border: 1px solid #fff;
            font-size: 20px;
            line-height: 29px;
            // flex: 1 1 auto;
            appearance: none;
            border-radius: 0;
            @media (max-width: 1024px) {
                font-size: 20px;
                line-height: 1.3;
                flex: 0 0 30%;
            }
        }
        input {
            flex: 1 0 auto;
            color: #fff;
            background-color: transparent;
            padding: 1rem;
            &::-webkit-input-placeholder {
                /* Edge */
                color: #fff;
                opacity: 1;
            }
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #fff;
                opacity: 1;
            }
            &::placeholder {
                color: #fff;
                opacity: 1;
            }
        }
        button {
            flex: 0 1 30%;
            color: $red;
            background-color: #fff;
            cursor: pointer;
        }
        @media screen and (max-width: 640px) {
            input,
            button {
                font-size: 16px;
                line-height: 1;
            }
            input {
                flex: 1 1 60%;
                max-width: 60%;
            }
            button {
                flex: 1 1 40%;
                max-width: 40%;
                padding: 1rem;
                white-space: nowrap;
            }
        }
    }
}

footer {
    padding: 8rem 0 5rem;
    p {
        font-size: 16px;
        line-height: 20px;
    }
    .logo {
        display: block;
        height: 35px;
        margin-bottom: 2rem;
    }
    .social {
        // margin-top: 3rem;
        a {
            display: block;
            margin-bottom: 10px;
            color: $darkgrey;
            text-decoration: none;
            font-size: 16px;
            ;
            line-height: 20px;
        }
        @media screen and (max-width: 960px) {
            display: inline-block;
            margin-right: 1rem;
            margin-bottom: 0;
        }
        @media screen and (max-width: 768px) {
            margin-top: 2rem;
        }
    }
    .nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        a {
            &:hover {
                color: $red;
                text-decoration: underline;
            }
        }
        & > li {
            width: 33.33%;
            & > a {
                display: block;
                margin-bottom: 20px;
                text-decoration: none;
                color: $text-color;
                font-weight: 700;
            }
        }
        @media screen and (max-width: 1366px) {
            & > li {
                & > a {
                    font-size: 1rem;
                    line-height: 20px;
                }
            }
        }
    }
    .cbe-link {
        position: relative;
        margin-top: -3rem;
        grid-column: 4 / span 3;
        font-size: 16px;
        a {
            font-weight: 700;
            white-space: nowrap;
            @media screen and (max-width: 1366px) {
                font-size: 1rem;
                line-height: 20px;
            }
        }
        @media screen and (max-width: 960px) {
            display: none;
        }
    }
    .cbe-link-m {
        display: none;
        @media screen and (max-width: 960px) {
            display: block;
            a {
                white-space: nowrap;
                font-weight: 700;
            }
        }
        @media screen and (max-width: 640px) {
            margin-top: 1rem;
        }
    }
    .blurb {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    @media screen and (max-width: 768px) {
        padding: 80px 0;
    }
    @media screen and (max-width: 480px) {
        padding: 40px 0;
    }
    @media screen and (max-width: 960px) {
        .container {
            .grid {
                grid-gap: 0;
            }
        }
        .blurb,
        .fnav {
            grid-column: 1 / 7 !important;
        }
        .blurb {
            margin-bottom: 3rem;
        }
    }
    @media screen and (max-width: 640px) {
        .nav{
            & > ul {
                & > li {
                    width: auto;
                    margin-right: 2rem;
                }
            }
        }
    }
    .copyright {
        margin-top: 3rem;
        font-size: 16px;
        line-height: 20px;
        a {
            font-size: 16px;
            line-height: 20px;
            color: $text-color;
            text-decoration: none;
        }
        &.m {
            display: none;
        }
        @media screen and (max-width: 960px) {
            &.d {
                display: none;
            }
            &.m {
                display: block;
            }
        }
    }
}