// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
nav {
    position: fixed;
    left: 0; top: 0;
    width: calc(100% - 6rem - 22px);
    height: 100%;
    background-color: transparent;
    // transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 6000;
    pointer-events: none;

    &:before {
        content: "";
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background-color: $red;
        transform: scaleX(0);
        transition: all 0.5s ease;
        transform-origin: left center;
    }

    .logoflip {
        position: fixed;
        left: 3rem;
        top: 3rem;
        height: 35px;
        opacity: 0;
        transition: all 0.5s ease;
    }
	.mlang{
		display: none;
		position: absolute;
		top: 1.5rem;
		right: 4rem;
		color: #fff;
		font-size: 1.2rem;
		width: 44px;
		height: 30px;
		text-align: center;
		padding-top: 5px;
		text-decoration: none;
		@media all and (max-width: 500px){
			top: 1rem;
			right: 3rem;
		}
	}

    .close {
        display: none;
        position: fixed;
        right: 9px;
        top: calc(2rem + 2px);
        width: 44px;
        height: 30px;
        opacity: 0;
        transition: opacity 0.5s ease;

        &:before, &:after {
            content: "";
            position: absolute;
            left: 25%;
            top: 50%;
            width: 50%;
            height: 2px;
            background-color: #fff;
            transition: transform 0.3s ease;
        }

        @media screen and (max-width: 640px) {
            display: block;
            top: 1.5rem;
            right: calc(2rem - 10px);
        }

        @media screen and (max-width: 480px) {
            display: block;
            top: 1rem;
            right: 10px;
        }
    }

    ul {
        list-style: none outside none;
        padding: 10rem 0 0 3rem;

        li {
            margin-bottom: 24px;
            transition: all 0.2s ease-out 0s;
            transform: translateX(-150%);

            &.active, &:hover {
                a {
                    background-size: 100% 5px;

                    @media screen and (max-width: 768px) {
                        background-size: 100% 3px;
                    }

                    @media screen and (max-width: 480px) {
                        background: none;
                    }
                }
            }
        }

        ul {
            a {
                font-weight: 400;
            }
        }

        a {
            position: relative;
            font-size: 70px;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            text-decoration: none;

            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 5px;
            transition: background-size .3s;

            @media screen and (max-width: 768px) {
                background-size: 0% 3px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .logoflip {
            top: 2rem;
        }
    }

    @media screen and (max-width: 1024px) {
        ul {
            padding-left: 3rem;
            padding-right: 3rem;

            a {
                font-size: 56px;
                line-height: 60px;
            }
        }
    }

    @media screen and (max-width: 920px) {
        ul {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media screen and (max-width: 768px) {
        ul {
            a {
                font-size: 40px;
                line-height: 42px;
            }
        }

        .logoflip {
            left: 2rem;
        }
    }

    @media screen and (max-width: 640px) {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        ul {
            padding: 100px 2rem 2rem;

            ul {
                padding-top: 24px;
                padding-bottom: 0;
            }

            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .logoflip {
            top: 1.5rem;
            left: 2rem;
            height: 2rem;
        }
    }

    @media screen and (max-width: 640px) and (max-height: 640px) {
        justify-content: flex-start;

        ul {
            padding-top: 100px;
        }
    }

    @media screen and (max-width: 480px) {
        ul {
            padding-left: 20px;

            a {
                font-size: 28px;
                line-height: 1;

                &:after {
                    height: 3px;
                }
            }
        }

        .logoflip {
            top: 1rem;
            left: 20px;
            height: 30px;
        }
    }

    .nav-open & {
        transform: translateX(0);
        pointer-events: auto;
        background-color: $red;
        overflow: auto;

        &:before {
            transform: scaleX(1);
        }

        .logoflip {
            opacity: 1;
        }

        @media all and (max-width: 640px){
            .mlang{
                display: block;
            }
        }

        .close {
            opacity: 1;
            transition: opacity 0.4s ease 0.4s;

            &:before, &:after {
                transition: transform 0.3s ease 0.4s;
            }

            &:before {
                transform: translateY(-50%) rotate(-45deg);
            }

            &:after {
                transform: translateY(-50%) rotate(45deg);
            }
        }

        ul {
            li {
                transform: translateX(0);
                transition: all 0.3s ease-out 0.1s;

                &:nth-child(2) { transition-delay: 0.15s; }
                &:nth-child(3) { transition-delay: 0.2s; }
                &:nth-child(4) { transition-delay: 0.25s; }
                &:nth-child(5) { transition-delay: 0.3s; }
                &:nth-child(6) { transition-delay: 0.35s; }
                &:nth-child(7) { transition-delay: 0.4s; }
                &:nth-child(8) { transition-delay: 0.45s; }
                &:nth-child(9) { transition-delay: 0.5s; }
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 3rem 0;
    z-index: 5001;
    transition: all 0.3s ease;

    @media screen and (max-width: 1024px) {
        padding: 2rem 0;
        body:not(.page-home) & + section.intro {
          padding-top: 120px !important; // header + 20px
        }
    }

    @media screen and (max-width: 640px) {
        padding: 1.5rem 0;
        body:not(.page-home) & + section.intro {
          padding-top: 100px !important; // header + 20px
        }
    }

    @media screen and (max-width: 480px) {
        padding: 1rem 0;
        body:not(.page-home) & + section.intro {
          padding-top: 80px !important; // header + 20px
        }
    }

    &.shrink {
        transform: translateY(-100%);
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;
        height: 35px;

        img {
            height: 100%;
        }

        @media screen and (max-width: 640px) {
            height: 2rem;

            svg {
                width: auto;
                max-width: unset;
                height: 100%;
            }
        }

        @media screen and (max-width: 480px) {
            height: 30px;
        }
    }

    .header-right{
		display: flex;
		align-items: center;
        .lang{
            display: none;
			text-decoration: none;
        }

		@media all and (max-width: 1024px){
			.lang{
				display: block;
			}
		}
	}

    .nav-toggle {
        position: relative;
        display: none;
        width: 44px;
        height: 30px;
        right: -11px;

        &:before, &:after {
            content: "";
            position: absolute;
            left: 25%;
            width: 50%;
            height: 2px;
            background-color: $red;
            transition: top 0.25s ease 0.25s, transform 0.25s ease, background-color 0.3s ease;
        }

        &:before {
            top: 25%;
        }

        &:after {
            top: 75%;
        }

        .nav-open & {
            &:before, &:after {
                top: 50%;
                transition: top 0.25s ease, transform 0.25s ease 0.25s;
            }

            &:before {
                transform: translateY(-50%) rotate(-45deg);
            }

            &:after {
                transform: translateY(-50%) rotate(45deg);
            }
        }

        @media screen and (max-width: 1024px) {
            display: block;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none outside none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        li {
            padding: 0;
            padding-left: 2rem;

            &.active, &:hover {
                & > a {
                    color: $red;
                }
            }

            &:hover {
                & > a {
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }

            &.more {
                position: relative;
                padding-right: 18px;
                cursor: pointer;

                &:after {
                    content: "";
                    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%2316161d' stroke-width='2' /%3E%3C/svg%3E") no-repeat center / contain transparent;
                    position: absolute;
                    right: 0;
                    top: 8px;
                    width: 12px;
                    height: 12px;
                    transition: transform 0.4s ease;
                    transform: rotate(180deg);
                    transform-origin: center;
                }

                &:hover, &.open {
                    &:after {
                        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23eb0c38' stroke-width='2' /%3E%3C/svg%3E");
                        transform: rotateX(0);
                    }

                    ul {
                        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
                        transform: translateY(0);
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
                &.active {
                    &:after {
                        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23eb0c38' stroke-width='2' /%3E%3C/svg%3E");
                        transform: rotateX(0);
                    }
                }

                ul {
                    position: absolute;
                    left: 1.5rem;
                    top: 100%;
                    min-width: unset;
                    // background-color: $grey;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0.25rem 0.5rem 0.25rem;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
                    pointer-events: none;
                    z-index: 11;
                    background: #fff;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -1rem;
                        width: 100%;
                        height: 1rem;
                    }

                    li {
                        text-align: right;
                        padding: 0;
                        line-height: 32px;

                        &:hover, &.active {
                            a {
                                color: $red;
                            }
                        }
                    }

                    a {
                        white-space: nowrap;
                        font-weight: 400;
                        color: $text-color;

                    }
                }
            }
        }

        a {
            position: relative;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 700;
            color: $text-color;
            transition-duration: 0.3s;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: $red;
                transform: scaleX(0);
                transform-origin: left center;
                transition: all 0.3s ease;
            }
        }

        &.nav-secondary {
          margin-bottom: 10px;
          a {
            font-size: 1.125rem;
            font-weight: normal;
            color: $light-text-color;
          }
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}