.page-brief {
    margin-top: 83px;

    b, strong { font-weight: 700; }

    &.locked {
        overflow: hidden;

        #landing {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            overflow: auto;
            height: calc(100vh - 83px);
            max-height: calc(100vh - 83px);
            padding: 0;

            @media screen and (min-height: 680px ) {
                //justify-content: center;
            }

            .container {
                padding: 2rem;

                @media screen and (max-width: 480px) {
                    padding: 1rem;
                }
            }
        }

        #basic {
            overflow-y: auto;
            max-height: calc(100vh - 83px);

            .container {
                margin-bottom: 2rem;
            }
        }
    }

    .ui-widget {
        font-family: "Helvetica Neue", Arial, sans-serif;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;

        th, td {
            padding: 0.25rem 0.5rem;
            text-align: left;
        }

        &.noformat {
            th, td {
                padding: 0;
            }
        }
    }

    header {
        padding: 1.5rem 0;
    }

    .form-row {
        // margin: 0;
        margin-top: 3rem;
        padding: 0;
        position: static;

        // & + .form-row {
        //     margin-top: 0;
        // }

        input[type="checkbox"],
        input[type="radio"] {
            & + label {
                margin-left: 1rem;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            & + label {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .form-row {
            padding-left: 2rem;
            margin: 0;
        }

        .shake {
            transform-origin: center;
            animation: .4s linear 1 shake;
        }

        input[type="text"],
        input[type="email"],
        input[type="date"] {
            min-width: 400px;

            &.error {
                box-shadow: 0 0 4px #eb0c3e;
            }

            @media screen and (max-width: 640px) {
                min-width: 320px;
            }

            @media screen and (max-width: 480px) {
                min-width: 0;
                width: 100%;
            }
        }

        label {
            font-size: inherit;
            line-height: inherit;
            color: inherit;

            & + input[type="radio"],
            & + input[type="checkbox"] {
                margin-left: 2rem;
            }

            input[type="text"] {
                display: inline-block;
                width: 300px;
                min-width: 100px;
                text-align: center;
            }
        }

        input[type="radio"],
        input[type="checkbox"] {
            &:checked {
                & + label {
                    & + .sub-row {
                        display: block;
                        max-height: initial;
                        opacity: 1;
                        transform: scaleY(1);
                        overflow: visible;

                        & + br {
                            display: none;
                        }
                    }
                }
            }
        }

        .sub-row {
            display: none;
            overflow: hidden;
            padding: 1rem 0;
            max-height: 0;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: left top;
            transition: all 0.3s ease-out;

            label {
                padding: 0;
            }

            textarea {
                max-width: 75%;
            }

            & + p {
                margin-top: 1.5rem;
            }
        }

        input.custom_response {
            max-width: 600px;
        }

        .slider-container {
            padding-top: 4rem;
        }

        .ui-slider {
            margin: 0.5rem 0 0.25rem;

            .ui-slider-range {
                transition: all 0.1s ease-out;
                background: $grey;
            }

            .handle {
                min-width: 4rem;
                height: 1.75rem;
                // transform: translateX(-50%);
                padding: 0 0.25rem;
                margin-top: -2px;
                font-size: 1rem;
                text-align: center;
                transition: all 0.1s ease-out;
                background: $grey;
                color: #fff;
                border: 1px solid $grey !important;

                &#gender {
                    width: 4rem;
                }

                &:hover {
                    .fa-sort {
                        color: #333333;
                    }
                }
            }
        }
    }

    .button-container {
        margin: 2rem 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .btn {
        display: inline-block;
        position: relative;
        transition: all 0.1s linear;

        &.disabled {
            opacity: .5;
            pointer-events: none;
        }

        &.flat {
            padding: 0;
            color: $red;
            text-decoration: underline;
            background-color: transparent;
            border: 0 none;
            box-shadow: none;
        }
    }

    #form-brief {
        overflow: hidden;

        section {
            position: relative;
            max-width: 960px;
            // min-height: calc(100vh - 83px);
            padding: 5rem 0 10rem;
            margin: 0 auto;
            opacity: 1;
            pointer-events: auto;
        }
    }

    #landing {
        display: none;

        h1 {
            font-size: 96px;
            line-height: 100px;
            margin-top: 3.6rem;
            @media screen and (max-width: 768px) {
                margin-top: 4.5rem;
                font-size: 80px;
                line-height: 80px;
            }

            @media screen and (max-width: 640px) {
                margin-top: 4.4rem;
                font-size: 70px;
                line-height: 72px;
            }

            @media screen and (max-width: 560px) {
                margin-top: 1.7rem;
                font-size: 56px;
                line-height: 60px;
            }

            @media screen and (max-width: 480px) {
                margin-top: 2.5rem;
                font-size: 40px;
                line-height: 42px;
            }
        }

        sup {
            font-size: 50%;
            top: -1em;
        }
    }

    #q-deliverables {
        #add-deliverable {
            margin-top: 2rem;

            i {
                margin-right: 0.5rem;
            }
        }
    }

    #q-promise {
        label {
            input[type="text"] {
                font-size: 1rem;
            }
        }
    }

    #q-attitude {
        .attitude-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            ul {
                flex: 0 0 25%;
                padding: 0;
                margin: 0;
                list-style: none outside none;

                li {
                    margin: 0 0 1rem 0;
                }
            }

            label {
                min-width: 0;
            }
        }
    }

    #q-belief {

        #from-promise {
            font-weight: 700;
        }

        .reason-list {
            .handle {
                display: inline-block;
                padding: .5rem 1rem;
                cursor: ns-resize;
                color: $darkgrey;
                transition: all 0.1s ease-out;

                &:hover {
                    color: #333;
                }
            }

            input[type="text"] {
                display: inline-block;
                width: 75%;
            }
        }

        #add-reason {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }

    #intermission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #q-response {
        .response-list, .action-list {
            margin: -1rem 0 3rem;
            padding: 0;
        }
    }

    #q-metrics {
        .metric-list {
            margin: -1rem 0 3rem;
            padding: 0;
        }
    }

    #q-mandatory {
        .mandatory-list {
            margin: -1rem 0 3rem;
            padding: 0;
        }
    }

    #summary {
        position: fixed;
        top: 3rem;
        height: calc(100vh - 3rem);
        width: 100%;
        overflow: auto;
        background-color: #fff;
        transition: all 0.5s ease-out;
        opacity: 0;
        pointer-events: none;
        z-index: 600;

        &.open {
            opacity: 1;
            pointer-events: auto;

            &:before {
                content: "";
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.7);
            }

            .container {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
            }
        }

        .buttons {
            position: sticky;
            right: 2rem;
            top: 0;
            float: right;
            text-align: right;
            z-index: 120;

            a {
                padding: 0.5rem 1.5rem;
                margin: 0 0 0 1rem;
            }

            .share {
                position: relative;

                i {
                    pointer-events: none;
                }
            }
        }

        header {
            overflow: visible;
            position: relative;
            min-width: unset;
            width: auto;
            padding: 0;
            background-color: transparent;
        }

        .close {
            position: sticky;
            float: right;
            right: 0;
            top: 0;
            width: 17px;
            height: 17px;
            z-index: 150;

            &:before, &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                display: block;
                width: 1.5rem;
                height: 1px;
                transform-origin: center;
                background-color: $red;
            }

            &:before {
                transform: translateY(-50%) rotate(45deg);
            }

            &:after {
                transform: translateY(-50%) rotate(-45deg);
            }
        }

        .container {
            position: absolute;
            width: 90%;
            max-width: 1280px;
            height: calc(80vh - 40px);
            left: 50%;
            top: calc(50% + 20px);
            transform: translate(-50%, -50%) scale(0.6);
            background-color: #fff;
            padding: 2rem;
            margin: 0;
            box-shadow: 0 2px 20px rgba(0,0,0,0.3);
            z-index: 200;
            overflow: auto;
            opacity: 0;
            transition: all 0.4s ease 0.2s;
        }

        h1 {
            float: none;
            max-width: 600px;
            line-height: 1.2;
        }

        .copyversion {
            float: right;
            margin-top: 1rem;
        }

        .basic-info  {
            margin-top: 1rem;
            // margin-left: 2rem;
            vertical-align: top;
        }

        .summary-item {
            position: relative;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            margin: 2rem 0 0;

            h3 {
                font-weight: 600;
                position: relative;

                .edit {
                    margin-left: 1rem;
                    line-height: 1;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #999;
                    vertical-align: baseline;
                    opacity: 0;
                    z-index: -1;
                    pointer-events: none;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }

            &:hover {
                h3 {
                    .edit {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }

            .sum_response {
                min-height: 1.5rem;
                margin: 1.5rem 2rem;
                padding: 0;
                border: 1px solid transparent;
                background-color: transparent;
                -webkit-transition: -webkit-transform 0.3s ease;
                transition: -webkit-transform 0.3s ease;
                transition: transform 0.3s ease;
                transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            }

            .small {
                font-size: 16px;
                line-height: 20px;
                color: $darkgrey;
            }
        }

        table {
            -webkit-transition: -webkit-transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        }

        ul, ol {
            padding-left: 2rem;
        }

        #sum_schedule {
            table {
                border: 1px solid #16161d;

                th {
                    vertical-align: top;
                    border-bottom: 1px solid #ccc;

                    &:first-child {
                        width: 100px;
                        border-right: 1px solid #ccc;
                    }

                    &:nth-child(2) {
                        width: 500px;
                    }
                }

                td {
                    vertical-align: top;

                    &:first-child {
                        border-right: 1px solid #ccc;
                    }
                }
            }
        }
    }

    .tblSchedule {
        .handle {
            cursor: ns-resize;
            transition: all 0.1s ease-out;

            &:hover {
                .fa-sort {
                    color: #333333;
                }
            }
        }

        .fa-sort {
            color: $darkgrey;
            transition: all 0.3s ease;
        }

        input[readonly] {
            min-width: unset;
            width: 100%;
        }

        @media screen and (max-width: 480px) {
            position: relative;
            width: 100%;
            margin-top: 4rem;

            &:before {
                content: "Items and launch dates";
                font-weight: 700;
                position: absolute;
                left: 0;
                top: -1.5rem;
            }

            thead {
                display: none;
            }

            tr {
                th, td {
                    &:nth-child(2),
                    &:nth-child(3) {
                        display: block;
                    }
                }
            }
        }
    }

    .inline-modal {
        position: relative;
    }

    .modal {
        overflow: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        width: 90vw;
        max-width: 800px;
        max-height: 75vh;
        transform: translate(-50%, -50%) translateZ(0) scale(0);
        padding: 1rem;
        transition: all 0.3s ease;
        background-color: #f3f3f3;
        z-index: -1;


        &.modal-right {
            left: auto;
            right: 4rem;
            top: 8rem;
            width: 25vw;
            min-width: 250px;
            height: 60%;
            transform: translateZ(0) scale(0);
            opacity: 0;

            &.open {
                transform: translateZ(0) scale(1);
                opacity: 1;
            }
        }

        &.open {
            transform: translate(-50%, -50%) translateZ(0) scale(1);
            z-index: 90;
            opacity: 1;
            box-shadow: -0.5rem 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.2);
        }

        .close {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 1rem;
            line-height: 1;
            color: $red;
        }

        .modal-content {
            position: relative;
            // margin-top: 2rem;
            overflow: auto;
        }

        ul {
            margin: 0.5rem 0;
            padding: 0;
            list-style: none;

            &.append {
                padding-left: 0.5rem;

                li {
                    position: relative;
                    cursor: pointer;
                    margin-bottom: 0.25rem;
                    padding-left: 1.25rem;

                    &:before {
                        content: "\f0fe";
                        position: absolute;
                        left: 0;
                        top: 2px;
                        margin-right: 0.5rem;
                        font-family: "Font Awesome\ 5 Pro";
                        font-size: 1rem;
                        font-weight: 300;
                        color: #b3b3b3;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        &:before {
                            color: #333333;
                        }
                    }
                }
            }
        }

        label {
            display: inline;
            line-height: 2.5;
        }

        input {
            margin: 0 0.25rem;
            background-color: #fff !important;
        }

        .button-container {
            padding: 0 1rem;
            margin: 2rem 0 1rem;
        }

        .btn {
            background-color: #eb0c38;
            color: #fff;
        }
    }

    .popup_modal {
        position: fixed;
        left: 0;
        top: 83px;
        width: 100%;
        height: calc(100% - 83px);
        background-color: rgba(0,0,0,.7);
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;

        &.open {
            z-index: 1200;
            opacity: 1;
            pointer-events: auto;
        }

        .popup_modal-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            max-width: 720px;
            padding: 4rem;
            background-color: #fff;
        }

        h2 {
            margin-bottom: 0.5rem;
        }

        .close {
            position: fixed;
            right: 2rem;
            top: 2rem;
            width: 17px;
            height: 17px;
            z-index: 150;

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                display: block;
                width: 1.5rem;
                height: 1px;
                transform-origin: center;
                background-color: $red;
            }

            &:before {
                transform: translateY(-50%) rotate(45deg);
            }

            &:after {
                transform: translateY(-50%) rotate(-45deg);
            }
        }

        .button-container {
            margin: 2rem 0;
            padding: 0;

            .button + .button {
                margin-left: 2rem;
            }
        }
    }

    #signup2modal {
        input[type="email"] {
            display: block;
            min-width: 400px;
            padding: 0.5rem;
            font-family: "Helvetica Neue", sans-serif;
            line-height: 1.5;
            border: 0 none;
            background-color: transparent;
            border-bottom: 1px solid $text-color;

            @media screen and (max-width: 640px) {
                min-width: 320px;
            }
        }


        input[type="checkbox"] {
            float: left;
            position: absolute;
            opacity: 0;
            pointer-events: none;

            & + label {
                position: relative;
                padding-left: 1.5rem;

                &:before,
                &:after {
                    content: "\f0c8";
                    font-family: "Font Awesome 5 Pro";
                    position: absolute;
                    left: 0;
                    margin-right: 0.5rem;
                    font-size: 1.25rem;
                    color: #c3c3c3;
                    transition: all 0.2s cubic-bezier(0.15, 0.7, 0.8, 2);
                }

                &:after {
                    content: "\f00c";
                    color: #16161d;
                    opacity: 0;
                    transform: scale(0);
                    transform-origin: center;
                }
            }

            &:checked + label:after {
                transform: scale(1);
                opacity: 1;
            }
        }

        .btn + .btn {
            margin-left: 1rem;
        }
    }

    #sharemodal {
        .popup_modal-content {
            width: 720px;
        }

        .row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 1rem;


                    label {
                        display: inline-block;
                        flex: 0 1 128px;
                    }

                    input {
                        flex: 1 0 auto;
                        padding: 0.5rem;
                        // width: 360px;
                        font-size: 1rem;
                        font-weight: 400;
                        border: 0 none;
                        border-bottom: 1px solid $text-color;
                    }
        }

        .btn {
            position: relative;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-right: 1rem;
            transition: all 0.4s ease;
            margin-bottom: 0.5rem;

            &:after {
                content: "";
                opacity: 0;
                position: absolute;
                left: 50%;
                top: 0.6rem;
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #eb0c38;
                border-radius: 50%;
                border-style: solid;
                border-width: 2px;
                border-color: #fff #fff #fff transparent;
                transition: all 0.4s ease;
                transform-origin: center;
                animation: spin 1s infinite;
            }

            &:last-child {
                margin-right: 0;
            }

            &.alt {
                color: #eb0c38;

                span {
                    opacity: 1;
                }
            }

        }

        &.wait {
            position: relative;
            opacity: 0.6;
            pointer-events: none;

            &:after {
                opacity: 1;
            }
        }

        span {
            position: absolute;
            width: 100%;
            left: 0%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-weight: 700;
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s ease;
            color: #fff;
        }
    }

    #tosmodal {
        .popup_modal-content {
            max-height: 80vh;
            width: 90%;
            max-width: 960px;
            overflow: auto;

            ol {
                padding-left: 1.75rem;
            }

            p, li {
                font-size: 1rem;

                &:last-child {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    #feedback {
        position: fixed;
        right: 85px;
        bottom: 20px;
        max-width: 45px;
        max-height: 45px;
        border: 1px solid #16161d;
        background-color: #fff;
        overflow: hidden;
        z-index: 99;
        transition: max-width 0.5s ease, max-height 0.5s ease, right 0.4s ease, bottom 0.4s ease;

        &:hover {
            max-width: 160px;
        }

        .btn-feedback {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 160px;
            height: 45px;
            padding: 10px;
            color: #fff;
            text-decoration: none;
            // transform: translateY(0);
            background-color: #16161d;
            // transition: transform 0.5s ease;
            transition: top 0.5s ease;

            img {
                position: absolute;
                left: 10px;
                top: 10px;
                width: 25px;
                height: 25px;
            }

            span {
                margin-left: 45px;
            }
        }

        .report-content {
            width: 100%;
            max-width: 400px;
            padding: 1rem;
            color: #16161d;
            transition: transform 0.5s ease;
            transform-origin: right bottom;
            transform: scale(0);

            p {
                margin-bottom: 0;
                font-size: 1rem;
            }

            textarea {
                display: block;
                width: 100%;
                height: 150px;
                padding: 0.25rem;
                margin-bottom: 1rem;
                resize: none;
                font-family: $text-font-stack;
                font-size: 1rem;
                border: 0 none;
                border-bottom: 1px solid #16161d;
            }
        }

        #t {
            display: none;
        }

        #feedback_form {
            margin-top: 1rem;
        }

        #feedback_email {
            width: 100%;
            max-width: 300px;
            padding: 0.25rem;
            margin-bottom: 1rem;
            font-family: $text-font-stack;
            font-size: 1rem;
            border: 0 none;
            border-bottom: 1px solid #16161d;
            appearance: none;
        }

        .buttons {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            button {
                margin: 0;
                flex: 0 1 calc(50% - .5rem);

                &.close {
                    text-decoration: underline;
                    background-color: transparent;
                    color: $red;
                }
            }
        }

        &.open {
            max-width: 400px;
            max-height: 380px;

            .btn-feedback {
                left: 0;
                top: -45px;
            }

            .report-content {
                transform: scale(1);
            }
        }

        @media screen and (max-width: 980px) {
            max-width: 30px;
            max-height: 30px;
            bottom: 10px;
            right: 50px;

            .btn-feedback {
                padding: 3px;
                font-size: 16px;
                line-height: 20px;
                height: 30px;

                img {
                    left: 0;
                    top: 0;
                    width: 30px;
                    height: 30px;
                    padding: 4px;
                }
            }

            &.open {
                .btn-feedback {
                    top: -30px;
                }
            }
        }

        @media screen and (max-width: 480px) {
            &.open {
                right: 20px;
                bottom: 50px;
                max-width: calc(100% - 40px);
            }

            .report-content {
                width: 100%;
            }
        }
    }
}

.page-viewbrief {
    margin-top: 2rem;

    b, strong { font-weight: 700; }

    ol, ul {
        padding-left: 1.5rem;
    }
}

@keyframes shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(-0.4deg); }
    40% { transform: rotate(0.4deg); }
    60% { transform: rotate(-0.4deg); }
    80% { transform: rotate(0.4deg); }
    100% { transform: rotate(0); }
}

@keyframes spin {
    0%   { transform: rotate(0); animation-timing-function: cubic-bezier(.55,.055,.675,.19); }
    50%  { transform: rotate(180deg); animation-timing-function: cubic-bezier(.215,.61,.355,1); }
    100% { transform: rotate(360deg); }
}