.page-careers {

  section{
    padding: max(11vh, 5rem) 0;
    &.intro{
      padding: max(22vh, 10rem) 0 40px;
    }

    @media screen and (max-width: 1024px){
      padding: 80px 0;
    }

    @media screen and (max-width: 960px){
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @media screen and (max-width: 480px){
      padding: 50px 0;
    }
  }

  figure {
    img {
      width: 100%;
    }
  }
  .intro {
    dl {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    dt,
    dd {
      display: inline-block;
      margin: 0;
    }

    dt {
      margin-right: 7.5rem;
    }

    .grid + .grid {
      margin-top: 160px;

      @media screen and (max-width: 1024px) {
        margin-top: 120px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 80px;
      }

      @media screen and (max-width: 480px) {
        margin-top: 40px;
      }
    }
  }

  .mindset {
    p {
      width: 65%;
      padding-bottom: 3rem;
      @media (max-width: 640px) {
        width: 100%;
      }
    }
  }

  .margin-bottom {
    margin-bottom: 4.5rem;
    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
  .openings {
    margin-top: 0rem;

    .openings-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      div {
        flex: 0 0 calc((100% - 4.5rem) / 3);
      }

      h4 {
        margin-bottom: 1.5rem;
      }

      ul {
        list-style: none outside none;
      }

      @media screen and (max-width: 640px) {
        padding: 0;
        flex-direction: column;

        div {
          flex: 0 0 calc((100% - 4.5rem) / 3);
        }

        div {
          flex: 0 1 auto;
        }

        h4 {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .openings-content {
    flex-wrap: wrap;

    h2 {
      flex-basis: 100%;
      margin-bottom: 5rem;
    }
    & > div {
      flex-basis: calc((100% - 9rem) / 3);
    }

    @media screen and (max-width: 640px) {
      h2 {
        padding: 2rem;
        margin-bottom: 0;
      }
    }
  }
}
