.page-contact {
    .intro {
        .container {
            h2 {
                margin-bottom: 3rem;
            }
        }
    }

    form {
        .company {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }

    .ty {
        display: none;

        p {
            color: $red;
        }
    }

    .map {
      .grid {
        background-color: $grey;
        &:first-child {
          margin-bottom: 70px;
          @media screen and (max-width: 768px) {
            margin-bottom: 30px;
          }
        }
        &:last-child {
          .map__address {
            padding-left: 0;
            @media screen and (max-width: 768px) {
              order: -1;
              padding-left: 4.2vw;
            }
          }
        }
      }
      &__address {
        padding: 8vw 0 0 4.2vw;
        a {
          text-decoration: none;
          color: initial;
        }
        @media screen and (max-width: 768px) {
          padding-top: 5vw;
          padding-bottom: 0;
        }
      }
    }
}

.page-contact2 {
    @extend .page-contact;

    .intro {
        padding-bottom: 0;

        .container {
            .contact-content {
                margin-top: 4rem;

                @media screen and (max-width: 768px) {
                    margin-top: 2rem;
                }
            }
        }
    }

    h4 {
        margin-bottom: 1.5rem;

        a {
            text-decoration: underline;
        }

        &.open {
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .form-row {
        & + p {
            margin-top: 3rem;
            margin-bottom: 0;
        }

        &.ta {
            padding-top: 3rem;
        }
    }

    p + .form-row {
        margin-top: 0;
    }

    .contact-expand-content {
        padding-bottom: 3rem;
        display: none;
    }

    .split {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .brand, .career {
            flex: 1 1 50%;
            outline: 1px solid $red;
            transition: all 0.5s ease;
            min-height: 300px;
        }

        .split-content {
            transition: transform 0.5s ease 0.5s;
            transform-origin: left top;
            transform: scale(0);
            max-width: 0;
            max-height: 0;
        }

        &.brand-open {
            .brand {
                flex: 5 1 auto;

                .split-content {
                    max-width: auto;
                    max-height: auto;
                    transform: scale(1);
                }
            }

            .career {
                flex: 1 1 auto;
            }
        }

        &.career-open {
            .brand {
                flex: 1 1 auto;
            }

            .career {
                flex: 5 1 auto;

                .split-content {
                    max-width: 100%;
                    max-height: 100%;
                    transform: scale(1);
                }
            }
        }
    }
}