.page-glossary {
    .shrink {
        & ~ .glossary-list {
            .alphatop {
                top: 0;
            }

            .terms {
                .lead {
                    top: 164px;
                }
            }
        }
    }

    a[name] {
        display: block;
        top: -176px;
        visibility: hidden;

        @media screen and (max-width: 1024px) {
            top: -144px;
        }

        @media screen and (max-width: 640px) {
            top: -125px;
        }
    }

    .glossary-list {
        padding-top: 0;
    }

    .alphatop {
        position: sticky;
        top: 131px;
        background: white;
        z-index: 10;
        transition: top 0.6s ease, box-shadow 0s linear;

        &.stuck {
            box-shadow: 0 3px 10px rgba(0,0,0,.3);
            transition: top 0.6s ease, box-shadow 0.3s ease;
        }

        @media screen and (max-width: 1024px) {
            top: 99px;
        }

        @media screen and (max-width: 768px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @media screen and (max-width: 640px) {
            top: 80px;
        }
    }

    .alphaindex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        a {
            flex: 0 1 1.5ch;
            margin: 1.75rem 0;
            color: $text-color;
            font-weight: 700;
            text-decoration: none;

            &.off {
                color: #b5b5b2;
                pointer-events: none;
            }

            &:hover, &.on {
                color: $red;
                text-decoration: underline;
            }

            @media screen and (max-width: 1024px) {
                margin: 1rem 0;
            }
        }

        .break {
            flex-basis: 100%;
            height: 0;
        }
    }

    .terms {
        margin-top: 12rem;

        .lead {
            font-size: 70px;
            font-weight: 700;
            line-height: 72px;
            position: sticky;
            top: 295px;
            transition: top 0.6s ease;

            @media screen and (max-width: 1024px) {
                top: 215px;
            }
        }

        h2 {
            span {
                cursor: pointer;
                position: relative;
                background-image: linear-gradient($red, $red);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: color 0.3s ease, background-size 0.3s ease;

                &:hover {
                    color: $red;
                    background-size: 100% 2px;
                }
            }

            &.open {
                span {
                    color: $red;
                    background-size: 100% 2px;
                }
            }
        }

        .def {
            padding-bottom: 5rem;
        }
    }

    #glossary-form {
        width: 100%;

        .form-row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;

            input {
                width: 100%;
                max-width: 500px;
                margin-right: 2rem;
            }

            button {
                margin-left: 0;
            }
        }

        #comp {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            border: 0 none;
        }
    }
}