// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.page-home {
    // margin-top: 0;
    // &.fp-viewing-1,
    // &.fp-viewing-2,
    // &.fp-viewing-3 {
    //     header {
    //         background-color: transparent;
    //         .logo-path {
    //             fill: #fff;
    //         }
    //         ul a {
    //             color: #fff;
    //             &:after {
    //                 background-color: currentColor;
    //             }
    //         }
    //         .nav-toggle {
    //             &:before,
    //             &:after {
    //                 background-color: #fff;
    //             }
    //         }
    //         ul {
    //             li {
    //                 &.more {
    //                     &:after {
    //                         background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23ffffff' stroke-width='2' /%3E%3C/svg%3E");
    //                     }
    //                     ul {
    //                         a {
    //                             color: $text-color;
    //                             &:hover {
    //                                 color: $red;
    //                             }
    //                         }
    //                     }
    //                     &:hover {
    //                         ul {
    //                             opacity: 0.5;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    header {
        &.transparent {
            background-color: transparent;
            .logo-path {
                fill: #fff;
            }
            ul a {
                color: #fff;
                &:after {
                    background-color: currentColor;
                }
            }
            .nav-toggle {
                &:before,
                &:after {
                    background-color: #fff;
                }
            }
            ul {
                li {
                    &.more {
                        &:after {
                            background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23ffffff' stroke-width='2' /%3E%3C/svg%3E");
                        }
                        ul {
                            a {
                                color: $text-color;
                                &:hover {
                                    color: $red;
                                }
                            }
                        }
                        &:hover {
                            ul {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
    .caps {
        span {
            opacity: 0;
            transition: opacity 0.4s ease;
            a {
                color: inherit;
            }
            &:nth-child(1) {
                transition-delay: 2.2s;
            }
            &:nth-child(2) {
                transition-delay: 3s;
            }
            &:nth-child(3) {
                transition-delay: 3.8s;
            }
            &:nth-child(4) {
                transition-delay: 4.6s;
            }
        }
    }
    // header {
    //     transition: background-color 0.3s ease 0.4s;
    // }
    section {
        padding: clamp(8rem, 10vh, 10rem) 0;
        @media screen and (max-width: 960px) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }
    .fp-auto-height {
        height: auto !important;
        .fp-tableCell {
            height: auto !important;
        }
    }
    .fp-auto-height-responsive {
        @media screen and (max-width: 1024px) {
            height: auto !important;
        }
    }
    .intro {
        position: relative;
        min-height: calc(80vh - 40px);
        //min-height: 640px;
        padding-top: Max(22vh, 10rem);
        // padding-bottom: 8rem;
        padding-bottom: Max(10vh, 8rem);
        overflow: hidden;
        z-index: 5000;
        p {
            margin-bottom: 0.5rem;
        }
        .a1 {
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }
        @media screen and (max-width: 420px) {
            .a1 {
                opacity: 1;
            }
        }
        .a1 {
            max-width: 870px;
        }
        #home-sector {
            color: $red;
            position: relative;
            display: inline-block;
            cursor: pointer;
            transition: 0.5s all;
            background-image: linear-gradient(currentColor, currentColor);
            background-repeat: no-repeat;
            background-position: 0 100%;
            background-size: 0 2px;
            &:hover {
                background-size: 100% 2px;
            }
            &:after {
                content: "";
                background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23eb0c38' stroke-width='2' /%3E%3C/svg%3E") no-repeat center/contain transparent;
                position: absolute;
                top: 20px;
                padding-left: 30px;
                width: 18px;
                height: 12px;
                transition: transform 0.4s ease;
                transform: rotate(-180deg);
                transform-origin: center;
                @media screen and (max-width: 768px) {
                    top: 10px;
                    width: 14px;
                    height: 10px;
                }
                @media screen and (max-width: 480px) {
                    top: 9px;
                    width: 10px;
                    height: 8px;
                    padding-left: 20px;
                }
            }
            &.open {
                &:after {
                    transform: rotate(-360deg);
                }
            }
        }
        .home-filters {
            position: relative;
            background-color: #f2f1f1;
            //   min-height: 16rem;
            height: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            display: none;
            .list-container {
                ul {
                    height: 14rem;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    padding: 2rem 0 1.5rem;
                    background-color: transparent;
                    transition: none;
                    list-style: none outside none;
                    overflow: visible;
                    @media screen and (max-width: 1100px) {
                        height: 16rem;
                    }
                    @media screen and (max-width: 768px) {
                        display: block;
                        height: auto;
                    }
                }
                li {
                    line-height: 1;
                    margin: 0 40px 1rem 0;
                    @media screen and (max-width: 768px) {
                        flex: 1 0 100%;
                    }
                    a {
                        color: $text-color;
                        font-weight: 400;
                        text-decoration: none;
                        position: relative;
                        background-image: linear-gradient(currentColor, currentColor);
                        background-repeat: no-repeat;
                        background-position: 0 100%;
                        background-size: 0 2px;
                        &:hover {
                            color: $red;
                            background-size: 100% 2px;
                        }
                        &.selected {
                            color: $red;
                        }
                    }
                }
            }
        }
        &.show {
            .a1 {
                opacity: 1;
            }
            .caps {
                span {
                    &:nth-child(n) {
                        opacity: 1;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            min-height: 600px;
        }
        @media screen and (max-width: 600px) {
            br {
                display: none;
            }
        }
        @media screen and (max-width: 480px) {
            // height: calc(100vh - 100px);
            padding-bottom: 4rem;
            min-height: 480px;
            .super,
            .a1,
            .caps span:nth-child(n) {
                transition: all 0s linear !important;
            }
        }
    }
    .work-item {
        overflow: hidden;
        position: relative;
        height: 100vh;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        &:first-child {
            img {
                transform: translate(0, 40px);
                @media screen and (max-width: 800px) {
                    transform: none;
                }
            }
        }
        &.fadeout {
            opacity: 0;
            transform: translateY(50vh);
        }
        img,
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        &:nth-child(1) {
            z-index: 10;
        }
        &:nth-child(2) {
            z-index: 20;
        }
        &:nth-child(3) {
            z-index: 30;
        }
        figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            // height: 420px;
            width: 100%;
            padding: 18rem 4.5rem 3rem;
            background: linear-gradient( to top, rgba(22, 22, 29, 1) 0%, rgba(22, 22, 29, 0) 50%);
            @media screen and (max-width: 1600px) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
            @media screen and (max-width: 768px) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            @media screen and (max-width: 480px) {
                padding-left: 20px;
                padding-right: 20px;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            h2 {
                margin-bottom: 0;
                a {
                    font-weight: 700;
                }
            }
            .more {
                text-decoration: underline;
            }
        }
        .work-item-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        @media screen and (max-width: 800px){
            height: 40vh;
        }
    }
    .video {
        figure {
            position: relative;
            .iframe-container {
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 56.25%;
            }
            video,
            iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
            }
            video {
                cursor: pointer;
            }
            iframe {
                z-index: 5;
            }
            figcaption {
                position: absolute;
                left: 2rem;
                bottom: 2rem;
                // font-size: 70px;
                // font-weight: 700;
                // line-height: 72px;
                color: #fff;
                z-index: 15;
                pointer-events: none;
                margin: 0;
                @media screen and (max-width: 1024px) {
                    left: 20px;
                    bottom: 20px;
                }
                @media screen and (max-width: 480px) {
                    left: 12px;
                    bottom: 12px;
                    font-size: 6.66667vw;
                    line-height: 1.2;
                }
                // @media screen and (max-width: 1366px) {
                //     font-size: 56px;
                // }
            }
        }
    }
    .results {
        // h2 {
        //     margin-bottom: 5rem;
        // }
        .graphic {
            video {
                max-width: 100%;
            }
            img{
                height: auto;
            }
            .d {
                display: block;
            }
            .m {
                display: none;
            }
            @media screen and (max-width: 768px) {
                .d {
                    display: none;
                }
                .m {
                    display: block;
                }
            }
        }
        @media screen and (max-width: 768px) {
            h2 {
                margin-bottom: 2rem;
            }
        }
    }
    .news {
      h2 {
          margin-bottom: 4rem;
      }
      .grid {
          margin-bottom: 5rem;
      }
      figure {
          a {
            position: relative;
            display: block;
            min-height: 270px;
            padding-bottom: 56.25%;
            margin-bottom: 2rem;
            @media screen and (max-width: 1024px) {
              min-height: 220px;
            }
            img,
            video{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                background-color: #f0f0f0;
            }
          }
      }
      figcaption {
          margin-top: 40px;
          a {
              text-decoration: none;
              color: inherit;
              &:hover{
                  color: $brand-color;
                  text-decoration: underline;
              }
          }
      }
      @media screen and (max-width: 768px) {
          .grid {
              margin-bottom: 2rem;
              .cell {
                  &:nth-child(n+2) {
                      display: none;
                  }
              }
          }
      }
    }
    .video-background {
        z-index: 9999;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        display: none;
        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 1280px;
            max-height: 720px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 80%;
            height: calc(80vw * (9 / 16));
        }
    }
    @media screen and (max-width: 1024px) {
        .video,
        .results {
            .grid.grid-3 {
                grid-template-columns: 1fr;
                .cell {
                    grid-column: 1 / 2;
                }
            }
        }
    }
    // &.new2 {
    //     // margin-top: 0;
    //     // section {
    //     //     @media screen and (max-width: 960px) {
    //     //         padding-top: 4rem;
    //     //         padding-bottom: 4rem;
    //     //     }
    //     // }
    //     // .fp-auto-height {
    //     //     height: auto !important;
    //     //     .fp-tableCell {
    //     //         height: auto !important;
    //     //     }
    //     // }
    //     // header {
    //     //     transition: background-color 0.3s ease 0.4s;
    //     // }
    //     .intro {
    //         position: relative;
    //         height: calc(100vh - 40px) !important;
    //         padding-top: calc(8rem + 130px);
    //         padding-bottom: 8rem;
    //         overflow: hidden;
    //         z-index: 5000;
    //         .a0 {
    //             transform-origin: left top;
    //             transform: scale(1.2);
    //             @media screen and (max-width: 800px) {
    //                 transform: scale(1);
    //             }
    //         }
    //         @media screen and (max-width: 480px) {
    //             height: calc(100vh - 100px) !important;
    //             min-height: 80vh;
    //         }
    //     }
    //     .work-item {
    //         overflow: hidden;
    //         position: relative;
    //         height: 100vh;
    //         transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    //         &:first-child {
    //             img {
    //                 transform: translate(0, 40px);
    //                 @media screen and (max-width: 800px) {
    //                     transform: none;
    //                 }
    //             }
    //         }
    //         &.fadeout {
    //             opacity: 0;
    //             transform: translateY(50vh);
    //         }
    //         img, video {
    //             height: 100%;
    //             width: 100%;
    //             object-fit: cover;
    //             object-position: center;
    //         }
    //         &:nth-child(1) { z-index: 10; }
    //         &:nth-child(2) { z-index: 20; }
    //         &:nth-child(3) { z-index: 30; }
    //         figcaption {
    //             position: absolute;
    //             left: 0;
    //             bottom: 0;
    //             // height: 420px;
    //             width: 100%;
    //             padding: 18rem 4.5rem 3rem;
    //             background: linear-gradient(to top, rgba(22,22,29,1) 0%, rgba(22,22,29,0) 100%);
    //             @media screen and (max-width: 1600px) {
    //                 padding-left: 3rem;
    //                 padding-right: 3rem;
    //             }
    //             @media screen and (max-width: 768px) {
    //                 padding-left: 2rem;
    //                 padding-right: 2rem;
    //             }
    //             @media screen and (max-width: 480px) {
    //                 padding-left: 20px;
    //                 padding-right: 20px;
    //             }
    //             a {
    //                 color: #fff;
    //                 text-decoration: none;
    //             }
    //             h2 {
    //                 a {
    //                     font-weight: 700;
    //                 }
    //             }
    //         }
    //     }
    //     .video {
    //         figure {
    //             position: relative;
    //             .iframe-container {
    //                 position: relative;
    //                 width: 100%;
    //                 height: 0;
    //                 padding-top: 56.25%;
    //             }
    //             video, iframe {
    //                 position: absolute;
    //                 left: 0;
    //                 top: 0;
    //                 width: 100%;
    //                 height :100%;
    //                 z-index: 10;
    //             }
    //             video {
    //                 cursor: pointer;
    //             }
    //             iframe {
    //                 z-index: 5;
    //             }
    //             figcaption {
    //                 position: absolute;
    //                 left: 2rem;
    //                 bottom: 2rem;
    //                 // font-size: 70px;
    //                 // font-weight: 700;
    //                 // line-height: 72px;
    //                 color: #fff;
    //                 z-index: 15;
    //                 pointer-events: none;
    //                 margin: 0;
    //                 @media screen and (max-width: 1024px) {
    //                     left: 20px;
    //                     bottom: 20px;
    //                 }
    //                 @media screen and (max-width: 480px) {
    //                     left: 12px;
    //                     bottom: 12px;
    //                     font-size: 6.66667vw;
    //                     line-height: 1.2;
    //                 }
    //                 // @media screen and (max-width: 1366px) {
    //                 //     font-size: 56px;
    //                 // }
    //             }
    //         }
    //     }
    //     @media screen and (max-width: 1024px) {
    //         .video, .results {
    //             .grid.grid-3 {
    //                 grid-template-columns: 1fr;
    //                 .cell {
    //                     grid-column: 1 / 2;
    //                 }
    //             }
    //         }
    //     }
    // }
}