.internet-explorer {
    section {
        padding: 8rem;
    }
    .page-home {
        .intro {
            .container {
                margin-top:5rem;
            }
        }
        .work-item {
            video {
                transform: scale(1.3);
            }
        }
    }
    .page-methods {
        .capabilities {
            .cap-list {
                .cap-list-group {
                    max-width: 50%;
                }
            }
        }
    }
    .page-home, .page-methods, .page-toolbox, .page-about, .page-insights, .page-working-together {
        .advantage, .insights-list, .video, .results, .news, .contact, .toollist, .leadership, .social-initiatives, .insight-list {
            .cell {
                // &:first-child {
                //     margin-right: 2rem;
                // }
                // &:last-child {
                //     margin-left: 2rem;
                // }

                //first
                &:nth-child(3n+1) {
                    margin-right: 2rem;
                    
                }

                //second
                &:nth-child(3n+2) {
                    margin-right: 1rem;
                    margin-left: 1rem;
                }

                //third
                &:nth-child(3n) {
                    margin-left: 2rem;
                }
            }
        }
    }
    .page-news {

    }
    .jobs-top {
        .openings {
            display:block;
        }
    }
    .page-contact {
        .intro {
            .grid {
                display: flex;
                flex-wrap: wrap;
                .super  {
                    flex:0 0 100%;
                }
                .address {
                    flex: 0 0 30%;
                }
                .contact-content {
                    flex: 0 0 70%;
                }
            }
        }
    }
    .page-insights-item, .page-news-item, .page-glossary {
        .grid {
            display: block;
        }
    }
    .logo-list {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;

        img {
            flex: 0 0 auto;
            width: 300px;
            height: 160px;
        }
    }

    
}
.ie-widget {
    position:fixed;
    //visibility: hidden;
    background-color:$red;
    height: auto;
    width: 350px;
    bottom:0;
    right: -400px;
    padding: 4rem 2rem;
    color:white;
    z-index: 2147483648;
    transition: 0.5s all;
    overflow: hidden;
    a {
        color:white;
    }
    .widget-wrapper {
        height: 100%;
        width: 286px;
    }
    .close-widget {
        position: absolute;
        top: 0;
        right: 0.5rem;
        cursor: pointer;
        width: 32px;
        height: 40px;
        span {
            background-color: white;
            width:32px;
            height:1px;
            position:absolute;
            top:1.5rem;
        }
        #line-1 {
            transform: rotate(45deg);
        }
        #line-2 {
            transform: rotate(-45deg);
        }
    }

    &.visible {
        right: 0!important;
    }
    // .box {

    // }
}