.page-insights {
    /*
*
* HOLDING PAGE
*
*/
    .no-a-style {
        color: black;
        text-decoration: none;
        background: none;
        &:hover {
            color: black;
            background-size: 0% 0px;
        }
    }
    .latest-insight {
        .latest-insight-section-title {
            margin-bottom: 5rem;
        }
        h1 {
            margin-bottom: 2rem;
            a {
                color: black;
                text-decoration: none;
                background-image: linear-gradient($red, $red);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 3px;
                transition: all 0.4s;
                &:hover {
                    color: $red;
                    background-size: 100% 3px;
                }
            }
        }
        p {
            margin-bottom: 1.5rem;
        }
        img {
            max-height: 70%;
            margin: 0 auto;
        }
    }
    .insights-filter {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 4rem;
        transition: height 0.4s ease;
        &:before {
            content: "";
            position: absolute;
            left: calc((100vw - 100%) / -2);
            top: 46px;
            width: 100vw;
            height: 16rem;
            max-height: 0;
            background-color: #f2f1f1;
            transition: max-height 0.4s ease;
            @media screen and (max-width: 1366px) {
                height: 14rem;
            }
        }
        @media screen and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            &>div {
                &:nth-child(1) {
                    -ms-grid-column: 1;
                    grid-column: 1;
                }
                &:nth-child(2) {
                    -ms-grid-column: 2;
                    grid-column: 2;
                }
                &:nth-child(3) {
                    -ms-grid-column: 3;
                    grid-column: 3;
                }
                &:nth-child(4) {
                    -ms-grid-column: 4;
                    grid-column: 4;
                }
            }
        }
        @media screen and (max-width: 800px) {
            margin-bottom: 4.5rem;
            display: flex;
            flex-direction: column;
            grid-gap: 0;
            &:before {
                display: none;
            }
            &>div {
                margin-bottom: 1.5rem;
            }
        }
        @include respond-to("xs") {
            margin-bottom: 4.5rem;
            display: flex;
            flex-direction: column;
            &>div {
                margin-bottom: 1.5rem;
            }
        }
        &.list-open {
            &:before {
                max-height: 16.5rem;
                @media screen and (max-width: 1366px) {
                    max-height: 14rem;
                }
            }
        }
        .all,
        .list-no-children,
        .list {
            margin-right: 4rem;
            &>a {
                font-size: 20px;
                line-height: 30px;
                @media screen and (max-width: 1366px) {
                    font-size: 1rem;
                }
            }
        }
        .list {
            position: relative;
            display: inline-block;
            margin-bottom: 0;
            transition: all 0.4s ease;
            &>a {
                position: relative;
                white-space: nowrap;
                &:after {
                    content: "";
                    position: absolute;
                    left: calc(100% + 10px);
                    top: calc(50% - 4px);
                    width: 8px;
                    height: 8px;
                    border-right: 2px solid currentColor;
                    border-bottom: 2px solid currentColor;
                    transform: rotate(45deg);
                    transform-origin: center;
                    transition: all 0.3s ease;
                }
            }
            .list-container {
                display: block;
                height: 16rem;
                width: auto;
                max-height: 0;
                position: absolute;
                top: calc(100% + 1rem);
                overflow-x: hidden; //changed on 07 May Denis
                overflow-y: hidden;
                padding: 0;
                background-color: #f2f1f1;
                transition: max-height 0s linear;
                pointer-events: none;
                @media screen and (max-width: 1366px) {
                    height: 14rem;
                }
            }
            ul {
                display: block;
                width: 320px;
                height: 16rem;
                display: flex;
                flex-flow: column wrap;
                align-content: flex-start;
                padding: 2rem 0 1.5rem;
                background-color: transparent;
                transition: none;
                list-style: none outside none;
                overflow: visible;
                @media screen and (max-width: 1366px) {
                    height: 14rem;
                    padding: 1rem 0;
                }
                li {
                    // flex: 0 0 25%;
                    line-height: 1;
                    margin: 0 40px 1rem 0;
                    @media screen and (max-width: 1366px) {
                        margin-bottom: 0.5rem;
                    }
                }
                a {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    margin-right: 0;
                    white-space: normal;
                    @media screen and (max-width: 1366px) {
                        font-size: 1rem;
                    }
                }
            }
            &.open {
                max-height: none;
                margin-bottom: 17.5rem;
                transition: all 0.5s ease-out;
                >a {
                    &:after {
                        transform: rotate(-135deg);
                    }
                }
                .list-container {
                    max-height: 16.5rem;
                    transition: max-height 0.4s ease;
                    overflow: visible;
                    pointer-events: auto;
                }
                ul {
                    max-height: 16.5rem;
                    transition: all 0.5s ease-out;
                }
                @media screen and (max-width: 1366px) {
                    margin-bottom: 15rem;
                    .list-container,
                    ul {
                        max-height: 14rem;
                    }
                }
            }
            @media screen and (max-width: 800px) {
                position: relative;
                width: 100%;
                margin-bottom: 1.5rem;
                .list-container {
                    position: static;
                    height: auto;
                    max-height: unset;
                    background-color: transparent;
                    padding: 0;
                    max-height: unset;
                }
                ul {
                    display: block;
                    height: auto;
                    padding: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.4s ease;
                }
                &.open {
                    margin-bottom: 1.5rem;
                    .list-container {
                        max-height: unset;
                    }
                    ul {
                        max-height: 25rem;
                        padding: 1rem 0 0;
                    }
                }
            }
            @include respond-to("xs") {
                position: relative;
                width: 100%;
                .list-container {
                    position: static;
                }
                ul {
                    grid-template-columns: repeat(2, 1fr);
                }
                &.open {
                    margin-bottom: 1.5rem;
                }
            }
        }
        a {
            color: $text-color;
            font-weight: 700;
            text-decoration: none;
            position: relative;
            background-image: linear-gradient(currentColor, currentColor);
            background-repeat: no-repeat;
            background-position: 0 100%;
            background-size: 0 2px;
            &:hover {
                color: $red;
                background-size: 100% 2px;
            }
            &.selected {
                color: $red;
            }
        }
    }
    .list-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        //width: 100%;
        gap: 0 1.5rem;
    }
    .insight-list {
        .insight-item {
            display: block;
            transform-origin: center;
            width: calc((100% - 4.51rem) / 3);
            height: auto;
            overflow: hidden;
            margin-bottom: 4.5rem;
            padding-bottom: 3.5em;
            @media (max-width: 1024px) {
                width: calc((100% - 4.51rem) / 2);
            }
            @media (max-width:525px) {
                width: 100%;
            }
            img {
                height: 220px;
                object-fit: contain;
                object-position: left;
                width: 100%;
            }
            p {
                margin-bottom: 1.5rem;
            }
            strong {
                margin-bottom: 1.5rem;
                a {
                    color: black;
                    text-decoration: none;
                    background-image: linear-gradient($red, $red);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: all 0.4s;
                    &:hover {
                        color: $red;
                        background-size: 100% 2px;
                    }
                }
                @media screen and (max-width: 768px) {
                    min-height: 0;
                }
            }
        }
    }
    /*END OF HOLDING PAGE*/
    .dropcap {
        p {
            &:first-child {
                font-size: 34px;
                font-weight: 400;
                line-height: 44px;
                &:first-letter {
                    float: left;
                    padding-top: 15px;
                    padding-right: 10px;
                    margin: 0;
                    font-size: 96px;
                    line-height: 0.6;
                    font-weight: 700;
                    @media screen and (max-width: 768px) {
                        font-size: 80px;
                    }
                    @media screen and (max-width: 640px) {
                        font-size: 70px;
                    }
                    @media screen and (max-width: 560px) {
                        font-size: 56px;
                    }
                    @media screen and (max-width: 480px) {
                        padding-top: 6px;
                    }
                }
                @media screen and (max-width: 768px) {
                    font-size: 28px;
                    line-height: 30px;
                }
                @media screen and (max-width: 640px) {
                    font-size: 24px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            a {
                pointer-events: none;
                color:black;
                text-decoration: none;
            }
        }
    }


    .insight-block-row {
        margin: 1.5rem 0;
        // &:nth-child(3) {
        //     margin-top: 1.5rem;
        // }
        &:last-child {
            margin-bottom: 0;
        }
        figure {
            &.left {
                grid-column: 1 / 6;
            }
            &.right {
                grid-column: 2 /7;
            }
            img,
            video {
                width: 100%;
                height: auto;
            }
            figcaption {
                font-style: italic;
                color: $darkgrey;
            }
        }
        p {
            .justify-left {
                float: left;
            }
            .justify-right {
                float: right;
            }
/* FOR TOOLTIP TO NOT SHOW IN THE <STRONG> TITLES*/
            strong {
                a {
                    pointer-events: none;
                    color:black;
                    text-decoration: none;  
                }
                
            }
        }
        ol,
        ul {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
            li {
                margin-bottom: 0.5rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul.checklist {
          padding-left: 0;
          list-style-type: none;
          li {
            position: relative;
            padding-left: 1.5rem;
            margin-bottom: 1.5rem;
            &:before {
              content: '\2610\FE0E';
              position: absolute;
              top: -2px;
              left: -2px;
              font-size: 28px;
            }
            &:hover:before {
              content: '\2611\FE0E';
            }
            strong {
              display: block;
              margin-bottom: 1rem;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        blockquote {
            font-size: 34px;
            font-weight: 400;
            line-height: 44px;
            margin: 0 0 1.5rem;
            color: $red;
            @media screen and (max-width: 768px) {
                font-size: 28px;
                line-height: 30px;
            }
            @media screen and (max-width: 640px) {
                font-size: 24px;
            }
            @media screen and (max-width: 480px) {
                font-size: 20px;
                line-height: 24px;
            }
        }
        .tbl {
            border-collapse: collapse;
            th,
            td {
                padding: 0.5rem 0.125rem;
                text-align: left;
                vertical-align: middle;
            }
            thead {
                th {
                    text-align: left;
                    font-weight: 700;
                    border-bottom: 1px solid currentColor;
                }
            }
        }
        .cell:empty {
            display: none;
        }
    }
    .key-message {
        font-size: 70px;
        line-height: 72px;
        font-weight: 700;
        margin: 0 0 4.5rem;
        @media screen and (max-width: 1600px) {
            margin-bottom: 3rem;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 2rem;
        }
        @media screen and (max-width: 640px) {
            font-size: 56px;
            line-height: 60px;
        }
        @media screen and (max-width: 560px) {
            font-size: 40px;
            line-height: 42px;
        }
        @media screen and (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    .siblings {
        h3 {
            a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    text-decoration: underline;
                    color: $red;
                }
            }
        }
        figcaption {
          display: none;
        }
        @media screen and (max-width: 768px) {
            .cell {
                &:first-child {
                    margin-bottom: 3.5rem;
                }
            }
        }
        @media screen and (max-width: 480px) {
            .cell {
                &:first-child {
                    margin-bottom: 2rem;
                }
            }
        }
        img {
            height: 200px;
            width: 100%;
            object-fit: contain;
            object-position: left;
        }
    }
    ol.key-message {
        padding-left: 7.5rem;
        margin: 0 0 4rem;
        li {
            margin: 0;
        }
        @media screen and (max-width: 640px) {
            font-size: 56px;
            padding-left: 5rem;
        }
        @media screen and (max-width: 560px) {
            font-size: 40px;
            padding-left: 3.5rem;
        }
    }
    .insight-list {
        padding: 0;
        .insight-item {
            padding-bottom: 3.5em;
            &:nth-last-child(-n + 3) {
                margin-bottom: 0;
            }
            
            p {
                &:first-child {
                    margin-bottom: 1rem;
                }
            }
            h3 {
                min-height: 88px;
                margin-bottom: 1.5rem;
                @media screen and (max-width: 768px) {
                    min-height: 0;
                }
            }
            h3 {
                min-height: 88px;
                margin-bottom: 1.5rem;
                a {
                    color: black;
                    text-decoration: none;
                    background-image: linear-gradient($red, $red);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: all 0.4s;
                    &:hover {
                        color: $red;
                        background-size: 100% 2px;
                    }
                }
                @media screen and (max-width: 768px) {
                    min-height: 0;
                }
            }
        }
    }
    .takeaway {
        padding: 0;
        position: relative;
        @media (max-width: 375px) {
            h1 {
                display: inline-grid;
            }
        }
    }
    //widget box
    .insights-item-widget {
        position: fixed;
        bottom: -100%;
        transition: 0.5s all;
        z-index: 1;
        &.show {
            opacity: 1;
            bottom: 0;
        }
        &.relative {
            position: sticky;
            bottom: 0;
        }
    }
    .insights-item-widget-hidden {
        visibility: hidden;
        .close-widget {
            opacity: 0;
            pointer-events: none;
        }
        &.visible {
            visibility: visible;
            opacity: 1;
        }
        &.relative {
            position: sticky;
            bottom: 0;
            opacity: 1;
        }
    }
    .insights-item-widget,
    .insights-item-widget-hidden {
        background: $grey;
        padding: 2rem 2rem 3rem 2rem;
        margin: 2rem 4.5rem 0;
        opacity: 0;
        @media all and (max-width: 1600px){
            margin-left: 3rem;
            margin-right: 3rem;
        }
        @media all and (max-width: 768px){
            margin-left: 2rem;
            margin-right: 2rem;
        }
        @media all and (max-width: 480px){
            margin-left: 20px;
            margin-right: 20px;
        }
        &.show {
            opacity: 1;
            bottom: 0;
        }
        .widget-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .widget-text {
                flex: 0 0 68%;
                max-width: 68%;
                width: 68%;
                @media (max-width: 800px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
            }
            .widget-get-in-touch {
                flex: 0 0 30%;
                max-width: 30%;
                width: 30%;
                text-align: right;
                @media (max-width: 800px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    margin-top: 2rem;
                }
                a {
                    border: 2px solid $red;
                    padding: 1rem 3rem;
                    text-decoration: none;
                    @media (max-width: 800px) {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
        .btn {
            margin-top: 2rem;
            color: $red;
            background-color: #fff;
            cursor: pointer;
            border: 1px solid #fff;
            font-size: 20px;
            line-height: 29px;
            appearance: none;
            border-radius: 0;
            text-align: center;
            width: 100%;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 1px;
            }
        }
    }
    .insights-item-widget {
        left: 4.5rem;
        right: 4.5rem;
        margin-left: 0rem;
        margin-right: 0rem;
        @media all and (max-width: 1600px){
            left: 3rem;
            right: 3rem;
        }
        @media all and (max-width: 768px){
            left: 2rem;
            right: 2rem;
        }
        @media all and (max-width: 480px){
            left: 20px;
            right: 20px;
        }
    }
    &.webaudit {
        #webaudit {
            overflow: hidden;
        }
        h3+p {
            margin-top: 1rem;
        }
        h4 {
            color: $midgrey;
        }
        input[type="text"] {
            position: relative;
            width: 100%;
            padding: 0.5rem 0;
            font-family: $text-font-stack;
            border: 0 none;
            border-bottom: 1px solid $text-color;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
        }
        input[type="range"] {
            vertical-align: middle;
        }
        label {
            display: inline-block;
            margin-right: 1rem;
            white-space: nowrap;
            &:last-child {
                margin-right: 0;
            }
            @media screen and (max-width: 480px) {
                display: block;
                margin-right: 0;
                margin-bottom: 0.5rem;
            }
        }
        #submit {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            button {
                margin-left: 20px;
                flex: 1 0 auto;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
        .desktopss,
        .mobiless {
            position: relative;
            margin: 1.5rem 0;
            img {
                border: 2px solid #727272;
            }
            .loading {
                padding: 4rem;
            }
        }
        .ssnote {
            color: $darkgrey;
            font-style: italic;
            font-size: 16px;
            .m {
                display: none;
            }
            @media screen and (max-width: 640px) {
                .d {
                    display: none;
                }
                .m {
                    display: inline;
                }
            }
        }
        .slider-helper {
            color: #cccccc;
            max-width: 600px;
            text-align: center;
            font-size: 16px;
            span {
                margin: 0px 15px;
            }
            &:before {
                content: "←";
                color: #cccccc;
            }
            &:after {
                content: "→";
                color: #cccccc;
            }
        }
        .slider-parent {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 600px;
            span {
                flex: 0 0 45%;
                font-size: 16px;
                &:first-child {
                    text-align: left;
                    order: 0;
                }
                &:nth-of-type(2) {
                    text-align: right;
                    order: 2;
                }
            }
            .slider {
                display: inline-block;
                width: 100%;
                max-width: unset;
                height: 16px;
                margin: 1rem 0rem;
                flex-basis: 100%;
                order: 10;
                &.noUi-target {
                    background: #f2f1f1;
                    border: none;
                    box-shadow: none;
                    border-radius: 10px;
                }
                .noUi-handle {
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    &:before,
                    &::after {
                        background-color: $red;
                    }
                }
                .noUi-touch-area {
                    box-shadow: 0 0 0 rgba(235, 12, 56, 0.4);
                    animation: pulse 2.5s infinite;
                    background-color: $red;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    position: absolute;
                    top: -1px;
                    &.no-animation {
                        animation: none;
                    }
                    &:hover {
                        animation: none;
                    }
                }
                @keyframes pulse {
                    0% {
                        box-shadow: 0 0 0 0 rgba(235, 12, 56, 0.4);
                    }
                    70% {
                        box-shadow: 0 0 0 10px rgba(235, 12, 56, 0);
                    }
                    100% {
                        box-shadow: 0 0 0 0 rgba(235, 12, 56, 0);
                    }
                }
            }
        }
        .question {
            &:nth-of-type(n + 2) {
                display: none;
            }
        }
        .answer {
            display: none;
            padding: 2rem;
            margin-top: 2rem;
            background-color: $grey;
        }
        .answer+.question,
        .question+.question {
            margin-top: 2rem;
        }
        .iframe-wrapper {
            margin-bottom: 1rem;
            img {
                border: 2px solid #727272;
            }
        }
        // iframe {
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     overflow: hidden;
        //     border: 0 none;
        //     width: 100%;
        //     height: 100%;
        // }
        .braekdown {
            margin-top: 4rem;
        }
        .scores,
        .results,
        .takeaway {
            display: none;
        }
        .scores {
            padding: 2rem;
            background-color: $grey;
            .track {
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .scorebar {
            display: inline-block;
            position: relative;
            width: 100%;
            max-width: 400px;
            height: 6px;
            margin-right: 1rem;
            background-color: #fff;
            // border: 1px solid #B5B2B2;
            border-radius: 3px;
            .score {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $red;
                border-radius: 3px;
                transform-origin: left top;
            }
            &.overall {
                display: inline-block;
                max-width: 600px;
                height: 48px;
                border-radius: 24px;
                background-color: #ccc;
                vertical-align: middle;
                overflow: hidden;
                .score {
                    border-radius: 24px;
                    &.poor {
                        background-color: #707070;
                    }
                    &.average {
                        background-color: #a0092c;
                    }
                    &.great {
                        background-color: #eb0c38;
                    }
                }
            }
        }
        #overall-score {
            display: inline-block;
            vertical-align: middle;
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
        }
        .totalbar {
            width: 100%;
            max-width: 600px;
            margin: 2rem 0 4rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            &>* {
                position: relative;
                text-align: right;
                font-size: 16px;
                line-height: 1.3125;
                margin-right: 3px;
                padding-top: 6px;
                // padding-left: 2.5rem;
                // white-space: nowrap;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 6px;
                }
            }
            .poor {
                flex-basis: 60%;
                &:after {
                    background-color: #707070;
                }
            }
            .average {
                flex-basis: 20%;
                &:after {
                    background-color: #a0092c;
                }
            }
            .great {
                flex-basis: 20%;
                &:after {
                    background-color: #eb0c38;
                }
            }
        }
        .lighthouse {
            margin-top: 50px;
        }
        .results {
            margin-top: 4rem;
            h3 {
                margin-bottom: 1rem;
            }
            .allresults {
                .active {
                    display: none !important;
                }
            }
            .result {
                color: $midgrey;
                &.active {
                    font-size: 34px;
                    line-height: 1.3;
                    color: $text-color;
                    strong {
                        color: $red;
                    }
                }
            }
        }
        #feedback {
            position: fixed;
            right: 85px;
            bottom: 20px;
            max-width: 45px;
            max-height: 45px;
            border: 1px solid #16161d;
            background-color: #fff;
            overflow: hidden;
            z-index: 99;
            transition: max-width 0.5s ease, max-height 0.5s ease, right 0.4s ease, bottom 0.4s ease;
            &:hover {
                max-width: 160px;
            }
            .btn-feedback {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 160px;
                height: 45px;
                padding: 10px;
                color: #fff;
                text-decoration: none;
                // transform: translateY(0);
                background-color: #16161d;
                // transition: transform 0.5s ease;
                transition: top 0.5s ease;
                img {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    width: 25px;
                    height: 25px;
                }
                span {
                    margin-left: 45px;
                }
            }
            .report-content {
                width: 100%;
                max-width: 400px;
                padding: 1rem;
                color: #16161d;
                transition: transform 0.5s ease;
                transform-origin: right bottom;
                transform: scale(0);
                p {
                    margin-bottom: 0;
                    font-size: 1rem;
                }
                textarea {
                    display: block;
                    width: 100%;
                    height: 150px;
                    padding: 0.25rem;
                    margin-bottom: 1rem;
                    resize: none;
                    font-family: $text-font-stack;
                    font-size: 1rem;
                    border: 0 none;
                    border-bottom: 1px solid #16161d;
                }
            }
            #t {
                display: none;
            }
            #feedback_form {
                margin-top: 1rem;
            }
            #feedback_email {
                width: 100%;
                max-width: 300px;
                padding: 0.25rem;
                margin-bottom: 1rem;
                font-family: $text-font-stack;
                font-size: 1rem;
                border: 0 none;
                border-bottom: 1px solid #16161d;
                appearance: none;
            }
            .buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                button {
                    margin: 0;
                    flex: 0 1 calc(50% - 0.5rem);
                    &.close {
                        text-decoration: underline;
                        background-color: transparent;
                        color: $red;
                    }
                }
            }
            &.open {
                max-width: 400px;
                max-height: 380px;
                .btn-feedback {
                    left: 0;
                    top: -45px;
                }
                .report-content {
                    transform: scale(1);
                }
            }
            @media screen and (max-width: 980px) {
                max-width: 30px;
                max-height: 30px;
                bottom: 10px;
                right: 50px;
                .btn-feedback {
                    padding: 3px;
                    font-size: 16px;
                    line-height: 20px;
                    height: 30px;
                    img {
                        left: 0;
                        top: 0;
                        width: 30px;
                        height: 30px;
                        padding: 4px;
                    }
                }
                &.open {
                    .btn-feedback {
                        top: -30px;
                    }
                }
            }
            @media screen and (max-width: 480px) {
                &.open {
                    right: 20px;
                    bottom: 50px;
                    max-width: calc(100% - 40px);
                }
                .report-content {
                    width: 100%;
                }
            }
        }
        .siblings {
            h4 {
                color: $text-color;
            }
        }
    }
    .browserframe {
        position: relative;
        width: 840px;
        margin-bottom: 2rem;
        overflow: hidden;
        height: 688px;
        // background: url('../images/wbb/frame18.png') no-repeat left top/ cover transparent;
        .frame {
            position: relative;
            z-index: 5;
            pointer-events: none;
        }
        .browserframe-inner {
            position: absolute;
            top: 15.2616%;
            right: 1.7857%;
            bottom: 2.0349%;
            left: 1.0715%;
            // overflow: hidden;
            z-index: 2;
            .page {
                position: relative;
                z-index: 4;
            }
        }
        .label {
            position: absolute;
            width: 4.7619%;
            display: none !important;
            &#a {
                left: 15%;
                top: 0;
                z-index: 10;
            }
            &#b {
                left: 40%;
                top: 4%;
                z-index: 10;
            }
            &#c {
                left: 57%;
                top: 10%;
                z-index: 10;
            }
            &#d {
                left: 36%;
                top: 10%;
                z-index: 4;
            }
            &#f {
                left: 2%;
                top: 35%;
                z-index: 4;
            }
            &#e {
                left: 90%;
                top: 23%;
                z-index: 4;
            }
            &#g {
                left: 2%;
                top: 120%;
                z-index: 4;
            }
            &#h {
                left: 93%;
                top: 223%;
                z-index: 4;
            }
            &#i {
                left: 3%;
                top: 255%;
                z-index: 4;
            }
            &#j {
                left: 19%;
                top: 273%;
                z-index: 4;
            }
            &#k {
                left: 40%;
                top: 264%;
                z-index: 4;
            }
        }
        #caption {
            position: absolute;
            left: -40%;
            top: 0;
            width: 40%;
            padding: 1rem;
            background-color: $red;
            color: #fff;
            // transition: left 0.3s ease, top 0.3s ease;
            z-index: 25;
        }
        #mask {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 0;
            box-shadow: 0 0 100px 1000px rgba(0, 0, 0, 0.7);
            filter: blur(5px);
            z-index: 20;
            pointer-events: none;
            // transition: all 0.3s ease;
        }
        @media screen and (max-width: 940px) {
            display: none;
        }
    }
    .browserframe-m {
        display: none;
        p {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            span {
                margin-right: 0.25rem;
                color: $red;
            }
        }
        @media screen and (max-width: 940px) {
            display: block;
        }
    }
    .insight-block-row>.browserframe {
        grid-column: 1 / -1;
        margin: 0 auto 2rem;
    }
    .addthis_inline_share_toolbox {
        position: fixed;
        width: 45px;
        height: 45px;
        right: 85px;
        bottom: 20px;
        background: url("../images/share-this.svg") no-repeat center / cover $red;
        @media screen and (max-width: 1024px) {
            width: 30px;
            height: 30px;
            right: 50px;
            bottom: 10px;
        }
    }
    .at-share-btn-elements {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .at-share-tbx-element .at-share-btn {
        flex: 0 0 45px;
        width: 45px;
        height: 45px;
        margin: 0;
        opacity: 0;
        &:hover {
            transform: none;
        }
    }
    #at-expanded-menu-host .at-branding-logo.at-expanded-menu-branding {
        right: 85px;
        @media screen and (max-width: 1024px) {
            bottom: 10px;
            right: 50px;
        }
    }
    #at15s.atm {
        display: none !important;
    }
    audio {
        width: 100%;
    }
    audio::-webkit-media-controls-enclosure {
        border-radius: 0px;
    }
}

.audio-player-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media all and (max-width: 1430px){
        display: block;
    }
    .link-summary{
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid $text-color;
        @media all and (max-width: 1430px){
            padding-right: 0;
            margin-right: 0;
            border-right: 0 none;
            margin-bottom: 20px;
        }
    }
    .audio-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 450px;
        .text{
            color: $brand-color;
            margin-right: 10px;
        }

        @media all and (max-width: 1430px){
            width: 100%;
            .text{
                display: none;
            }
        }
    }
}
.audioplayer {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
    position: relative;
    max-width: 385px;
	&:not(.audioplayer-playing) {
		.audioplayer-playpause {
			a {
                width: 27px;
                height: 24px;
                background: url(../images/audio-sprite.svg) no-repeat left top;
                background-size: 88px auto;
                @media all and (max-width: 1430px){
                    width: 15px;
                    height: 18px;
                    background-position: -23px top;
                    background-size: 55px auto;
                }
			}
			&:hover{
                a{
                    width: 21px;
                    height: 23px;
                    background-position: -30px top;
                    background-size: 75px auto;
                    @media all and (max-width: 1430px){
                        width: 15px;
                        height: 18px;
                        background-position: -23px top;
                        background-size: 55px auto;
                    }
                }
			}
		}
	}
	&:not(.audioplayer-mute) {
		.audioplayer-volume-button {
			a {
				&:after {
					left: 10px;
					top: -2px;
					width: 6px;
					height: 6px;
					border: 6px double #9A9FB0;
					border-width: 6px 6px 0 0;
					border-radius: 0 12px 0 0;
					transform: rotate(45deg);
				}
			}
		}
	}
}
.audioplayer-playpause {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
    background-color: $brand-color;
	border-radius: 50%;
	cursor: pointer;
	transition: all .2s ease-in-out;
    @media all and (max-width: 1430px){
        width: 40px;
        height: 40px;
    }
}
.audioplayer-playing {
	.audioplayer-playpause {
		a {
            width: 17px;
            height: 28px;
            background: url(../images/audio-sprite.svg) no-repeat -70px top;
            background-size: 87px auto;
            @media all and (max-width: 1430px){
                width: 9px;
                height: 15px;
                background-position: -36px top;
                background-size: 45px auto;
            }
		}
	}
}
.audioplayer-total-time {
    position: absolute;
    top: 35px;
    left: 65px;
    font-size: 16px;
    line-height: 1;
    color: #ccc;
    display: flex;
    .audioplayer-time-duration{
        margin-left: 5px;
        padding-left: 10px;
        position: relative;
        &::before{
            position: absolute;
            content: "/";
            top: 0;
            left: 0;
            display: block;
            font-family: $text-font-stack;
            font-size: 16px;
            line-height: 1;
        }
    }
}
.audioplayer-bar {
	position: relative;
	display: flex;
	margin-left: 10px;
	height: 10px;
	cursor: pointer;
    width: 320px;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #f2f1f1;
        border-radius: 10px;
	}
	> div {
		position: absolute;
		left: 0;
		top: 0;
	}
    @media all and (max-width: 479px){
        width: 280px;
    }
    @media all and (max-width: 375px){
        width: 230px;
    }
    @media all and (max-width: 320px){
        width: 190px;
    }
}
.audioplayer-bar-loaded {
	z-index: 1;
    height: 100%;
	background-color: darken($color: #f2f1f1, $amount: 20%);
    border-radius: 10px;
    display: none;
}
.audioplayer-bar-played {
	z-index: 2;
    height: 100%;
    background-color: $brand-color;
    border-radius: 10px;
}
.audioplayer-volume {
	display: none;
}
.audioplayer-volume-button {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	a {
		display: flex;
		width: 6px;
		height: 8px;
		background-color: #9A9FB0;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-right: 9px solid #9A9FB0;
			border-bottom: 8px solid transparent;
			border-left: none;
			top: -4px;
		}
		&:after {
			content: '';
			position: absolute;
		}
	}
}
.audioplayer-mute {
	.audioplayer-volume-button {
		a {
			background-color: #FD4F1A;
			&:before {
				border-right: 9px solid #FD4F1A;
			}
		}
	}
}
.audioplayer-volume-adjust {
	display: flex;
	align-items: center;
	margin-left: 8px;
	>div {
		position: relative;
		display: flex;
		width: 60px;
		height: 2px;
		cursor: pointer;
		background-color: #BEC8D2;
	}
	div {
		div {
			position: absolute;
			top: 0;
			left: 0;
			height: 2px;
			background-color: #0059FF;
		}
	}
}
.audioplayer-playback-rate{
    position: absolute;
    top: 35px;
    right: 25px;
    cursor: pointer;
    .current-playback-rate{
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
        color: #ccc;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 60px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.1);
        opacity: 0;
        visibility: hidden;
        transition: all linear 0.2s;
        li{
            font-size: 16px;
            line-height: 1;
            color: #ccc;
            padding: 10px;
            &:hover{
                background-color: #f2f1f1;
            }
        }
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }
}
.audioplayer-download{
    position: absolute;
    top: 37px;
    right: 0;
    width: 15px;
    height: 12px;
    font-size: 0;
    background: url(../images/icon-download.svg) no-repeat center top;
}

#tooltip {
    text-align: left;
    color: black;
    background: white;
    position: absolute;
    z-index: 100;
    padding: 0px;
    box-sizing: border-box;    
    box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.55);
    border-radius:3px;
}

#tooltip span {
    padding:15px;
    display: block;
}

#tooltip img {
    width: 100%;
    max-width: 300px;
    display: block;
    height: 170px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}


@media only screen and (max-width: 768px){
    #tooltip:before{
        content: 'x';
        position: absolute;
        color: #fff;
        right: 8px;
        top: 3px;
        font-size: 12px;
    }
}

@media (max-width: 500px){
    #tooltip img {
        height: 135px;
    }
} 
 
#tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    content: '';
    position: absolute;
    left: var(--leftoffset);
    bottom: -8px;
    margin-left: 10px;
}

#tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid white;
    top: -20px;                         
    bottom: auto;
}


#tooltip.left:after
{
    left: 50px;
    margin: 0;
}

#tooltip.right:after
{
    right: 10px;
    left: auto;
    margin: 0;
}

.glossarizer_replaced {
    color: #eb0c38 !important;
    border-bottom: none !important;
    text-decoration: underline dotted !important;
    pointer-events: auto !important;
}
.glossarizer_replaced:hover {
    text-decoration:underline dotted;
    border-bottom: none;
}
a[title] {
    border-bottom: none;
    text-decoration:underline;
}

.social-share{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 80px;
    span{
        color: #727272;
        margin-right: 20px;
    }
    a{
        margin-right: 20px;
        position: relative;
        font-size: 0;
        &::after{
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            margin: auto;
            background-image: url(../images/social-share-sprite.svg);
            background-repeat: no-repeat;
            background-size: 155px auto;
        }
        &.icon-linkedin{
            width: 23px;
            height: 23px;
            &::after{
                background-position: left top;
            }
            &:hover{
                &::after{
                    background-position: left bottom;
                }
            }
        }
        &.icon-facebook{
            width: 12px;
            height: 23px;
            &::after{
                background-position: -47px top;
            }
            &:hover{
                &::after{
                    background-position: -47px bottom;
                }
            }
        }
        &.icon-twitter{
            width: 25px;
            height: 21px;
            &::after{
                background-position: -86px top;
            }
            &:hover{
                &::after{
                    background-position: -86px -33px;
                }
            }
        }
        &.icon-mail{
            width: 26px;
            height: 19px;
            &::after{
                background-position: -129px top;
            }
            &:hover{
                &::after{
                    background-position: -129px -33px;
                }
            }
        }
    }
}

.open-url {
  cursor: pointer;
  transition: color 0.2s ease;
  text-decoration: underline;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}