.page-methods {

#alignment {
  @media (max-width:1200px) {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}

  .process {
    .steps {
      position: sticky;
      top: 260px;

      a {
        display: block;
        margin: 0 0 4.5rem;
        font-size: 70px;
        line-height: 72px;
        font-weight: 700;
        text-decoration: none;
        color: $grey;
        white-space: nowrap;

        &:hover,
        &.active {
          color: $text-color;
        }

        @media screen and (max-width: 1600px) {
          margin-bottom: 3rem;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .steps-container {
        display: none;
      }
    }

    .illustrations {
      counter-reset: count;

      figure {
        counter-increment: count;
        position: relative;
        margin-bottom: 20rem;
        min-height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow: hidden;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          padding-left: 4.5rem;
        }

        figcaption {
          position: absolute;
          left: 0;
          top: 0;
          width: 300px;
        }

        .drop {
          position: absolute;
          left: 59.4%;
          top: 66%;
          width: 1.75%;
          height: auto;
          padding: 0;
          // transition: all 1.5s cubic-bezier(.45,1.17,.74,1.08);
          // transform-origin: center top;
          // transform: scale(0);

          // &.drip {
          //     transform: scale(1);
          // }

          // &.took {
          //     transition-timing-function: linear;
          //     transition-duration: 0.9s;
          //     left: -.7%;
          //     top: 111.2%;
          // }
        }

        .seg0,
        .seg1 {
          position: absolute;
          width: 5%;
          height: auto;
          padding: 0;
        }

        .seg0 {
          //     left: 100%;
          //     top: 35%;
          transform: rotateY(180deg);
          //     transition: all 1.5s linear;

          //     &.take {
          //         left: 0;
          //         top: 110%;
          //     }
        }

        .seg1 {
          width: 5.5%;
          left: -10%;
          top: -8%;
          transition: all 1s cubic-bezier(0.68, 1.2, 0.7, 1.01);

          &.in {
            left: 28%;
            top: 26%;
          }
        }

        @media screen and (max-width: 1024px) {
          img {
            padding-left: 0;
          }
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 120px;

          &:before {
            content: counter(count) ". " attr(id);
            font-size: 56px;
            font-weight: 700;
            line-height: 60px;
            text-transform: capitalize;
            color: $text-color;
            margin-bottom: 2rem;
          }

          img {
            margin-top: 3rem !important;
            order: 1;
          }

          figcaption {
            position: static;
            order: 0;
          }
        }

        @media screen and (max-width: 560px) {
          margin-bottom: 80px;

          &:before {
            font-size: 40px;
            line-height: 42px;
          }
        }
      }
    }
  }

  .advantage {
    .graphics {
      img {
        padding: 2rem;
      }

      object {
        max-width: 350px;
        margin: 0 auto;
        display: block;
      }

      figcaption {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }

  .capabilities {
    .cap-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin-bottom: -3rem; // offset bottom margin of cap-list-group

      .cap-list-group {
        flex: 0 0 50%;
        width: 50%;
        margin-bottom: 3rem;
        padding-right: 1rem;
      }
    }

    @media screen and (max-width: 960px) {
      .grid.grid-3 {
        grid-template-columns: 1fr;

        .cell.cell-right2 {
          grid-column: 1 / 2;
        }
      }
    }

    @media screen and (max-width: 360px) {
      .cap-list {
        display: block;

        .cap-list-group {
          width: 100%;
        }
      }
    }
  }

  .brand-building {
    h1 {
      margin-bottom: 8rem;
      @media all and (max-width: 400px) {
        margin-bottom: 2rem;
      }
    }
  }

  .process-list {
    margin: 0 0 25px;
    padding: 0;
    list-style: none;
    display: flex;
    counter-reset: process;
    li {
      min-height: 265px;
      display: flex;
      align-items: center;
      width: calc((100% - 35px) / 8);
      color: #fff;
      padding-left: 90px;
      position: relative;
      opacity: 0;
      transform: translateX(-50px);
      &::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 100%;
        border-left: 60px solid $brand-color;
        border-top: 132px solid transparent;
        border-bottom: 132px solid transparent;
        z-index: 1;
      }
      strong {
        position: relative;
        display: block;
        padding-top: 65px;
        font-size: 18px;
        z-index: 2;
        &::before {
          position: absolute;
          counter-increment: process;
          content: counter(process);
          top: 0;
          left: 0;
          font-size: 70px;
          line-height: 0.8;
          font-weight: 300;
          display: block;
        }
      }
      &.process-1 {
        background-color: $brand-color;
        width: 10%;
        padding-left: 45px;
        z-index: 8;
      }
      &.process-2 {
        background-color: #c80a32;
        z-index: 7;
        &::after {
          border-left-color: #c80a32;
        }
      }
      &.process-3 {
        background-color: #b40a32;
        z-index: 6;
        &::after {
          border-left-color: #b40a32;
        }
      }
      &.process-4 {
        background-color: #a00a2d;
        z-index: 5;
        &::after {
          border-left-color: #a00a2d;
        }
      }
      &.process-5 {
        background-color: #8c0528;
        z-index: 4;
        &::after {
          border-left-color: #8c0528;
        }
      }
      &.process-6 {
        background-color: #78051e;
        z-index: 3;
        &::after {
          border-left-color: #78051e;
        }
      }
      &.process-7 {
        background-color: #59121c;
        z-index: 2;
        &::after {
          border-left-color: #59121c;
        }
      }
      &.process-8 {
        background-color: $brand-color;
        z-index: 1;
        strong {
          &:before {
            transition: transform 0.3s ease-in-out;
          }          
        }
        &::after {
          border-left-color: $brand-color;
        }
      }

      @media all and (max-width: 1400px) {
        min-height: 200px;
        padding-left: 75px;
        &::after {
          border-left-width: 50px;
          border-top-width: 100px;
          border-bottom-width: 100px;
        }
        strong {
          font-size: 16px;
          line-height: 1.1;
          padding-top: 50px;
          &::before {
            font-size: 50px;
          }
        }
        &.process-1 {
          padding-left: 30px;
        }
      }

      @media all and (max-width: 1024px) {
        padding-left: 65px;
        strong {
          font-size: 14px;
          padding-top: 40px;
          &::before {
            font-size: 40px;
          }
        }
      }

      @media all and (max-width: 900px) {
        min-height: 180px;
        padding-left: 55px;
        &::after {
          border-left-width: 40px;
          border-top-width: 90px;
          border-bottom-width: 90px;
        }
      }
    }

    &.active {
      li {
        animation: process-list 0.4s linear forwards;
        &.process-1 {
          animation-delay: 0.3s;
        }
        &.process-2 {
          animation-delay: 0.6s;
        }
        &.process-3 {
          animation-delay: 0.9s;
        }
        &.process-4 {
          animation-delay: 1.2s;
        }
        &.process-5 {
          animation-delay: 1.5s;
        }
        &.process-6 {
          animation-delay: 1.8s;
        }
        &.process-7 {
          animation-delay: 2.1s;
        }
        &.process-8 {
          animation-delay: 2.4s;
          strong:before {
            transition-delay: 3s;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
  .capabilities-block {
    .link-btn {
      color: $red;
      position: relative;
      display: inline-block;
      cursor: pointer;
      transition: 0.5s all;
      background-image: linear-gradient(currentColor, currentColor);
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 0 2px;
      text-decoration: none;
      font-weight: 700;
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      &:hover {
        background-size: 100% 2px;
      }
      &:after {
        content: "";
        background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23eb0c38' stroke-width='2' /%3E%3C/svg%3E")
          no-repeat center/contain transparent;
        position: absolute;
        top: 10px;
        padding-left: 30px;
        width: 18px;
        height: 9px;
        transition: transform 0.4s ease;
        transform: rotate(-180deg);
        transform-origin: center;
      }
      &.open {
        &:after {
          transform: rotate(-360deg);
        }
      }
      @media all and (max-width: 767px) {
        &::after {
          top: 8px;
          padding-left: 20px;
          height: 7px;
        }
      }
    }
  }
}
.brand-building-block {
    overflow: initial!important;
    width: 100%;
    &.is-right-scrollable {
        &:after {
            opacity: 0;
        }
    }
    @media all and (max-width: 1024px) {
          overflow-x: scroll;
          overflow-y: hidden!important;
          position: relative;
          .brand-building-container {
            width: 1200px;
            padding-bottom: 1rem;
          }

          &.is-right-scrollable {
            background: white!important;
            &:after {
                opacity: 1;
                content: "";
                position: fixed;
                width: 4rem;
                height: calc(100% - 9rem);
                background: linear-gradient(270deg, #FFFFFF 30%, rgba(255, 255, 255, 0) 100%);
                top: 0;
                right: 2rem;
                z-index: 99;
              }
          }
          &.is-left-scrollable {
            background: white!important;
          }
    }
    @media all and (max-width: 768px) {
        &.is-right-scrollable {
            &:after {
                height: calc(100% - 5rem);
                width: 3rem;
                right: 1rem;
            }
        }
    }
}



.capabilities-list {
  display: none;
  .capabilities-container {
    padding-top: 20px;
    display: flex;
    position: relative;
    .capabilities-box {
      width: calc((100% - 35px) / 8);
      font-size: 16px;
      padding-right: 10px;
      li {
        -webkit-hyphens: auto; /* for Safari */
        hyphens: auto;
        &::marker {
          color: $brand-color;
        }
      }
    }
  }
}

@keyframes process-list {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
