.page-news {
    .news-filter {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 120px;
        a {
            margin-right: 4rem;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-decoration: none;
            color: $text-color;
            background-image: linear-gradient(currentColor, currentColor);
            background-repeat: no-repeat;
            background-position: 0 100%;
            background-size: 0 2px;
            &:hover,
            &.selected {
                color: $red;
            }
            &:hover {
                background-size: 100% 2px;
            }
        }
        @media screen and (max-width: 1366px) {
            a {
                font-size: 1rem;
            }
        }
        @media screen and (max-width: 800px) {
            margin-bottom: 4.5rem;
            display: flex;
            flex-direction: column;
            grid-gap: 0;
            align-items: flex-start;
            a {
                margin-bottom: 1.5rem;
            }
        }
        @include respond-to('xs') {
            margin-bottom: 4.5rem;
            display: flex;
            flex-direction: column;
        }
    }
    .news-list {
        padding: 0;
        .news-item {
            figure{
                & > a{
                    position: relative;
                    display: block;
                    min-height: 270px;
                    padding-bottom: 56.25%;
                    margin-bottom: 2rem;
                    img,
                    video{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background-color: #f0f0f0;
                    }
                }
            }
            a {
                display: block;
                text-decoration: none;
                color: inherit;
                &:hover{
                    color: $brand-color;
                    text-decoration: underline;
                }
            }
        }
        @media screen and (max-width: 1024px) {
            // padding-bottom: 120px;
            .news-item{
                figure{
                    & > a{
                        min-height: 220px;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            padding-bottom: 80px;
            .news-item {
                margin-bottom: 40px;
                figure {
                    img {
                        margin-bottom: 1rem;
                    }
                }
                figcaption {
                    .small {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        @media screen and (max-width: 480px) {
            padding-bottom: 40px;
        }
    }
    &.latest {
        .intro + section {
            padding: 0;
        }
        .news-list {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            gap: 0 4.5rem;
            @include respond-to('lg') {
                gap: 0 3rem;
            }
        }
        .news-item {
            flex-basis: calc((100% - 9rem) / 3);
            width: calc((100% - 9rem) / 3);
            margin-bottom: 4.5rem;
            @include respond-to('lg') {
                margin-bottom: 3rem;
            }
            @media screen and (max-width: 900px) {
                flex-basis: calc((100% - 3rem) / 2);
                width: calc((100% - 3rem) / 2);
            }
            @media screen and (max-width: 479px) {
                flex-basis: 100%;
                width: 100%;
            }
        }
        .gutter-sizer {
            position: relative!important;
            display: block!important;
            width: 4.5rem;
            @include respond-to('lg') {
                width: 3rem;
            }
        }
    }
}

.page-news-item {
    .images {
        margin-bottom: 120px;
        figure {
            margin-bottom: 4.5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        figcaption {
            // font-size: 1rem;
            font-style: italic;
            margin-top: 1rem;
            color: $darkgrey;
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 80px;
            figure {
                margin-bottom: 3rem;
            }
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 40px;
            figure {
                margin-bottom: 2rem;
            }
        }
    }
    figure {
        video {
            width:100%;
            height: 100%;
        }
    }
    h1 {
        margin-bottom: 2.5rem;
    }
    .date {
        margin-bottom: 7rem;
        color: $darkgrey;
    }

    .news-body,
    .siblings{
        padding-bottom: 0;
    }

    .siblings {
        h3 {
            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                    color: $red;
                }
            }
        }
        .date-posted {
            font-size: 16px;
            color: $darkgrey;
        }
        figcaption {
          display: none;
        }
        @media screen and (max-width: 768px)  {
            .cell {
                &:first-child {
                    margin-bottom: 3.5rem;
                }
            }
        }

        @media screen and (max-width: 480px)  {
            .cell {
                &:first-child {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}