.page-toolbox {
    .grid.grid-3 {

    }

    .toollist {
        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 640px) {
            grid-template-columns: 1fr;
        }
    }

    .toolcard {
        position: relative;
        padding: 1.5rem;
        background-color: $grey;
        grid-column: span 1 !important;

        .icon {
            margin-bottom: 1.5rem;

            svg {
                display: block;
                height: 200px;
                margin: 0 auto;
                object-fit: contain;
                object-position: center;
            }
        }

        h4 {
            height: 2.6em; // 2 lines
            margin-bottom: 0.75rem;

            span {
                background-image: linear-gradient($red, $red);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: color 0.3s ease, background-size 0.3s ease;
            }
        }

        p {
            margin-bottom:3rem;
        }

        a {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;

            &.ext {
                &:before {
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M25.6806 13.543V0.383301H12.4996' stroke='%23EB0C38' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M8.21948 17.8231L25.6806 0.383301' stroke='%23EB0C38' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M6.70762 0.319336H0.319412V25.6805H25.6167V19.2923' stroke='%23EB0C38' stroke-width='3' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                }
            }
        }

        &:hover {
            h4 {
                span {
                    color: $red;
                    background-size: 100% 2px;
                }
            }
        }
    }
}