.page-website-audit-tool {
    margin-top: 83px;

    b, strong { font-weight: 700; }

    #landing {
        // display: flex;
        // flex-flow: column nowrap;
        // justify-content: flex-start;
        height: 100vh;
        overflow: auto;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        h1 {
            margin-top: 0.8rem;
            font-size: 96px;
            line-height: 100px;

            @media screen and (max-width: 768px) {
                font-size: 80px;
                line-height: 80px;
            }

            @media screen and (max-width: 640px) {
                font-size: 70px;
                line-height: 72px;
            }

            @media screen and (max-width: 560px) {
                margin-top:-1.4rem;
                font-size: 56px;
                line-height: 60px;
            }

            @media screen and (max-width: 480px) {
                font-size: 40px;
                line-height: 42px;
            }

        }
        @media (max-width:748px) {
            .form-row {
                label {
                    white-space: unset;
                    display: inline-block;
                    margin-left:0px;
                    padding-left: 1rem;
                    width: 90%;
                }
                #optin {
                    margin-top:3px;
                    vertical-align: top;
                }
            }
        }
    }
        // #landing {
        //     display: flex;
        //     flex-flow: column nowrap;
        //     justify-content: flex-start;
        //     overflow: auto;
        //     height: calc(100vh - 83px);
        //     max-height: calc(100vh - 83px);
        //     padding: 0;

        //     @media screen and (min-height: 680px ) {
        //         justify-content: center;
        //     }

        //     .container {
        //         padding: 2rem;

        //         @media screen and (max-width: 480px) {
        //             padding: 1rem;
        //         }
        //     }
        // }
    #start {
        .landing-buttons {
            margin: 2rem 0;
        }
    }

    .final-score {
        margin-top:4rem;
    }

    #main-container {
        overflow: hidden;

        section {
            position: relative;
            max-width: 960px;
            // min-height: calc(100vh - 83px);
            padding: 5rem 0 10rem;
            margin: 0 auto;
            opacity: 1;
            pointer-events: auto;
        }
    }

    #main {
        min-height: 100vh;
        &.hidden {
            display: none;
        }
    }

    .report-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .logo {
            display:none;
            width:150px;
        }
    }

    .action-buttons {
        a {
            width:300px;
            text-align: center;
            @media (max-width:748px) {
                width:280px;
                padding: 1rem 2rem
            }
        }
    }

    #webaudit {
            overflow: hidden;
        }

        h3 + p {
            margin-top: 1rem;
        }

        h4 {
            color: #707070;
        }

        input[type="text"] {
            position: relative;
            width: 100%;
            padding: 0.5rem 0;
            font-family: $text-font-stack;
            border: 0 none;
            border-bottom: 1px solid $text-color;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
        }

        input[type="range"] {
            vertical-align: middle;
        }

        label {
            display: inline-block;
            margin-right: 1rem;
            white-space: nowrap;

            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: 480px) {
                display: block;
                margin-right: 0;
                margin-bottom: 0.5rem;
            }
        }

        #submit {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            button {
                margin-left: 20px;
                flex: 1 0 auto;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .desktopss, .mobiless {
            position: relative;
            margin: 1.5rem 0;

            img {
                border: 2px solid #727272;
            }

            .loading {
                padding: 4rem;
            }
        }

        .ssnote {
            color: $darkgrey;
            font-style: italic;
            font-size: 16px;

            .m {
                display: none;
            }

            @media screen and (max-width: 640px) {
                .d {
                    display: none;
                }
                .m {
                    display: inline;
                }
            }
        }
        .slider-helper {
            color:#CCCCCC;
            max-width: 600px;
            text-align: center;
            font-size: 16px;
            span {
                margin:0px 15px;
            }
            &:before {
                content: "←";
                color:#CCCCCC;
            }
            &:after {
                content: "→";
                color:#CCCCCC;
            }
        }
        .slider-parent {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 600px;

            span {
                flex: 0 0 45%;
                font-size: 16px;
                &:first-child {
                    text-align: left;
                    order: 0;
                }

                &:nth-of-type(2) {
                    text-align: right;
                    order: 2;
                }
            }

            .slider {
                display: inline-block;
                width: 100%;
                max-width: unset;
                height: 16px;
                margin: 1rem 0rem;
                flex-basis: 100%;
                order: 10;

                &.noUi-target {
                    background: #F2F1F1;
                    border: none;
                    box-shadow: none;
                    border-radius: 10px;
                }

                .noUi-handle {
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    &:before, &::after {
                        background-color: $red;
                    }
                    
                }
                

                .noUi-touch-area {
                    box-shadow: 0 0 0 rgba(235, 12, 56, 0.4);
                    animation: pulse 2.5s infinite;
                    background-color: $red;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    position: absolute;
                    top:-1px;
                    &.no-animation {
                        animation: none;
                    }
                    &:hover {
                        animation: none;
                    }
                }
                @keyframes pulse {
                    0% {
                    box-shadow: 0 0 0 0 rgba(235, 12, 56, 0.4);
                    }
                    70% {
                        box-shadow: 0 0 0 10px rgba(235, 12, 56, 0);
                    }
                    100% {
                        box-shadow: 0 0 0 0 rgba(235, 12, 56, 0);
                    }
                }
            }
        }
                .question {
                    &:nth-of-type(n+2) {
                        display: none;
                    }
                }

                #q1 {
                    padding: 5rem 0rem;
                    min-height: calc(100vh);
                    @media (max-width:748px) {
                        #submit {
                            display: block;
                        }
                        #share-url {
                            margin-left: 0px;
                            margin-top:1rem;
                            float: right;
                        }
                        #loader {
                            margin:5rem 0;
                            
                        }
                        .loader-wrapper {
                            flex-direction: column;
                        }
                        .loader-inner {
                            margin: 0 auto;
                        }
                        .loader-text {
                            margin-top: 1rem;
                        }
                    }
                }
                .step-wrapper {
                    min-height: 100vh;
                    padding: 3rem 0rem;
                    &:nth-of-type(n+2) {
                        display: none;
                    }
                }
    
            .answer {
                opacity: 0;
                padding: 2rem;
                margin-top: 2rem;
                background-color: $grey;
            }

            .answer + .question,
            .question + .question {
                margin-top: 2rem;
            }

            .iframe-wrapper {
                margin-bottom: 1rem;

                img {
                    border: 2px solid #727272;
                }
            }
       

        

        

        // iframe {
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     overflow: hidden;
        //     border: 0 none;
        //     width: 100%;
        //     height: 100%;
        // }

        .braekdown {
            margin-top: 4rem;
        }

        .scores, .results, .takeaway {
            display: none;
        }

        .scores {
            padding: 2rem;
            background-color: $grey;
            @media (max-width:748px) {
                padding:1rem;
            }
            .track {
                margin-bottom: 2rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .scorebar {
            display: inline-block;
            position: relative;
            width: 100%;
            max-width: 400px;
            height: 6px;
            margin-right: 1rem;
            background-color: #fff;
            // border: 1px solid #B5B2B2;
            border-radius: 3px;
            @media (max-width:748px) {
                max-width: 80%;
            }
            .score {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $red;
                border-radius: 3px;
                transform-origin: left top;
            }

            &.overall {
                display: inline-block;
                max-width: 600px;
                height: 48px;
                border-radius: 24px;
                background-color: #ccc;
                vertical-align: middle;
                overflow: hidden;

                .score {
                    border-radius: 24px;

                    &.poor {
                        background-color: #707070;
                    }

                    &.average {
                        background-color: #A0092C;
                    }

                    &.great {
                        background-color: #EB0C38;
                    }

                }
            }
        }

        .final-score {
            margin-top:4rem;
        }

        #overall-score {
            display: inline-block;
            vertical-align: middle;
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
        }

        .totalbar {
            width: 100%;
            max-width: 600px;
            margin: 2rem 0 4rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;

            & > * {
                position: relative;
                text-align: right;
                font-size: 16px;
                line-height: 1.3125;
                margin-right: 3px;
                padding-top: 6px;
                // padding-left: 2.5rem;
                // white-space: nowrap;

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 6px;
                }
            }

            .poor {
                flex-basis: 60%;

                &:after {
                    background-color: #707070;
                }
            }

            .average {
                flex-basis: 20%;

                &:after {
                    background-color: #A0092C;
                }
            }

            .great {
                flex-basis: 20%;

                &:after {
                    background-color: #EB0C38;
                }
            }
        }

        .lighthouse {
           // margin-top: 50px;
        }

        .results {
            margin-top: 4rem;
            h3 {
                margin-bottom: 1rem;
            }

            .allresults {
                .active {
                    display: none !important;
                }
            }

            .result {
                color: $midgrey;

                &.active {
                    font-size: 34px;
                    line-height: 1.3;
                    color: $text-color;

                    strong {
                        color: $red;
                    }
                }

                @media (max-width:748px) {
                    font-size: 18px;
                }
            }
        }

        .cta-bottom {
            margin-top: 4rem;
            h3 {
                margin-bottom: 1em;
            }
            .content {
                margin-bottom:2rem
            }
        }

        #feedback {
            position: fixed;
            right: 85px;
            bottom: 20px;
            max-width: 45px;
            max-height: 45px;
            border: 1px solid #16161d;
            background-color: #fff;
            overflow: hidden;
            z-index: 99;
            transition: max-width 0.5s ease, max-height 0.5s ease, right 0.4s ease, bottom 0.4s ease;

            &:hover {
                max-width: 160px;
            }

            .btn-feedback {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 160px;
                height: 45px;
                padding: 10px;
                color: #fff;
                text-decoration: none;
                // transform: translateY(0);
                background-color: #16161d;
                // transition: transform 0.5s ease;
                transition: top 0.5s ease;

                img {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    width: 25px;
                    height: 25px;
                }

                span {
                    margin-left: 45px;
                }
            }

            .report-content {
                width: 100%;
                max-width: 400px;
                padding: 1rem;
                color: #16161d;
                transition: transform 0.5s ease;
                transform-origin: right bottom;
                transform: scale(0);

                p {
                    margin-bottom: 0;
                    font-size: 1rem;
                }

                textarea {
                    display: block;
                    width: 100%;
                    height: 150px;
                    padding: 0.25rem;
                    margin-bottom: 1rem;
                    resize: none;
                    font-family: $text-font-stack;
                    font-size: 1rem;
                    border: 0 none;
                    border-bottom: 1px solid #16161d;
                }
            }

            #t {
                display: none;
            }

            #feedback_form {
                margin-top: 1rem;
            }

            #feedback_email {
                width: 100%;
                max-width: 300px;
                padding: 0.25rem;
                margin-bottom: 1rem;
                font-family: $text-font-stack;
                font-size: 1rem;
                border: 0 none;
                border-bottom: 1px solid #16161d;
                appearance: none;
            }

            .buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                button {
                    margin: 0;
                    flex: 0 1 calc(50% - .5rem);

                    &.close {
                        text-decoration: underline;
                        background-color: transparent;
                        color: $red;
                    }
                }
            }

            &.open {
                max-width: 400px;
                max-height: 380px;

                .btn-feedback {
                    left: 0;
                    top: -45px;
                }

                .report-content {
                    transform: scale(1);
                }
            }

            @media screen and (max-width: 980px) {
                max-width: 30px;
                max-height: 30px;
                bottom: 10px;
                right: 50px;

                .btn-feedback {
                    padding: 3px;
                    font-size: 16px;
                    line-height: 20px;
                    height: 30px;

                    img {
                        left: 0;
                        top: 0;
                        width: 30px;
                        height: 30px;
                        padding: 4px;
                    }
                }

                &.open {
                    .btn-feedback {
                        top: -30px;
                    }
                }
            }

            @media screen and (max-width: 480px) {
                &.open {
                    right: 20px;
                    bottom: 50px;
                    max-width: calc(100% - 40px);
                }

                .report-content {
                    width: 100%;
                }
            }
        }
        .popup_modal {
            position: fixed;
            left: 0;
            top: 83px;
            width: 100%;
            height: calc(100% - 83px);
            background-color: rgba(0,0,0,.7);
            z-index: -1;
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s ease;
    
            &.open {
                z-index: 1200;
                opacity: 1;
                pointer-events: auto;
            }
    
            .popup_modal-content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                max-width: 720px;
                padding: 4rem;
                background-color: #fff;
            }
    
            h2 {
                margin-bottom: 0.5rem;
            }
    
            .close {
                position: fixed;
                right: 2rem;
                top: 2rem;
                width: 17px;
                height: 17px;
                z-index: 150;
    
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    display: block;
                    width: 1.5rem;
                    height: 1px;
                    transform-origin: center;
                    background-color: $red;
                }
    
                &:before {
                    transform: translateY(-50%) rotate(45deg);
                }
    
                &:after {
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
    
            .button-container {
                margin: 2rem 0;
                padding: 0;
    
                .button + .button {
                    margin-left: 2rem;
                }
            }
        }
        .form-row {
            // margin: 0;
            margin-top: 3rem;
            padding: 0;
            position: static;
    
            // & + .form-row {
            //     margin-top: 0;
            // }
    
            input[type="checkbox"],
            input[type="radio"] {
                & + label {
                    margin-left: 1rem;
                }
            }
    
            input[type="text"],
            input[type="email"],
            input[type="password"],
            textarea {
                & + label {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
    
            .form-row {
                padding-left: 2rem;
                margin: 0;
            }
    
            .shake {
                transform-origin: center;
                animation: .4s linear 1 shake;
            }
    
            input[type="text"],
            input[type="email"],
            input[type="date"] {
                min-width: 400px;
    
                &.error {
                    box-shadow: 0 0 4px #eb0c3e;
                }
    
                @media screen and (max-width: 640px) {
                    min-width: 320px;
                }
    
                @media screen and (max-width: 480px) {
                    min-width: 0;
                    width: 100%;
                }
            }
    
            label {
                font-size: inherit;
                line-height: inherit;
                color: inherit;
    
                & + input[type="radio"],
                & + input[type="checkbox"] {
                    margin-left: 2rem;
                }
    
                input[type="text"] {
                    display: inline-block;
                    width: 300px;
                    min-width: 100px;
                    text-align: center;
                }
            }
    
            input[type="radio"],
            input[type="checkbox"] {
                &:checked {
                    & + label {
                        & + .sub-row {
                            display: block;
                            max-height: initial;
                            opacity: 1;
                            transform: scaleY(1);
                            overflow: visible;
    
                            & + br {
                                display: none;
                            }
                        }
                    }
                }
            }
    
            .sub-row {
                display: none;
                overflow: hidden;
                padding: 1rem 0;
                max-height: 0;
                opacity: 0;
                transform: scaleY(0);
                transform-origin: left top;
                transition: all 0.3s ease-out;
    
                label {
                    padding: 0;
                }
    
                textarea {
                    max-width: 75%;
                }
    
                & + p {
                    margin-top: 1.5rem;
                }
            }
    
            input.custom_response {
                max-width: 600px;
            }
    
            .slider-container {
                padding-top: 4rem;
            }
    
            .ui-slider {
                margin: 0.5rem 0 0.25rem;
    
                .ui-slider-range {
                    transition: all 0.1s ease-out;
                    background: $grey;
                }
    
                .handle {
                    min-width: 4rem;
                    height: 1.75rem;
                    // transform: translateX(-50%);
                    padding: 0 0.25rem;
                    margin-top: -2px;
                    font-size: 1rem;
                    text-align: center;
                    transition: all 0.1s ease-out;
                    background: $grey;
                    color: #fff;
                    border: 1px solid $grey !important;
    
                    &#gender {
                        width: 4rem;
                    }
    
                    &:hover {
                        .fa-sort {
                            color: #333333;
                        }
                    }
                }
            }
        }

        #loader, #error {
            margin: 3rem 0;
            display: none;
        }
        
        .warn {
            color: #eb0c38;
        }
        
        // .loader,
        // .loader:before,
        // .loader:after {
        //     background: #000000;
        //     -webkit-animation: load1 1s infinite ease-in-out;
        //     animation: load1 1s infinite ease-in-out;
        //     width: 1em;
        //     height: 4em;
        // }
        
        .loader-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .loader-text {
            margin-left: 20px;
            font-weight: bold;
        }
        
        // .loader {
        //     color: #000000;
        //     text-indent: -9999em;
        //     margin: 5px auto;
        //     position: relative;
        //     font-size: 11px;
        //     -webkit-transform: translateZ(0);
        //     -ms-transform: translateZ(0);
        //     transform: translateZ(0);
        //     -webkit-animation-delay: -0.16s;
        //     animation-delay: -0.16s;
        // }
        
        // .loader:before,
        // .loader:after {
        //     position: absolute;
        //     top: 0;
        //     content: '';
        // }
        
        // .loader:before {
        //     left: -1.5em;
        //     -webkit-animation-delay: -0.32s;
        //     animation-delay: -0.32s;
        // }
        
        // .loader:after {
        //     left: 1.5em;
        // }
        
        // @-webkit-keyframes load1 {
        
        //     0%,
        //     80%,
        //     100% {
        //         box-shadow: 0 0;
        //         height: 4em;
        //     }
        
        //     40% {
        //         box-shadow: 0 -2em;
        //         height: 5em;
        //     }
        // }
        
        // @keyframes load1 {
        
        //     0%,
        //     80%,
        //     100% {
        //         box-shadow: 0 0;
        //         height: 4em;
        //     }
        
        //     40% {
        //         box-shadow: 0 -2em;
        //         height: 5em;
        //     }
        // }

        .loader{
            background: url(../images/heartbeat.svg) no-repeat left top;
            background-size: 100% auto;
            width: 75px;
            height: 70px;
        }

        #tosmodal {
            .popup_modal-content {
                max-height: 80vh;
                width: 90%;
                max-width: 960px;
                overflow: auto;
    
                ol {
                    padding-left: 1.75rem;
                }
    
                p, li {
                    font-size: 1rem;
    
                    &:last-child {
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        .cta-bottom {
            margin-top: 4rem;
    
            .print-only {
                display: none;
            }
        }

        .pageNumberOne-tool, .pageNumberTwo-tool,.pageNumberOne-report, .pageNumberTwo-report {
            display: none;
        }

        .signup form {
            flex-flow: row wrap;
        }

}

.page-website-audit-tool-report {

    #main-container {
        max-width: 960px;
            // min-height: calc(100vh - 83px);
            padding: 0rem 1rem 10rem;
            margin: 0 auto;
    }
    #webaudit {
        display: none;

        h4 {
            color: #707070;
        }
.action-buttons {
        a {
            width:300px;
            text-align: center;
            @media (max-width:748px) {
                width:280px;
                padding: 1rem 2rem
            }
        }
    }

    }

    .final-score {
        margin-top:4rem;
    }

    .scores {
        padding: 2rem;
        background-color: $grey;
        
        @media (max-width:748px) {
            padding:1rem;
        }

        .track {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .brand {
            margin-top:2rem;
        }
    }

    .scorebar {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 6px;
        margin-right: 1rem;
        background-color: #fff;
        // border: 1px solid #B5B2B2;
        border-radius: 3px;
        @media (max-width:748px) {
            max-width: 80%;
        }
        .score {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $red;
            border-radius: 3px;
            transform-origin: left top;
        }

        &.overall {
            display: inline-block;
            max-width: 600px;
            height: 48px;
            border-radius: 24px;
            background-color: #ccc;
            vertical-align: middle;
            overflow: hidden;

            @media (max-width:748px) {
                max-width: 80%;
            }

            .score {
                border-radius: 24px;

                &.poor {
                    background-color: #707070;
                }

                &.average {
                    background-color: #A0092C;
                }

                &.great {
                    background-color: #EB0C38;
                }

            }
        }
    }

    #overall-score {
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
    }

    .totalbar {
        width: 100%;
        max-width: 600px;
        margin: 2rem 0 4rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        & > * {
            position: relative;
            text-align: right;
            font-size: 16px;
            line-height: 1.3125;
            margin-right: 3px;
            padding-top: 6px;
            // padding-left: 2.5rem;
            // white-space: nowrap;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 6px;
            }
        }

        .poor {
            flex-basis: 60%;

            &:after {
                background-color: #707070;
            }
        }

        .average {
            flex-basis: 20%;

            &:after {
                background-color: #A0092C;
            }
        }

        .great {
            flex-basis: 20%;

            &:after {
                background-color: #EB0C38;
            }
        }
    }
    .lighthouse {
        //margin-top: 50px;
    }
    .results {
        margin-top: 4rem;
        h3 {
            margin-bottom: 1rem;
        }
        .report-header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .logo {
                display:none;
                width:150px;
            }
        }

        .allresults {
            .active {
                display: none !important;
            }
        }

        .result {
            color: $midgrey;

            &.active {
                font-size: 34px;
                line-height: 1.3;
                color: $text-color;

                strong {
                    color: $red;
                }
                @media (max-width:748px) {
                    font-size: 18px;
                }
            }

        }
    }

    .cta-bottom {
        margin-top: 4rem;

        h3 {
            margin-bottom: 1em;
        }
        .content {
            margin-bottom:2rem
        }

        .print-only {
            display: none;
        }
    }

    .fetching {
        display: flex;
        justify-content: center;
        height: 70vh;
    }

    #loader, #error {
        margin: 3rem 0;
    }
    
    .warn {
        color: #eb0c38;
    }
    
    .loader,
    .loader:before,
    .loader:after {
        background: #000000;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }
    
    .loader-inner {
        height: 50px;
        width: 100px;
        flex: 1 0 80px;
    }
    
    .loader-wrapper {
        display: flex;
        align-items: center;
    }
    
    .loader-text {
        font-weight: bold;
    }
    
    .loader {
        color: #000000;
        text-indent: -9999em;
        margin: 5px auto;
        position: relative;
        font-size: 11px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    
    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }
    
    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .loader:after {
        left: 1.5em;
    }
    
    @-webkit-keyframes load1 {
    
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
    
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
    
    @keyframes load1 {
    
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
    
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }

    .pageNumberOne-tool, .pageNumberTwo-tool,.pageNumberOne-report, .pageNumberTwo-report  {
        display: none;
    }

    .signup form {
        flex-flow: row wrap;
    }
}

/* override styles when printing */
@media print {

    body {
        -webkit-print-color-adjust: exact !important;
        margin-top:0px!important;
      }
    
    header, #landing, #q1, .step-wrapper, .contact, footer, .signup, #feedback, .action-buttons, .see-other, .acsb-trigger {
        display: none!important;
    }
    .acsb-trigger {
        opacity: 0!important;
        .acsb-ready {
            display: none!important;
            opacity: 0!important;
        }
    }
    .results {
        display: block;
    }
    #main-container section {
        padding:0!important;
    }
    .container {
        padding:0;
    }
    .scores {
        background-color: #f2f1f1!important;
        padding: 1.5rem!important;;
    }
    #webaudit {
        overflow: visible!important;
        margin-top: -60px!important;;
    }
    .scorebar {
            max-width: 465px!important;
    } 
    .totalbar {
        margin-bottom:1.5rem!important;
        max-width: 465px!important;
        & > * {
            font-size: 12px!important;
        }
    }
    .lighthouse {
        padding-top:0rem!important;
        margin-top:0rem!important;
    }
    #brand {
        margin-top:2rem!important;
    }
    .final-score {
        margin-top:2rem!important;
    }

    .cta-bottom {
        margin-top:2rem!important;
        h3 {
            font-size: 30px!important;
            line-height: 36px;
        }
        .content {
            font-size: 17px!important;
            line-height: 22px;
        }
        .btn {
            display: none;
        }
        .print-only {
            font-size: 14px!important;
            display: block!important;
        }
    }
    .report-header {

        .logo {
            margin-top:1rem;
            align-self: end;
            display: block!important;
            width: 130px!important;
        }
        .report-heading {
            margin-top:6rem;
            h3 {
                font-size: 30px!important;
            }
            p {
                font-size: 14px!important;
                line-height: 18px;
            }
        }
    }
    .results {
        h4 {
            font-size: 17px!important;
        }
        .result {
            font-size: 17px!important;
        }
        .pleasenote {
            line-height: normal;
            font-size: 12px!important;
        }
        .scores {
            p {
                font-size: 14px!important;
                line-height: 18px;
            }
            .track {
                break-inside: avoid;
                margin-bottom: 1rem;
            }
            .brand {
                margin-top:2rem;
            }
        }
        #brand, #lighthouse {
            break-inside: avoid;
        }
    }
    #main-container {
        overflow: visible!important;
        padding-bottom: 2rem!important;
    }
    .pageNumberOne-tool, .pageNumberTwo-tool,.pageNumberOne-report, .pageNumberTwo-report  {
        display: block!important;
        position: absolute;
        font-size: 12px;
        height: 10px;
        left: calc(100% - 80px);
    }
    .pageNumberOne-tool  {
        top: calc(297mm);
    }
    .pageNumberTwo-tool {
        top: calc(580mm);
    }
    .pageNumberOne-report  {
        top: calc(280mm);
    }
    .pageNumberTwo-report {
        top: calc(563mm);
    }

    @page :first {
        margin-top: 5mm;
    }

    @page {
        size:auto;
        margin-top: 15mm;
        margin-bottom: 0mm;
        margin-left: 20mm;
        margin-right: 20mm;
    }

    .link {
        color:#EB0C38;
        text-decoration: underline;
    }
}