.page-website-brief {
  min-width: 360px;
  margin-top: 83px;

  b, strong { font-weight: 700; }

  .ui-widget {
      font-family: "Helvetica Neue", Arial, sans-serif;
  }

  ol, ul {
      > li {
          padding-left: 20px;
          margin-bottom: 30px;
          > span:not(:last-child) {
              display: block;
              padding-bottom: 20px;
          }
      }
  }

  table {
      border-spacing: 0;
      border-collapse: collapse;

      th, td {
          padding: 0.25rem 0.5rem;
          text-align: left;
      }

      &.noformat {
          th, td {
              padding: 0;
          }
      }
  }

  header {
      padding: 1.5rem 0;
  }

  footer {
      display: none;
  }

  .form-row {
    margin-top: 4rem;
    padding: 0;
    position: static;

    &.no-margin-top {
      margin-top: 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
      width: 16px;
      height: 16px;
      position: relative;
      top: 2px;
      & + label {
        margin-left: 10px;
        width: calc(100% - 30px);
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        line-height: normal;

        & + label {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
  

    .form-row {
        padding-left: 1.875rem;
        margin: 5px 0 20px;
    }

    .shake {
        transform-origin: center;
        animation: .4s linear 1 shake;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"] {
        min-width: 400px;

        &.error {
            box-shadow: 0 0 4px #eb0c3e;
        }

        @media screen and (max-width: 640px) {
            min-width: 320px;
        }

        @media screen and (max-width: 480px) {
            min-width: 0;
            width: 100%;
        }
    }

    label {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        cursor: pointer;

        & + input[type="radio"],
        & + input[type="checkbox"] {
            margin-left: 2rem;
        }

        input[type="text"] {
            display: inline-block;
            width: 300px;
            min-width: 100px;
            text-align: center;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        &:checked {
            & + label {
                & + .sub-row {
                    display: block;
                    max-height: initial;
                    opacity: 1;
                    transform: scaleY(1);
                    overflow: visible;

                    & + br {
                        display: none;
                    }
                }
            }
        }
    }

    input[type="file"] {
        font-size: 0.875rem;
    }

    .sub-row {
        display: none;
        overflow: hidden;
        padding: 1rem 0;
        max-height: 0;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: left top;
        transition: all 0.3s ease-out;

        label {
            padding: 0;
        }

        textarea {
            max-width: 75%;
        }

        & + p {
            margin-top: 1.5rem;
        }
    }

    input.custom_response {
        max-width: 600px;
    }

    .slider-container {
        padding-top: 4rem;
    }

    .ui-slider {
        margin: 0.5rem 0 0.25rem;

        .ui-slider-range {
            transition: all 0.1s ease-out;
            background: $grey;
        }

        .handle {
            min-width: 4rem;
            height: 1.75rem;
            // transform: translateX(-50%);
            padding: 0 0.25rem;
            margin-top: -2px;
            font-size: 1rem;
            text-align: center;
            transition: all 0.1s ease-out;
            background: $grey;
            color: #fff;
            border: 1px solid $grey !important;

            &#gender {
                width: 4rem;
            }

            &:hover {
                .fa-sort {
                    color: #333333;
                }
            }
        }
    }

    .editor-toolbar {
        margin-top: 10px;
    }

    &__option {
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;

        // &-handle {
        //     margin-right: 20px;
        // }
    }

    &__conditional {
        padding-top: 12px;
        display: none;
        &.show {
            display: block;
        }
    }

    &__remarks {
        color: grey;
        font-size: 15px;
        font-style: italic;
    }

    &__error {
        color: red;
        font-size: 15px;
        font-style: italic;
    }
  }
  
  .popup_modal {
      position: fixed;
      left: 0;
      top: 83px;
      width: 100%;
      height: calc(100% - 83px);
      background-color: rgba(0,0,0,.7);
      z-index: -1;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease;

      &.open {
          z-index: 1200;
          opacity: 1;
          pointer-events: auto;
      }

      .popup_modal-content {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          max-width: 720px;
          padding: 4rem;
          background-color: #fff;
      }

      h2 {
          margin-bottom: 0.5rem;
      }

      .close {
          position: fixed;
          right: 2rem;
          top: 2rem;
          width: 17px;
          height: 17px;
          z-index: 150;

          &:before,
          &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              display: block;
              width: 1.5rem;
              height: 1px;
              transform-origin: center;
              background-color: $red;
          }

          &:before {
              transform: translateY(-50%) rotate(45deg);
          }

          &:after {
              transform: translateY(-50%) rotate(-45deg);
          }
      }

      .button-container {
          margin: 2rem 0;
          padding: 0;

          .button + .button {
              margin-left: 2rem;
          }
      }
  }

  #summary {
    position: fixed;
    top: 3rem;
    height: calc(100vh - 3rem);
    width: 100%;
    overflow: auto;
    background-color: #fff;
    transition: all 0.5s ease-out;
    opacity: 0;
    pointer-events: none;
    z-index: 600;

    &.open {
      opacity: 1;
      pointer-events: auto;

      &:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
      }

      .container {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }

    .buttons {
      position: sticky;
      right: 2rem;
      top: 0;
      float: right;
      text-align: right;
      z-index: 120;

      a {
          padding: 0.5rem 1.5rem;
          margin: 0 0 0 1rem;
      }

      .share {
          position: relative;

          i {
              pointer-events: none;
          }
      }
    }

    header {
      overflow: visible;
      position: relative;
      min-width: unset;
      width: auto;
      padding: 0;
      background-color: transparent;
    }

    .close {
      position: sticky;
      float: right;
      right: 0;
      top: 0;
      width: 17px;
      height: 17px;
      z-index: 150;

      &:before, &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          display: block;
          width: 1.5rem;
          height: 1px;
          transform-origin: center;
          background-color: $red;
      }

      &:before {
          transform: translateY(-50%) rotate(45deg);
      }

      &:after {
          transform: translateY(-50%) rotate(-45deg);
      }
    }

    .container {
      position: absolute;
      width: 90%;
      max-width: 1280px;
      height: calc(80vh - 40px);
      left: 50%;
      top: calc(50% + 20px);
      transform: translate(-50%, -50%) scale(0.6);
      background-color: #fff;
      padding: 2rem;
      margin: 0;
      box-shadow: 0 2px 20px rgba(0,0,0,0.3);
      z-index: 200;
      overflow: auto;
      opacity: 0;
      transition: all 0.4s ease 0.2s;
    }

    iframe {
      border: 0;
      width: 100%;
      height: calc(100% - 4rem);
    }
  }

  #tosmodal {
      .popup_modal-content {
          max-height: 80vh;
          width: 90%;
          max-width: 960px;
          overflow: auto;

          ol {
              padding-left: 1.75rem;
          }

          p, li {
              font-size: 1rem;

              &:last-child {
                  margin-bottom: 2rem;
              }
          }
      }
  }

  #feedback {
      position: fixed;
      right: 85px;
      bottom: 20px;
      max-width: 45px;
      max-height: 45px;
      border: 1px solid #16161d;
      background-color: #fff;
      overflow: hidden;
      z-index: 99;
      transition: max-width 0.5s ease, max-height 0.5s ease, right 0.4s ease, bottom 0.4s ease;

      &:hover {
          max-width: 160px;
      }

      .btn-feedback {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 160px;
          height: 45px;
          padding: 10px;
          color: #fff;
          text-decoration: none;
          // transform: translateY(0);
          background-color: #16161d;
          // transition: transform 0.5s ease;
          transition: top 0.5s ease;

          img {
              position: absolute;
              left: 10px;
              top: 10px;
              width: 25px;
              height: 25px;
          }

          span {
              margin-left: 45px;
          }
      }

      .report-content {
          width: 100%;
          max-width: 400px;
          padding: 1rem;
          color: #16161d;
          transition: transform 0.5s ease;
          transform-origin: right bottom;
          transform: scale(0);

          p {
              margin-bottom: 0;
              font-size: 1rem;
          }

          textarea {
              display: block;
              width: 100%;
              height: 150px;
              padding: 0.25rem;
              margin-bottom: 1rem;
              resize: none;
              font-family: $text-font-stack;
              font-size: 1rem;
              border: 0 none;
              border-bottom: 1px solid #16161d;
          }
      }

      #t {
          display: none;
      }

      #feedback_form {
          margin-top: 1rem;
      }

      #feedback_email {
          width: 100%;
          max-width: 300px;
          padding: 0.25rem;
          margin-bottom: 1rem;
          font-family: $text-font-stack;
          font-size: 1rem;
          border: 0 none;
          border-bottom: 1px solid #16161d;
          appearance: none;
      }

      .buttons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          button {
              margin: 0;
              flex: 0 1 calc(50% - .5rem);

              &.close {
                  text-decoration: underline;
                  background-color: transparent;
                  color: $red;
              }
          }
      }

      &.open {
          max-width: 400px;
          max-height: 380px;

          .btn-feedback {
              left: 0;
              top: -45px;
          }

          .report-content {
              transform: scale(1);
          }
      }

      @media screen and (max-width: 980px) {
          max-width: 30px;
          max-height: 30px;
          bottom: 10px;
          right: 50px;

          .btn-feedback {
              padding: 3px;
              font-size: 16px;
              line-height: 20px;
              height: 30px;

              img {
                  left: 0;
                  top: 0;
                  width: 30px;
                  height: 30px;
                  padding: 4px;
              }
          }

          &.open {
              .btn-feedback {
                  top: -30px;
              }
          }
      }

      @media screen and (max-width: 480px) {
          &.open {
              right: 20px;
              bottom: 50px;
              max-width: calc(100% - 40px);
          }

          .report-content {
              width: 100%;
          }
      }
  }

  .button-container {
      margin: 2rem 0;

      &:last-child {
          margin-bottom: 0;
      }
  }

  .btn {
      display: inline-block;
      position: relative;
      transition: all 0.1s linear;

      &.disabled {
          opacity: .5;
          pointer-events: none;
      }

      &.flat {
          padding: 0;
          color: $red;
          text-decoration: underline;
          background-color: transparent;
          border: 0 none;
          box-shadow: none;
      }
  }

  #form-website-brief {
      overflow: hidden;

      section {
          position: relative;
          max-width: 960px;
          padding: 5rem 0 10rem;
          margin: 0 auto;
          opacity: 1;
          pointer-events: auto;

          @for $i from 1 through 6 {
              &.step#{$i} {
                  display: none;  
              }
          }

          &#landing, &#basic {
              padding: 0;
          }

          .container {
              margin-bottom: 50px;
          }
      }

      &.edit-mode {
          section {
              @for $i from 1 through 6 {
                  &.step#{$i} {
                      display: block;  
                  }
              }
          }
      }
  }

  #landing {
    h1 {
        font-size: 95px;
        line-height: 100px;
        margin-top: 3.6rem;
        sup {
          font-size: 30%;
          top: -3rem;
        }
        @media screen and (max-width: 768px) {
            margin-top: 4.5rem;
            font-size: 80px;
            line-height: 80px;
            sup {
              top: -2.5rem;
            }
        }

        @media screen and (max-width: 640px) {
            margin-top: 4.4rem;
            font-size: 70px;
            line-height: 72px;
            sup {
              top: -2.25rem;
            }
        }

        @media screen and (max-width: 560px) {
            margin-top: 1.7rem;
            font-size: 56px;
            line-height: 60px;
            sup {
              top: -2rem;
            }
        }

        @media screen and (max-width: 480px) {
            margin-top: 2.5rem;
            font-size: 40px;
            line-height: 42px;
            sup {
              top: -1.25rem;
            }
        }
    }

    sup {
        font-size: 50%;
        top: -1em;
    }

    .container {
        padding: 2rem;
    }
  }

  .option-sort {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      &__tray,
      &__bucket {
          width: 100%;
          padding: 20px;
          border: 1px solid #727272;
      }
      &__tray {
          &-item {
              cursor: pointer;
              text-decoration: underline;

              &:hover {
                  text-decoration: none;
              }
          }
      }
      &__bucket {
          align-self: normal;

          &-item {
              margin-bottom: 0;

              i {
                  margin-left: 0.5rem;
                  font-size: 1rem;
              }
          }
      }
      &__reversible {
          margin: 10px 0;
          width: auto;
          height: auto;
      }
      &__handle {
          margin-right: 0.5rem;
      }
      &__clear-btn {
          cursor: pointer;
      }
  }

  &-report {

      .print-hidden {
          display: none;
      }

      h3 {
          margin-bottom: 1rem;
      }

      #main-container {
          max-width: 960px;
          padding: 10rem 1rem 0;
          margin: 0 auto;
          @media screen and (max-width: 1600px) {
            padding: 10rem 3rem 0;
          }
          @media screen and (max-width: 768px) {
            padding: 10rem 2rem 0;
          }
          @media screen and (max-width: 480px) {
            padding: 10rem 20px 0;
          }
          ul {
              list-style: none;
              li:before {
                  content: "\2022";
                  color: red;
                  font-weight: bold;
                  display: inline-block; 
                  width: 1em;
                  margin-left: -1em;
              }
          }
      }

      table.report-basic-info {
          width: 100%;
          th {
            text-align: left;
            width: 40%;  
          }
          td {
              width: 60%;
              vertical-align: top;
          }
      }

      .results {

          &__row {
              margin-bottom: 4rem;

              > ul {
                  margin-bottom: 1rem;
              }
          }
      }

      .cta-bottom {
          margin-top: 4rem;
      }
  
      .pageNumberOne-tool, .pageNumberTwo-tool,.pageNumberOne-report, .pageNumberTwo-report  {
          display: none;
      }
  }
}

@keyframes shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(-0.4deg); }
    40% { transform: rotate(0.4deg); }
    60% { transform: rotate(-0.4deg); }
    80% { transform: rotate(0.4deg); }
    100% { transform: rotate(0); }
}