.page-work {
    .work-list {
        overflow: hidden;
        //padding-top: 0;
        padding-top: max(22vh,10rem);
        .work-item {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 4.5rem;
            margin-bottom: 160px;
            figure {
                grid-column: 1 / 6;
                &>a {
                    position: relative;
                    display: block;
                    min-height: 300px;
                    // height: 0;
                    padding-bottom: 56.25%;
                    margin-bottom: 1.5rem;
                    img,
                    video {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background-color: #f0f0f0;
                    }
                    @media screen and (max-width: 480px) {
                        min-height: unset;
                        margin-bottom: 1rem;
                    }
                }
            }
            &:nth-child(even) {
                figure {
                    grid-column: 2 / 7;
                }
            }
            // img, video {
            //     margin-bottom: 1.5rem;
            // }
            a {
                text-decoration: none;
                color: inherit;
            }
            @media screen and (max-width: 1600px) {
                grid-gap: 3rem;
            }
            @media screen and (max-width: 1024px) {
                margin-bottom: 120px;
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 80px;
            }
            @media screen and (max-width: 480px) {
                display: block;
                margin-bottom: 40px;
                &:nth-child(n) {
                    figure {
                        img {
                            // min-height: 300px;
                            width: 100%;
                            height: 100%;
                            margin-bottom: 1rem;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
                h2 {
                    margin-bottom: 0;
                }
            }
        }
    }
    .work-filter {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 4rem;
        transition: height 0.4s ease;
        &:before {
            content: "";
            position: absolute;
            left: calc((100vw - 100%) / -2);
            top: 46px;
            width: 100vw;
            height: 14rem;
            max-height: 0;
            background-color: #f2f1f1;
            transition: max-height 0.4s ease;
            @media screen and (max-width: 1366px) {
                height: 14rem;
            }
        }
        @media screen and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            &>div {
                &:nth-child(1) {
                    grid-column: 1;
                    -ms-grid-column: 1;
                }
                &:nth-child(2) {
                    grid-column: 2;
                    -ms-grid-column: 2;
                }
                &:nth-child(3) {
                    grid-column: 3;
                    -ms-grid-column: 3;
                }
                &:nth-child(4) {
                    grid-column: 4;
                    -ms-grid-column: 4;
                }
            }
        }
        @media screen and (max-width: 800px) {
            margin-bottom: 4.5rem;
            display: flex;
            flex-direction: column;
            grid-gap: 0;
            &:before {
                display: none;
            }
            &>div {
                margin-bottom: 1.5rem;
            }
        }
        @include respond-to("xs") {
            margin-bottom: 4.5rem;
            display: flex;
            flex-direction: column;
            &>div {
                margin-bottom: 1.5rem;
            }
        }
        &.list-open {
            &:before {
                max-height: 16.5rem;
                @media screen and (max-width: 1366px) {
                    max-height: 14rem;
                }
            }
        }
        .all,
        .list {
            margin-right: 3.5rem;
            &>a {
                font-size: 20px;
                line-height: 30px;
                @media screen and (max-width: 1366px) {
                    font-size: 1rem;
                }
            }
        }
        .list {
            position: relative;
            display: inline-block;
            margin-bottom: 0;
            transition: all 0.4s ease;
            &>a {
                position: relative;
                white-space: nowrap;
                padding-right: 20px;
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: calc(50% - 4px);
                    width: 8px;
                    height: 8px;
                    border-right: 2px solid currentColor;
                    border-bottom: 2px solid currentColor;
                    transform: rotate(45deg);
                    transform-origin: center;
                    transition: all 0.3s ease;
                }
            }
            .list-container {
                display: block;
                height: 14rem;
                width: auto;
                max-height: 0;
                position: absolute;
                top: calc(100% + 1rem);
                overflow-x: hidden; //changed on 07 May Denis
                overflow-y: hidden;
                padding: 0;
                background-color: #f2f1f1;
                transition: max-height 0s linear;
                pointer-events: none;
                @media screen and (max-width: 1366px) {
                    height: 14rem;
                }
                a {
                    &:hover {
                    color: $red;
                    background-size: 100% 2px;
                    }
                }
            }
            ul {
                display: block;
                width: 320px;
                height: 14rem;
                display: flex;
                flex-flow: column wrap;
                align-content: flex-start;
                padding: 2rem 0 1.5rem;
                background-color: transparent;
                transition: none;
                list-style: none outside none;
                overflow: visible;
                @media screen and (max-width: 1366px) {
                    height: 14rem;
                    padding: 1rem 0;
                }
                li {
                    // flex: 0 0 25%;
                    line-height: 1;
                    margin: 0 40px 1rem 0;
                    @media screen and (max-width: 1366px) {
                        margin-bottom: 0.5rem;
                    }
                }
                a {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    margin-right: 0;
                    white-space: normal;
                    @media screen and (max-width: 1366px) {
                        font-size: 1rem;
                    }
                }
            }
            &.open {
                max-height: none;
                margin-bottom: 14.5rem;
                transition: all 0.5s ease-out;
                >a {
                    &:after {
                        transform: rotate(-135deg);
                    }
                }
                .list-container {
                    max-height: 16.5rem;
                    transition: max-height 0.4s ease;
                    overflow: visible;
                    pointer-events: auto;
                }
                ul {
                    max-height: 16.5rem;
                    transition: all 0.5s ease-out;
                }
                @media screen and (max-width: 1366px) {
                    margin-bottom: 15rem;
                    .list-container,
                    ul {
                        max-height: 14rem;
                    }
                }
            }
            @media screen and (max-width: 800px) {
                position: relative;
                width: 100%;
                margin-bottom: 1.5rem;
                .list-container {
                    position: static;
                    height: auto;
                    max-height: unset;
                    background-color: transparent;
                    padding: 0;
                    max-height: unset;
                }
                ul {
                    display: block;
                    height: auto;
                    padding: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.4s ease;
                }
                &.open {
                    margin-bottom: 1.5rem;
                    .list-container {
                        max-height: unset;
                    }
                    ul {
                        max-height: none;
                        padding: 1rem 0 0;
                    }
                }
            }
            @include respond-to("xs") {
                position: relative;
                width: 100%;
                .list-container {
                    position: static;
                }
                ul {
                    grid-template-columns: repeat(2, 1fr);
                }
                &.open {
                    margin-bottom: 1.5rem;
                }
            }
        }
        a {
            color: $text-color;
            font-weight: 700;
            text-decoration: none;
            position: relative;
            background-image: linear-gradient(currentColor, currentColor);
            background-repeat: no-repeat;
            background-position: 0 100%;
            background-size: 0 2px;
            &:hover {
                color: $red;
                background-size: calc(100% - 20px) 2px;
            }
            &.selected {
                color: $red;
            }
        }
    }
    .currentfilter {
        font-weight: 400;
        margin-bottom: 2rem;
        display: none;
        color: $red;
    }
    .currentfilterblurb {
        margin-bottom: 4.5rem;
    }
    .project-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 0 4.5rem;
        .gutter-sizer {
            width: 4.5rem;
            @include respond-to("lg") {
                width: 3rem;
            }
        }
        .work-item {
            display: block;
            // grid-column: span 3;
            // transition: all 0.4s ease;
            transform-origin: center;
            width: calc((100% - 4.51rem) / 2);
            height: auto;
            overflow: hidden;
            margin-bottom: 4.5rem;
            &.featured {
                width: 100%;
                figure {
                    width: calc((((100% - 15rem) / 6) * 5) + 12rem);
                }
                &:nth-child(even) {
                    figure {
                        float: right;
                    }
                }
                @include respond-to("xs") {
                    figure {
                        width: 100%;
                    }
                    &:nth-child(n) {
                        float: none;
                    }
                }
            }
            @include respond-to("lg") {
                width: calc((100% - 3.1rem) / 2);
            }
            @include respond-to("sm") {
                width: 100%;
                margin-bottom: 40px;
            }
            h2 {
                a {
                    background-image: linear-gradient($red, $red);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: all 0.4s;
                    &.active {
                        color: $red;
                        background-size: 100% 2px;
                    }
                }
            }
        }
        // &[data-filter="all"] {
        //     .work-item {
        //         &.featured {
        //             width: calc((100% - 4.5rem) / 2);
        //             figure {
        //                 width: 100%;
        //             }
        //             &:nth-child(n) {
        //                 float: none;
        //             }
        //         }
        //     }
        // }
    }
}

.page-work-item {
    .hero {
        position: relative;
        // padding: 0;
        padding: max(22vh,10rem) 0 0;
        // .container {
        //     position: sticky;
        //     top: 131px;
        //     z-index: 100;
        // }
        h1 {
            // margin: 3rem 0;
            margin-bottom: 3rem;
        }
        .business-objectives {
            margin-bottom: 3rem;
            span {
                color: #b5b5b2;
                margin-left: 2rem;
                @media (max-width:768px) {
                    margin-left: 0rem;
                    display: block;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        video {
            width: 100%;
        }
        @media screen and (max-width: 640px) {
            .container {
                top: 99px;
            }
            h1 {
                // margin: 2rem 0;
                margin-bottom: 2rem;
            }
            img {
                min-height: 400px;
                max-height: 80vh;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .module-intro {
        padding-bottom: 0;
        .sidenav {
            color: #b5b5b2;
            strong {
                color: $text-color;
            }
        }
        .sidenav-item {
            display: block;
            margin: 1rem 0;
            font-weight: 700;
            color: $text-color;
        }
        @media screen and (max-width: 768px) {
            .sidenav {
                margin-bottom: 1rem;
            }
        }
    }
    .work-block-row {
        margin-bottom: 120px;
        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            margin-bottom: 2.5rem;
        }
        figure {
            .collage,
            .iframe-container,
            img {
                width: 100%;
            }
            video {
                width: 100%;
                height: auto;
            }
            .iframe-container {
                position: relative;
                width: 100%;
                padding-top: 56.25%;
                iframe {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                }
            }
            figcaption {
                margin-top: 2rem;
                font-style: italic;
                max-width: 28vw;
                color: $darkgrey;
                &.left {
                    text-align: left;
                }
                &.right {
                    text-align: right;
                    margin-left: auto;
                }
                &+img {
                    margin-top: 2rem;
                }
                @media screen and (max-width: 768px) {
                    margin-top: 1rem;
                    max-width: 50vw;
                    &+img {
                        margin-top: 1rem;
                    }
                    br {
                        display: none;
                    }
                }
                @media screen and (max-width: 480px) {
                    max-width: 100%;
                }
            }
        }
        blockquote {
            font-size: 34px;
            font-weight: 400;
            line-height: 44px;
            margin: 46px 0;
            font-style: italic;
            @media screen and (max-width: 768px) {
                font-size: 28px;
                line-height: 30px;
                margin: 30px 0;
            }
            @media screen and (max-width: 640px) {
                font-size: 24px;
            }
            @media screen and (max-width: 480px) {
                font-size: 20px;
                line-height: 24px;
                margin: 24px 0;
            }
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 120px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 80px;
             :not(.tight) {
                .cell {
                    margin-bottom: 80px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @media screen and (max-width: 480px) {
            margin-bottom: 40px;
        }
    }
    .related {
        h3 {
            margin-bottom: 2rem;
        }
        article {
            a {
                color: inherit;
                text-decoration: none;
            }
            figure {
                margin-bottom: 1.5rem;
            }
        }
    }
}