.page-working-together {
  .intro {
    dl {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    dt,
    dd {
      display: inline-block;
      margin: 0;
    }

    dt {
      margin-right: 7.5rem;
    }

    .grid + .grid {
      margin-top: 160px;

      @media screen and (max-width: 1024px) {
        margin-top: 120px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 80px;
      }

      @media screen and (max-width: 480px) {
        margin-top: 40px;
      }
    }
  }

  .how {
    .grid {
      margin-bottom: 160px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 120px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 80px;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 40px;
      }

      &.lm {
        margin-bottom: 5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      // h1 {
      //     hyphens: auto;
      // }
    }
  }

  .openings {
    margin-top: 5rem;

    .openings-content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 4.5rem;
      background-color: $red;
      color: #fff;

      div {
        flex: 0 0 calc((100% - 4.5rem) / 2);
      }

      h4 {
        margin-bottom: 1.5rem;
      }

      ul {
        list-style: none outside none;
      }

      a {
        color: #fff;
      }

      @media screen and (max-width: 1600px) {
        padding: 3rem;

        div {
          flex: 0 0 calc((100% - 3rem) / 2);
        }
      }

      @media screen and (max-width: 640px) {
        padding: 0;
        flex-direction: column;

        div {
          padding: 2rem;
          flex: 0 1 auto;

          &:first-child {
            border-bottom: 2rem solid #fff;
          }
        }

        h4 {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .jobs-top {
    .openings {
      margin-top: 0;
    }

    .openings-content {
      flex-wrap: wrap;

      h2 {
        flex-basis: 100%;
        margin-bottom: 5rem;
      }
      & > div {
        flex-basis: calc((100% - 9rem) / 3);
      }

      @media screen and (max-width: 640px) {
        h2 {
          padding: 2rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

.page-job-item {
  .date {
    color: $darkgrey;
  }

  .content {
    ul + p {
      margin-top: 1.5rem;
    }

    ul {
      li {
        margin-bottom: 12px;
      }
    }
  }
  .cta {
    background-color: $red;
    color: #fff;
    margin-top: 3rem;
    padding: 3rem;

    a {
      color: inherit;
    }
  }
}

.page-wholehearted {
  .fast-facts {
    img {
      max-height: 107px;
      margin-bottom: 3rem;
      object-fit: contain;
    }
  }
  .slider-section {
    overflow: hidden;
  }
  .dg-slider {
    img {
      padding-right: 100px;
      object-fit: cover;
      max-height: 570px;
      @media (max-width: 768px) {
        padding-right: 2rem;
      }
      @include on-event {
        cursor: url("data:image/svg+xml,%3Csvg width='94' height='94' viewBox='0 0 94 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='47' cy='47' r='47' fill='%23EB0C38'/%3E%3Cpath d='M35 57L25 47L35 37' stroke='white' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M60 57L70 47L60 37' stroke='white' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M25 47L70 47' stroke='white' stroke-width='3' stroke-miterlimit='10'/%3E%3C/svg%3E%0A"),
          auto !important;
      }
      &:first-child {
        @include on-event {
          cursor: url("data:image/svg+xml,%3Csvg width='94' height='94' viewBox='0 0 94 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='47' cy='47' r='47' fill='%23EB0C38'/%3E%3Cpath d='M60 57L70 47L60 37' stroke='white' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M25 47L70 47' stroke='white' stroke-width='3' stroke-miterlimit='10'/%3E%3C/svg%3E%0A"),
            auto !important;
        }
      }
      &:last-child {
        @include on-event {
          cursor: url("data:image/svg+xml,%3Csvg width='94' height='94' viewBox='0 0 94 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='47' transform='matrix(-1 0 0 1 47 47)' fill='%23EB0C38'/%3E%3Cpath d='M34 57L24 47L34 37' stroke='white' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M69 47L24 47' stroke='white' stroke-width='3' stroke-miterlimit='10'/%3E%3C/svg%3E%0A"),
            auto !important;
        }
      }
    }
    .slick-list {
      overflow: visible;
    }
  }

  @media all and (max-width: 768px){
    .icon-initiative{
      order: 2;
    }
  }
}
