@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix");
  src: url("fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix") format("eot"), url("fonts/5664093/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"), url("fonts/5664093/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff"), url("fonts/5664093/8f4a1705-214a-4dd0-80b8-72252c37e688.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix");
  src: url("fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix") format("eot"), url("fonts/5664098/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2") format("woff2"), url("fonts/5664098/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff") format("woff"), url("fonts/5664098/c07fd9e2-5e0b-4297-9229-af0c8e331d94.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix");
  src: url("fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix") format("eot"), url("fonts/5664150/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"), url("fonts/5664150/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff"), url("fonts/5664150/f07c25ed-2d61-4e44-99ab-a0bc3ec67662.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
@font-face {
  font-family: "Helvetica Neue";
  src: url("https://stepworks.co/assets/css/fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix");
  src: url("https://stepworks.co/assets/css/fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix") format("eot"), url("https://stepworks.co/assets/css/fonts/5664093/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"), url("https://stepworks.co/assets/css/fonts/5664093/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff"), url("https://stepworks.co/assets/css/fonts/5664093/8f4a1705-214a-4dd0-80b8-72252c37e688.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("https://stepworks.co/assets/css/fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix");
  src: url("https://stepworks.co/assets/css/fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix") format("eot"), url("https://stepworks.co/assets/css/fonts/5664098/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2") format("woff2"), url("https://stepworks.co/assets/css/fonts/5664098/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff") format("woff"), url("https://stepworks.co/assets/css/fonts/5664098/c07fd9e2-5e0b-4297-9229-af0c8e331d94.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("https://stepworks.co/assets/css/fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix");
  src: url("https://stepworks.co/assets/css/fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix") format("eot"), url("https://stepworks.co/assets/css/fonts/5664150/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"), url("https://stepworks.co/assets/css/fonts/5664150/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff"), url("https://stepworks.co/assets/css/fonts/5664150/f07c25ed-2d61-4e44-99ab-a0bc3ec67662.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans SC";
  src: url("fonts/NotoSansSC-Regular.woff2") format("woff2"), url("fonts/NotoSansSC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans SC";
  src: url("fonts/NotoSansSC-Bold.woff2") format("woff2"), url("fonts/NotoSansSC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@-webkit-keyframes process-list {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes process-list {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(-0.4deg);
    transform: rotate(-0.4deg);
  }
  40% {
    -webkit-transform: rotate(0.4deg);
    transform: rotate(0.4deg);
  }
  60% {
    -webkit-transform: rotate(-0.4deg);
    transform: rotate(-0.4deg);
  }
  80% {
    -webkit-transform: rotate(0.4deg);
    transform: rotate(0.4deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(-0.4deg);
    transform: rotate(-0.4deg);
  }
  40% {
    -webkit-transform: rotate(0.4deg);
    transform: rotate(0.4deg);
  }
  60% {
    -webkit-transform: rotate(-0.4deg);
    transform: rotate(-0.4deg);
  }
  80% {
    -webkit-transform: rotate(0.4deg);
    transform: rotate(0.4deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
html [type=button] {
  -webkit-appearance: button;
}

body {
  margin: 0;
  height: 100%;
  color: #16161d;
  font: 400 20px/26px "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  display: block;
  padding: 8rem 0 5rem;
}
footer p {
  font-size: 16px;
  line-height: 20px;
}
footer .logo {
  display: block;
  height: 35px;
  margin-bottom: 2rem;
}
footer .social a {
  display: block;
  margin-bottom: 10px;
  color: #727272;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
footer .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .nav a:hover {
  color: #eb0c38;
  text-decoration: underline;
}
footer .nav > li {
  width: 33.33%;
}
footer .nav > li > a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #16161d;
  font-weight: 700;
}
footer .cbe-link {
  position: relative;
  margin-top: -3rem;
  grid-column: 4/span 3;
  font-size: 16px;
}
footer .cbe-link a {
  font-weight: 700;
  white-space: nowrap;
}
footer .cbe-link-m {
  display: none;
}
footer .blurb {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
footer .copyright {
  margin-top: 3rem;
  font-size: 16px;
  line-height: 20px;
}
footer .copyright a {
  font-size: 16px;
  line-height: 20px;
  color: #16161d;
  text-decoration: none;
}
footer .copyright.m {
  display: none;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 3rem 0;
  z-index: 5001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .logo {
  display: block;
  height: 35px;
}
header .logo img {
  height: 100%;
}
header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-right .lang {
  display: none;
  text-decoration: none;
}
@media all and (max-width: 1200px) {
  header .header-right .lang {
    display: block;
  }
}
header .nav-toggle {
  position: relative;
  display: none;
  width: 44px;
  height: 30px;
  right: -11px;
}
header .nav-toggle:after {
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #eb0c38;
  -webkit-transition: top 0.25s ease 0.25s, background-color 0.3s ease, -webkit-transform 0.25s ease;
  transition: top 0.25s ease 0.25s, background-color 0.3s ease, -webkit-transform 0.25s ease;
  transition: top 0.25s ease 0.25s, transform 0.25s ease, background-color 0.3s ease;
  transition: top 0.25s ease 0.25s, transform 0.25s ease, background-color 0.3s ease, -webkit-transform 0.25s ease;
  top: 75%;
}
header .nav-toggle:before {
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #eb0c38;
  -webkit-transition: top 0.25s ease 0.25s, background-color 0.3s ease, -webkit-transform 0.25s ease;
  transition: top 0.25s ease 0.25s, background-color 0.3s ease, -webkit-transform 0.25s ease;
  transition: top 0.25s ease 0.25s, transform 0.25s ease, background-color 0.3s ease;
  transition: top 0.25s ease 0.25s, transform 0.25s ease, background-color 0.3s ease, -webkit-transform 0.25s ease;
  top: 25%;
}
header ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
header ul li {
  padding: 0;
  padding-left: 2rem;
}
header ul li:hover > a {
  color: #eb0c38;
}
header ul li:hover > a:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header ul li.more {
  position: relative;
  padding-right: 18px;
}
header ul li.more:after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%2316161d' stroke-width='2' /%3E%3C/svg%3E") no-repeat center/contain rgba(0, 0, 0, 0);
  position: absolute;
  right: 0;
  top: 8px;
  width: 12px;
  height: 12px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}
header ul li.more:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23eb0c38' stroke-width='2' /%3E%3C/svg%3E");
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}
header ul li.more:hover ul {
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
header ul li.more ul {
  position: absolute;
  left: 1.5rem;
  top: 100%;
  min-width: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0.25rem 0.5rem 0.25rem;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  pointer-events: none;
  z-index: 11;
  background: #fff;
}
header ul li.more ul:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1rem;
  width: 100%;
  height: 1rem;
}
header ul li.more ul li {
  text-align: right;
  padding: 0;
  line-height: 32px;
}
header ul li.more ul li:hover a {
  color: #eb0c38;
}
header ul li.more ul a {
  white-space: nowrap;
  font-weight: 400;
  color: #16161d;
}
header ul a {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: #16161d;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
header ul a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #eb0c38;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header ul.nav-secondary {
  margin-bottom: 10px;
}
header ul.nav-secondary a {
  font-size: 1.125rem;
  font-weight: normal;
  color: #c9c9c9;
}

nav {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 6rem - 22px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 6000;
  pointer-events: none;
}
nav:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eb0c38;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
nav .logoflip {
  position: fixed;
  left: 3rem;
  top: 3rem;
  height: 35px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav .mlang {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 4rem;
  color: #fff;
  font-size: 1.2rem;
  width: 44px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
}
@media all and (max-width: 500px) {
  nav .mlang {
    top: 1rem;
    right: 3rem;
  }
}
nav .close {
  display: none;
  position: fixed;
  right: 9px;
  top: calc(2rem + 2px);
  width: 44px;
  height: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
nav .close:after {
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
nav .close:before {
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
nav ul {
  list-style: none outside none;
  padding: 10rem 0 0 3rem;
}
nav ul li {
  margin-bottom: 24px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
}
nav ul li:hover a {
  background-size: 100% 5px;
}
nav ul ul a {
  font-weight: 400;
}
nav ul a {
  position: relative;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 5px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}

section {
  display: block;
  padding: max(22vh, 10rem) 0;
}

h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
  font-size: 70px;
  line-height: 72px;
  font-weight: 700;
  margin: 0 0 4.5rem;
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin: 1rem 40px;
  display: block;
  margin: 0;
}

main {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
  -webkit-text-decoration-skip: objects;
  color: #eb0c38;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:active {
  outline-width: 0;
}
a:hover {
  outline-width: 0;
}

b {
  font-weight: inherit;
  font-weight: bolder;
}

strong {
  font-weight: inherit;
  font-weight: bolder;
}

small {
  font-size: 80%;
}

video {
  display: inline-block;
  display: block;
  max-width: 100%;
  -webkit-mask-image: -webkit-radial-gradient(white, #000);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-appearnce: none;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}

button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
  background-color: #eb0c38;
  border: 0 none;
  cursor: pointer;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

[type=reset] {
  -webkit-appearance: button;
}
[type=reset]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=reset]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=submit] {
  -webkit-appearance: button;
}
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=button]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button {
  height: auto;
}
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:focus {
  outline: 0;
}

a.more {
  display: inline-block;
}

a[name] {
  position: relative;
  top: -10rem;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}
ul li {
  padding-left: 0;
}

.grid {
  display: grid;
}

.grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4.5rem;
}
.grid.grid-3 .cell.cell-left2 {
  grid-column: 1/span 2;
}
.grid.grid-3 .cell.cell-right2 {
  grid-column: 2/4;
}

.grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4.5rem;
}

.grid.grid-6 {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4.5rem;
}
.grid.grid-6 .cell.cell-left3 {
  grid-column: 1/span 3;
}
.grid.grid-6 .cell.cell-right3 {
  grid-column: 3/6;
}
.grid.grid-6 .cell.start1 {
  grid-column-start: 1;
}
.grid.grid-6 .cell.start2 {
  grid-column-start: 2;
}
.grid.grid-6 .cell.start3 {
  grid-column-start: 3;
}
.grid.grid-6 .cell.start4 {
  grid-column-start: 4;
}
.grid.grid-6 .cell.start5 {
  grid-column-start: 5;
}
.grid.grid-6 .cell.start6 {
  grid-column-start: 6;
}
.grid.grid-6 .cell.end2 {
  grid-column-end: 2;
}
.grid.grid-6 .cell.end3 {
  grid-column-end: 3;
}
.grid.grid-6 .cell.end4 {
  grid-column-end: 4;
}
.grid.grid-6 .cell.end5 {
  grid-column-end: 5;
}
.grid.grid-6 .cell.end6 {
  grid-column-end: 6;
}
.grid.grid-6 .cell.end7 {
  grid-column-end: 7;
}
.grid.grid-6 .cell.span1 {
  -ms-grid-column-span: 1;
}
.grid.grid-6 .cell.span2 {
  -ms-grid-column-span: 2;
}
.grid.grid-6 .cell.span3 {
  -ms-grid-column-span: 3;
}
.grid.grid-6 .cell.span4 {
  -ms-grid-column-span: 4;
}
.grid.grid-6 .cell.span5 {
  -ms-grid-column-span: 5;
}

section.intro {
  padding: max(22vh, 10rem) 0 40px;
}

.team .team-list {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4.5rem;
}
.team .team-item {
  position: relative;
  grid-row: span 1;
  grid-column: span 1;
  overflow: hidden;
  background-color: #eb0c38;
}
.team .team-item a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-transition: none;
  transition: none;
}
.team .team-item .team-item-content {
  position: relative;
  left: 4.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 0;
  padding: 4.5rem 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.team .team-item .team-item-content h4 {
  color: #fff;
}
.team .team-item .team-item-content p {
  color: #fff;
}
.team .team-item .team-item-content .name {
  display: block;
}
.team .team-item .team-item-content .title {
  display: block;
  font-weight: 400;
}

.h1 {
  font-size: 70px;
  line-height: 72px;
  font-weight: 700;
  margin: 0 0 4.5rem;
}

.h1.super {
  font-size: 96px;
  line-height: 100px;
}

h1.super {
  font-size: 96px;
  line-height: 100px;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 1.5rem;
}

h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
}
p:last-child {
  margin-bottom: 0;
}

p.intro {
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 44px;
}

p.small {
  font-size: 14px;
  color: #727272;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  width: 100%;
}

.bg-red {
  background-color: #eb0c38;
  color: #fff;
}

.red {
  color: #eb0c38;
}

.animate {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.animate.animated {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.browser {
  position: fixed;
  left: 50%;
  top: 2rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #16161d;
  background: #f2f1f1;
  padding: 1rem 2rem;
}

.insights .insights-list {
  margin-bottom: 5rem;
}
.insights .insights-list h2 {
  min-height: 88px;
}
.insights .insights-list h2 a {
  text-decoration: none;
  color: #16161d;
}
.insights .insights-list p {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.insights .insights-list .cell:hover a {
  color: #eb0c38;
}
.insights .insights-list .cell:hover h2 {
  color: #eb0c38;
}
.insights .insights-list .cell:hover p {
  color: #eb0c38;
}

.contact h3 a {
  text-decoration: none;
  color: #16161d;
}

.box-widget {
  position: fixed;
  background-color: #eb0c38;
  height: auto;
  width: 400px;
  bottom: 0;
  right: -400px;
  padding: 4rem 2rem;
  color: #fff;
  z-index: 2147483649;
  -webkit-transition: 1s all;
  transition: 1s all;
  overflow: hidden;
}
.box-widget .close-widget {
  position: absolute;
  top: 0;
  right: 0.5rem;
  cursor: pointer;
  width: 32px;
  height: 40px;
}
.box-widget .close-widget span {
  background-color: #fff;
  width: 32px;
  height: 1px;
  position: absolute;
  top: 1.5rem;
}

.box-widget.signup p {
  color: #fff;
}
.box-widget.signup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
}
.box-widget.signup form button {
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 29px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin-top: 1rem;
  color: #eb0c38;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.box-widget.signup form input {
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 29px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
}
.box-widget.signup form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.box-widget.signup form input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.box-widget.signup form input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.box-widget.signup form input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.box-widget.signup form input::placeholder {
  color: #fff;
  opacity: 1;
}

.signup-footer {
  padding: clamp(6rem, 10vh, 10rem) 0 !important;
}
.signup-footer a[name] {
  position: relative;
  top: -150px;
}
.signup-footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1rem;
}
.signup-footer form button {
  padding: 1rem;
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 29px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  color: #eb0c38;
  background-color: #fff;
  cursor: pointer;
}
.signup-footer form input {
  padding: 1rem;
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 29px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
}
.signup-footer form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.signup-footer form input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.signup-footer form input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.signup-footer form input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.signup-footer form input::placeholder {
  color: #fff;
  opacity: 1;
}

form button {
  margin: 0 auto;
}

.page-home header.transparent {
  background-color: rgba(0, 0, 0, 0);
}
.page-home header.transparent .logo-path {
  fill: #fff;
}
.page-home header.transparent ul a {
  color: #fff;
}
.page-home header.transparent ul a:after {
  background-color: currentColor;
}
.page-home header.transparent ul li.more:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23ffffff' stroke-width='2' /%3E%3C/svg%3E");
}
.page-home header.transparent ul li.more ul a {
  color: #16161d;
}
.page-home header.transparent ul li.more ul a:hover {
  color: #eb0c38;
}
.page-home header.transparent ul li.more:hover ul {
  opacity: 0.5;
}
.page-home header.transparent .nav-toggle:after {
  background-color: #fff;
}
.page-home header.transparent .nav-toggle:before {
  background-color: #fff;
}
.page-home section {
  padding: clamp(8rem, 10vh, 10rem) 0;
}
.page-home .fp-auto-height {
  height: auto !important;
}
.page-home .intro {
  position: relative;
  min-height: calc(80vh - 40px);
  padding-top: max(22vh, 10rem);
  padding-bottom: max(10vh, 5rem);
  overflow: hidden;
  z-index: 5000;
}
.page-home .intro p {
  margin-bottom: 0.5rem;
}
.page-home .intro .a1 {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  max-width: 870px;
}
.page-home .intro #home-sector {
  color: #eb0c38;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 2px;
}
.page-home .intro #home-sector:hover {
  background-size: 100% 2px;
}
.page-home .intro #home-sector:after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 8' style='enable-background:new 0 0 12 8;' xml:space='preserve'%3E%3Cpath d='M1,7.1l5.1-5.3c0,0,3.6,3.9,4.9,5.3' fill='none' stroke='%23eb0c38' stroke-width='2' /%3E%3C/svg%3E") no-repeat center/contain rgba(0, 0, 0, 0);
  position: absolute;
  top: 20px;
  padding-left: 30px;
  width: 18px;
  height: 12px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}
.page-home .intro .home-filters {
  position: relative;
  background-color: #f2f1f1;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}
.page-home .intro .home-filters .list-container ul {
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 2rem 0 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: none;
  transition: none;
  list-style: none outside none;
  overflow: visible;
}
.page-home .intro .home-filters .list-container li {
  line-height: 1;
  margin: 0 40px 1rem 0;
}
.page-home .intro .home-filters .list-container li a {
  color: #16161d;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 2px;
}
.page-home .intro .home-filters .list-container li a:hover {
  color: #eb0c38;
  background-size: 100% 2px;
}
.page-home .intro.show .a1 {
  opacity: 1;
}
.page-home .work-item {
  overflow: hidden;
  position: relative;
  height: 100vh;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.page-home .work-item:first-child img {
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
}
.page-home .work-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page-home .work-item video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page-home .work-item:nth-child(1) {
  z-index: 10;
}
.page-home .work-item:nth-child(2) {
  z-index: 20;
}
.page-home .work-item:nth-child(3) {
  z-index: 30;
}
.page-home .work-item figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 18rem 4.5rem 3rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #16161d), color-stop(50%, rgba(22, 22, 29, 0)));
  background: linear-gradient(to top, #16161d 0, rgba(22, 22, 29, 0) 50%);
}
.page-home .work-item figcaption a {
  color: #fff;
  text-decoration: none;
}
.page-home .work-item figcaption h2 {
  margin-bottom: 0;
}
.page-home .work-item figcaption h2 a {
  font-weight: 700;
}
.page-home .work-item figcaption .more {
  text-decoration: underline;
}
.page-home .work-item .work-item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .page-home .work-item {
    height: 40vh;
  }
  .page-home .work-item figcaption {
    padding-bottom: 1rem;
  }
  .page-home .work-item figcaption p {
    margin-bottom: 10px;
  }
  .page-home .work-item figcaption h2 {
    font-size: 20px;
  }
}
.page-home .video figure {
  position: relative;
}
.page-home .video figure .iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.page-home .video figure iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  z-index: 5;
}
.page-home .video figure video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}
.page-home .video figure figcaption {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  color: #fff;
  z-index: 15;
  pointer-events: none;
  margin: 0;
}
.page-home .results .graphic video {
  max-width: 100%;
}
.page-home .results .graphic img {
  height: auto;
}
.page-home .results .graphic .d {
  display: block;
}
.page-home .results .graphic .m {
  display: none;
}
.page-home .news h2 {
  margin-bottom: 4rem;
}
.page-home .news .grid {
  margin-bottom: 5rem;
}
.page-home .news figure .news-media {
  position: relative;
  display: block;
  min-height: 270px;
  padding-bottom: 56.25%;
  margin-bottom: 2rem;
}
.page-home .news figure .news-media img,
.page-home .news figure .news-media video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #f0f0f0;
}
.page-home .news figcaption {
  margin-top: 40px;
}
.page-home .news figcaption a {
  text-decoration: none;
  color: inherit;
}
.page-home .news figcaption a:hover {
  color: #eb0c38;
  text-decoration: underline;
}
.page-home .video-background {
  z-index: 9999;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: none;
}
.page-home .video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1280px;
  max-height: 720px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: 45vw;
}

.page-work .work-list {
  overflow: hidden;
  padding-top: max(22vh, 10rem);
}
.page-work .work-list .work-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4.5rem;
  margin-bottom: 160px;
}
.page-work .work-list .work-item figure {
  grid-column: 1/6;
}
.page-work .work-list .work-item figure > a {
  position: relative;
  display: block;
  min-height: 300px;
  padding-bottom: 56.25%;
  margin-bottom: 1.5rem;
}
.page-work .work-list .work-item figure > a img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.page-work .work-list .work-item figure > a video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.page-work .work-list .work-item:nth-child(even) figure {
  grid-column: 2/7;
}
.page-work .work-list .work-item a {
  text-decoration: none;
  color: inherit;
}
.page-work .work-filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 4rem;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
}
.page-work .work-filter:before {
  content: "";
  position: absolute;
  left: calc((100vw - 100%) / -2);
  top: 46px;
  width: 100vw;
  height: 14rem;
  max-height: 0;
  background-color: #f2f1f1;
  -webkit-transition: max-height 0.4s ease;
  transition: max-height 0.4s ease;
}
.page-work .work-filter .all {
  margin-right: 3.5rem;
}
.page-work .work-filter .all > a {
  font-size: 20px;
  line-height: 30px;
}
.page-work .work-filter .list {
  margin-right: 3.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.page-work .work-filter .list > a {
  font-size: 20px;
  line-height: 30px;
  position: relative;
  white-space: nowrap;
  padding-right: 20px;
}
.page-work .work-filter .list > a:after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-work .work-filter .list .list-container {
  display: block;
  height: 14rem;
  width: auto;
  max-height: 0;
  position: absolute;
  top: calc(100% + 1rem);
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  background-color: #f2f1f1;
  -webkit-transition: max-height 0s linear;
  transition: max-height 0s linear;
  pointer-events: none;
}
.page-work .work-filter .list .list-container a:hover {
  color: #eb0c38;
  background-size: 100% 2px;
}
.page-work .work-filter .list ul {
  display: block;
  width: 320px;
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding: 2rem 0 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: none;
  transition: none;
  list-style: none outside none;
  overflow: visible;
}
.page-work .work-filter .list ul li {
  line-height: 1;
  margin: 0 40px 1rem 0;
}
.page-work .work-filter .list ul a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-right: 0;
  white-space: normal;
}
.page-work .work-filter a {
  color: #16161d;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 2px;
}
.page-work .work-filter a:hover {
  color: #eb0c38;
  background-size: calc(100% - 20px) 2px;
}

.page-work-item .hero {
  position: relative;
  padding: max(22vh, 10rem) 0 0;
}
.page-work-item .hero h1 {
  margin-bottom: 3rem;
}
.page-work-item .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page-work-item .hero video {
  width: 100%;
}

.ie-widget {
  position: fixed;
  background-color: #eb0c38;
  height: auto;
  width: 350px;
  bottom: 0;
  right: -400px;
  padding: 4rem 2rem;
  color: #fff;
  z-index: 2147483648;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  overflow: hidden;
}
.ie-widget a {
  color: #fff;
}
.ie-widget .close-widget {
  position: absolute;
  top: 0;
  right: 0.5rem;
  cursor: pointer;
  width: 32px;
  height: 40px;
}
.ie-widget .close-widget span {
  background-color: #fff;
  width: 32px;
  height: 1px;
  position: absolute;
  top: 1.5rem;
}

.nav-open nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  pointer-events: auto;
  background-color: #eb0c38;
  overflow: auto;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  pointer-events: auto;
  background-color: #eb0c38;
  overflow: auto;
}
.nav-open nav:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav-open nav .logoflip {
  opacity: 1;
  opacity: 1;
}
@media all and (max-width: 640px) {
  .nav-open nav .mlang {
    display: block;
  }
}
.nav-open nav .close {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
.nav-open nav .close:before {
  -webkit-transition: -webkit-transform 0.3s ease 0.4s;
  transition: -webkit-transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease 0.4s;
  transition: -webkit-transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
.nav-open nav .close:after {
  -webkit-transition: -webkit-transform 0.3s ease 0.4s;
  transition: -webkit-transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s ease 0.4s;
  transition: -webkit-transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.nav-open nav ul li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
}
.nav-open nav ul li:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.nav-open nav ul li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.nav-open nav ul li:nth-child(4) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.nav-open nav ul li:nth-child(5) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.nav-open nav ul li:nth-child(6) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.nav-open nav ul li:nth-child(7) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.nav-open nav ul li:nth-child(8) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
.nav-open nav ul li:nth-child(9) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.nav-open header .nav-toggle:before {
  top: 50%;
  -webkit-transition: top 0.25s ease, -webkit-transform 0.25s ease 0.25s;
  transition: top 0.25s ease, -webkit-transform 0.25s ease 0.25s;
  transition: top 0.25s ease, transform 0.25s ease 0.25s;
  transition: top 0.25s ease, transform 0.25s ease 0.25s, -webkit-transform 0.25s ease 0.25s;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
.nav-open header .nav-toggle:after {
  top: 50%;
  -webkit-transition: top 0.25s ease, -webkit-transform 0.25s ease 0.25s;
  transition: top 0.25s ease, -webkit-transform 0.25s ease 0.25s;
  transition: top 0.25s ease, transform 0.25s ease 0.25s;
  transition: top 0.25s ease, transform 0.25s ease 0.25s, -webkit-transform 0.25s ease 0.25s;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

body.nav-open {
  overflow: hidden !important;
}

[lang=zh-Hans] body {
  font-family: "Noto Sans SC", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
}
[lang=zh-Hans] h1 {
  line-height: 1.2;
}
[lang=zh-Hans] h2 {
  line-height: 1.5;
}
[lang=zh-Hans] .page-home .intro #home-sector::after {
  display: none;
}
[lang=zh-Hans] .signup-footer .grid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
[lang=zh-Hans] .signup-footer h2 {
  margin-bottom: 0;
}
[lang=zh-Hans] .signup-footer form {
  margin-top: 0;
}
[lang=zh-Hans] footer p {
  line-height: 1.4;
}

@media screen and (max-width: 1600px) {
  .grid.grid-3 {
    grid-gap: 3rem;
  }
  .grid.grid-6 {
    grid-gap: 3rem;
  }
  .team .team-list {
    margin: 120px 0;
    grid-gap: 3rem;
  }
  .team .team-item .team-item-content {
    left: 3rem;
    padding: 3rem 3rem 3rem 0;
  }
  .h1 {
    margin-bottom: 3rem;
  }
  h1 {
    margin-bottom: 3rem;
  }
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .page-home .work-item figcaption {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .page-work .work-list .work-item {
    grid-gap: 3rem;
  }
}
@media screen and (max-width: 1366px) {
  header ul a {
    font-size: 1rem;
  }
  footer .nav > li > a {
    font-size: 1rem;
    line-height: 20px;
  }
  footer .cbe-link a {
    font-size: 1rem;
    line-height: 20px;
  }
  .page-work .work-filter:before {
    height: 14rem;
  }
  .page-work .work-filter .all > a {
    font-size: 1rem;
  }
  .page-work .work-filter .list > a {
    font-size: 1rem;
  }
  .page-work .work-filter .list .list-container {
    height: 14rem;
  }
  .page-work .work-filter .list ul {
    height: 14rem;
    padding: 1rem 0;
  }
  .page-work .work-filter .list ul li {
    margin-bottom: 0.5rem;
  }
  .page-work .work-filter .list ul a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  section {
    padding: 120px 0;
  }
  section.intro {
    padding: 40px 0;
  }
  nav .logoflip {
    top: 2rem;
  }
  header {
    padding: 2rem 0;
  }
  header .nav-toggle {
    display: block;
    display: block;
  }
  header ul {
    display: none;
  }
  body:not(.page-home) header + section.intro {
    padding-top: 120px !important;
  }
  .page-home .video figure figcaption {
    left: 20px;
    bottom: 20px;
  }
  .page-home .video .grid.grid-3 {
    grid-template-columns: 1fr;
  }
  .page-home .video .grid.grid-3 .cell {
    grid-column: 1/2;
  }
  .page-home .news .figure a {
    min-height: 220px;
  }
  .page-home .results .grid.grid-3 {
    grid-template-columns: 1fr;
  }
  .page-home .results .grid.grid-3 .cell {
    grid-column: 1/2;
  }
  .page-work .work-list .work-item {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1100px) {
  .page-home .intro .home-filters .list-container ul {
    height: 16rem;
  }
}
@media screen and (max-width: 1024px) {
  .team .team-list {
    margin: 80px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .team .team-item .team-item-content {
    left: 2rem;
    padding: 2rem 2rem 2rem 0;
  }
  body {
    font-size: 18px;
    line-height: 24px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
  p.intro {
    font-size: 28px;
    line-height: 30px;
  }
  nav ul {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  nav ul a {
    font-size: 56px;
    line-height: 60px;
  }
  .signup-footer .grid-2 {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .signup-footer form button {
    font-size: 20px;
    line-height: 1.3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
  .signup-footer form input {
    font-size: 20px;
    line-height: 1.3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
}
@media screen and (max-width: 960px) {
  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  footer .social {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
  }
  footer .cbe-link {
    display: none;
  }
  footer .cbe-link-m {
    display: block;
  }
  footer .cbe-link-m a {
    white-space: nowrap;
    font-weight: 700;
  }
  footer .container .grid {
    grid-gap: 0;
  }
  footer .blurb {
    grid-column: 1/7 !important;
    margin-bottom: 3rem;
  }
  footer .fnav {
    grid-column: 1/7 !important;
  }
  footer .copyright.d {
    display: none;
  }
  footer .copyright.m {
    display: block;
  }
  .page-home section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 920px) {
  nav ul {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .team .team-item .team-item-content .name {
    display: block;
  }
  .team .team-item .team-item-content .title {
    display: block;
    font-weight: 400;
  }
  .team .team-item .team-item-content .title:before {
    display: none;
  }
  .team .team-item .team-item-content p {
    display: none;
  }
  .page-home .work-item:first-child img {
    -webkit-transform: none;
    transform: none;
  }
  .page-work .work-filter {
    margin-bottom: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-gap: 0;
  }
  .page-work .work-filter:before {
    display: none;
  }
  .page-work .work-filter > div {
    margin-bottom: 1.5rem;
  }
  .page-work .work-filter .list {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .page-work .work-filter .list .list-container {
    position: static;
    height: auto;
    max-height: unset;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    max-height: unset;
  }
  .page-work .work-filter .list ul {
    display: block;
    height: auto;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width: 768px) {
  a.more {
    margin-top: 0;
  }
  .grid.grid-2 {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }
  .grid.grid-3 {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }
  .grid.grid-6 {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }
  .grid .cell {
    grid-column: 1/2 !important;
    min-width: 0;
    min-height: 0;
  }
  section.intro {
    padding: 40px 0;
  }
  .h1 {
    margin-bottom: 2rem;
  }
  h1 {
    margin-bottom: 2rem;
  }
  .h1.super {
    font-size: 80px;
    line-height: 80px;
  }
  h1.super {
    font-size: 80px;
    line-height: 80px;
  }
  h2 {
    font-size: 28px;
    line-height: 30px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  nav ul li:hover a {
    background-size: 100% 3px;
  }
  nav ul a {
    background-size: 0 3px;
    font-size: 40px;
    line-height: 42px;
  }
  nav .logoflip {
    left: 2rem;
  }
  .insights .insights-list {
    margin-bottom: 2rem;
  }
  .insights .insights-list h2 {
    min-height: 0;
  }
  .insights .insights-list .cell:nth-child(n+2) {
    display: none;
  }
  .box-widget {
    width: 100%;
    bottom: -100%;
    left: 0;
  }
  .box-widget.signup form {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .box-widget.signup form button {
    font-size: 16px;
    line-height: 1;
    padding: 1rem;
    margin-top: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .box-widget.signup form input {
    font-size: 16px;
    line-height: 1;
    padding: 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  footer {
    padding: 80px 0;
  }
  footer .social {
    margin-top: 2rem;
  }
  .page-home .intro {
    min-height: 600px;
  }
  .page-home .intro #home-sector:after {
    top: 10px;
    width: 14px;
    height: 10px;
  }
  .page-home .intro .home-filters .list-container ul {
    display: block;
    height: auto;
  }
  .page-home .intro .home-filters .list-container li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .page-home .work-item figcaption {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .page-home .results .graphic .d {
    display: none;
  }
  .page-home .results .graphic .m {
    display: block;
  }
  .page-home .results h2 {
    margin-bottom: 2rem;
  }
  .page-home .news .grid {
    margin-bottom: 2rem;
  }
  .page-home .news .grid .cell:nth-child(n+2) {
    display: none;
  }
  .page-work .work-list .work-item {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 640px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }
  body:not(.page-home) header + section.intro {
    padding-top: 100px !important;
  }
  .h1 {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 3rem;
  }
  h1 {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 3rem;
  }
  .h1.super {
    font-size: 70px;
    line-height: 72px;
  }
  h1.super {
    font-size: 70px;
    line-height: 72px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  p.intro {
    font-size: 24px;
  }
  nav {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  nav .close {
    display: block;
    top: 1.5rem;
    right: calc(2rem - 10px);
  }
  nav ul {
    padding: 100px 2rem 2rem;
  }
  nav ul ul {
    padding-top: 24px;
    padding-bottom: 0;
  }
  nav ul li:last-child {
    margin-bottom: 0;
  }
  nav .logoflip {
    top: 1.5rem;
    left: 2rem;
    height: 2rem;
  }
  header {
    padding: 1.5rem 0;
  }
  header .logo {
    height: 2rem;
  }
  header .logo svg {
    width: auto;
    max-width: unset;
    height: 100%;
  }
  .signup-footer form button {
    font-size: 16px;
    line-height: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    max-width: 40%;
    padding: 1rem;
    white-space: nowrap;
  }
  .signup-footer form input {
    font-size: 16px;
    line-height: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
    max-width: 60%;
  }
  footer .cbe-link-m {
    margin-top: 1rem;
  }
  footer .nav > li {
    width: auto;
    margin-right: 2rem;
  }
  .page-work-item .hero .container {
    top: 99px;
  }
  .page-work-item .hero h1 {
    margin-bottom: 2rem;
  }
  .page-work-item .hero img {
    min-height: 400px;
    max-height: 80vh;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
}
@media screen and (max-width: 640px) and (max-height: 640px) {
  nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  nav ul {
    padding-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  .page-home .intro br {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .h1 {
    font-size: 40px;
    line-height: 42px;
  }
  h1 {
    font-size: 40px;
    line-height: 42px;
  }
  .h1.super {
    font-size: 56px;
    line-height: 60px;
  }
  h1.super {
    font-size: 56px;
    line-height: 60px;
  }
}
@media screen and (max-width: 480px) {
  .grid.grid-3 {
    grid-gap: 20px;
  }
  .grid.grid-6 {
    grid-gap: 20px;
  }
  .grid .cell {
    grid-column: 1;
  }
  section {
    padding: 64px 0;
  }
  .team .team-list {
    margin: 40px 0;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .team .team-item a {
    cursor: default;
  }
  .team .team-item .team-item-content {
    left: 0;
    height: auto;
    padding: 20px;
  }
  .team .team-item .team-item-content h4 {
    margin-bottom: 0;
  }
  .h1 {
    margin-bottom: 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
  .h1.super {
    font-size: 40px;
    line-height: 42px;
  }
  h1.super {
    font-size: 40px;
    line-height: 42px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  p.intro {
    font-size: 20px;
    line-height: 24px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  nav .close {
    display: block;
    top: 1rem;
    right: 10px;
  }
  nav ul {
    padding-left: 20px;
  }
  nav ul li:hover a {
    background: 0 0;
  }
  nav ul a {
    font-size: 28px;
    line-height: 1;
  }
  nav ul a:after {
    height: 3px;
  }
  nav .logoflip {
    top: 1rem;
    left: 20px;
    height: 30px;
  }
  header {
    padding: 1rem 0;
  }
  header .logo {
    height: 30px;
  }
  body:not(.page-home) header + section.intro {
    padding-top: 80px !important;
  }
  footer {
    padding: 40px 0;
  }
  .page-home .intro {
    padding-bottom: 4rem;
    min-height: 480px;
  }
  .page-home .intro #home-sector:after {
    top: 9px;
    width: 10px;
    height: 8px;
    padding-left: 20px;
  }
  .page-home .intro .a1 {
    -webkit-transition: all 0s linear !important;
    transition: all 0s linear !important;
  }
  .page-home .intro .super {
    -webkit-transition: all 0s linear !important;
    transition: all 0s linear !important;
  }
  .page-home .work-item figcaption {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-home .video figure figcaption {
    left: 12px;
    bottom: 12px;
    font-size: 6.66667vw;
    line-height: 1.2;
  }
  .page-work .work-list .work-item {
    display: block;
    margin-bottom: 40px;
  }
  .page-work .work-list .work-item figure > a {
    min-height: unset;
    margin-bottom: 1rem;
  }
  .page-work .work-list .work-item:nth-child(n) figure img {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  .page-work .work-list .work-item h2 {
    margin-bottom: 0;
  }
  .page-work .work-filter {
    margin-bottom: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .page-work .work-filter > div {
    margin-bottom: 1.5rem;
  }
  .page-work .work-filter .list {
    position: relative;
    width: 100%;
  }
  .page-work .work-filter .list .list-container {
    position: static;
  }
  .page-work .work-filter .list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 420px) {
  .page-home .intro .a1 {
    opacity: 1;
  }
}
@media screen and (-ms-high-contrast: none) {
  .page-work .work-filter > div:nth-child(1) {
    grid-column: 1;
    -ms-grid-column: 1;
  }
  .page-work .work-filter > div:nth-child(2) {
    grid-column: 2;
    -ms-grid-column: 2;
  }
  .page-work .work-filter > div:nth-child(3) {
    grid-column: 3;
    -ms-grid-column: 3;
  }
  .page-work .work-filter > div:nth-child(4) {
    grid-column: 4;
    -ms-grid-column: 4;
  }
}
@media (-ms-high-contrast: active) {
  .page-work .work-filter > div:nth-child(1) {
    grid-column: 1;
    -ms-grid-column: 1;
  }
  .page-work .work-filter > div:nth-child(2) {
    grid-column: 2;
    -ms-grid-column: 2;
  }
  .page-work .work-filter > div:nth-child(3) {
    grid-column: 3;
    -ms-grid-column: 3;
  }
  .page-work .work-filter > div:nth-child(4) {
    grid-column: 4;
    -ms-grid-column: 4;
  }
}/*# sourceMappingURL=clean.css.map */