[lang="zh-Hans"]{
	body{
		font-family: "Noto Sans SC", "Helvetica Neue", Arial, sans-serif;
		line-height: 1.4;
	}
	h1{
		line-height: 1.2;
	}
	h2{
		line-height: 1.5;
	}
	.signup-footer{
		.grid{
			align-items: center;
		}
		h2{
			margin-bottom: 0;
		}
		form{
			margin-top: 0;
		}
	}
	footer{
		p{
			line-height: 1.4;
		}
	}
}