@media print {
    .page-website-brief-report .print-hidden {
        display: block !important;
    }
    .page-website-brief-report > section,
    .page-website-brief-report > footer {
        display: none !important;
    }
    .page-website-brief-report #main-container {
      padding-top: 0 !important; 
    }
}